<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PZ_SceneFX_DengLong_Sprite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,55},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,55},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{37,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,82}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{435,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,51}}</string>
                <key>sourceSize</key>
                <string>{435,51}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,55},{75,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,55},{75,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>PZ_SceneFX_DengLong_Sprite_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{16,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,46}}</string>
                <key>sourceSize</key>
                <string>{16,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PZ_SceneFX_DengLong_Sprite.png</string>
            <key>size</key>
            <string>{532,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8ca307e639e1b9df25e900fbe069de$</string>
            <key>textureFileName</key>
            <string>PZ_SceneFX_DengLong_Sprite.png</string>
        </dict>
    </dict>
</plist>
