<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alpha_ball2_Alpha.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,406},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,959},{472,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,438}}</string>
                <key>sourceSize</key>
                <string>{472,438}</string>
            </dict>
            <key>box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,959},{472,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,438}}</string>
                <key>sourceSize</key>
                <string>{472,438}</string>
            </dict>
            <key>box03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,664},{321,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,293}}</string>
                <key>sourceSize</key>
                <string>{321,293}</string>
            </dict>
            <key>box04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,191}}</string>
                <key>sourceSize</key>
                <string>{308,191}</string>
            </dict>
            <key>fangsheguang_00104.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1399},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>glow_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1399},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>glow_00127.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,406},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_00140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_3874-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,664},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_hot_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,664},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jubaopeng_logw_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jubaopeng_logw_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Activity_Baicaishen_bx.png</string>
            <key>size</key>
            <string>{1099,1913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4088f20ebe17fed8f76b0adcaba3f9d$</string>
            <key>textureFileName</key>
            <string>Activity_Baicaishen_bx.png</string>
        </dict>
    </dict>
</plist>
