<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_baoting_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,534},{139,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,87}}</string>
                <key>sourceSize</key>
                <string>{139,87}</string>
            </dict>
            <key>btn_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1062},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_bu_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,978},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_bupai_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,354},{157,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,87}}</string>
                <key>sourceSize</key>
                <string>{157,87}</string>
            </dict>
            <key>btn_buzhang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>btn_eat_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>btn_eat_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_pass_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,892},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>btn_peng_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,720},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_peng_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_win_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btn_win_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_yaoyise_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,622},{104,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,97}}</string>
                <key>sourceSize</key>
                <string>{104,97}</string>
            </dict>
            <key>btn_zhongtuliuliushun_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{262,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,87}}</string>
                <key>sourceSize</key>
                <string>{262,87}</string>
            </dict>
            <key>btn_zhongtusixi_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>decision_sign_cs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,145},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>decision_sign_cs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>decision_sign_cs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,720},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>decision_sign_cs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,442},{133,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,91}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>decision_sign_cs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,808},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>decision_sign_cs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{142,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,74}</string>
            </dict>
            <key>decision_sign_cs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,265},{160,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,88}}</string>
                <key>sourceSize</key>
                <string>{160,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changshamjbtn.png</string>
            <key>size</key>
            <string>{253,1147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a5c279bfb57eecad127e74b2ed8794:1/1$</string>
            <key>textureFileName</key>
            <string>changshamjbtn.png</string>
        </dict>
    </dict>
</plist>
