<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cs_starthupai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1296},{184,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,85}}</string>
                <key>sourceSize</key>
                <string>{184,85}</string>
            </dict>
            <key>btn_cs_starthupai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1106},{189,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>btn_cs_starthupai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1505},{120,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,83}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>btn_cs_starthupai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1420},{183,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,85}}</string>
                <key>sourceSize</key>
                <string>{183,85}</string>
            </dict>
            <key>btn_cs_starthupai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,934},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>btn_cs_starthupai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1106},{189,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>btn_cs_starthupai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,934},{191,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,85}}</string>
                <key>sourceSize</key>
                <string>{191,85}</string>
            </dict>
            <key>btn_cs_starthupai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1300},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>btn_cs_starthupai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1062},{237,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,86}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>tile_cs_banbanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1305},{244,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,79}}</string>
                <key>sourceSize</key>
                <string>{244,79}</string>
            </dict>
            <key>tile_cs_chaojihaohuaqixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,86}}</string>
                <key>sourceSize</key>
                <string>{505,86}</string>
            </dict>
            <key>tile_cs_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1190},{155,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,78}}</string>
                <key>sourceSize</key>
                <string>{155,78}</string>
            </dict>
            <key>tile_cs_hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,597},{290,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,83}}</string>
                <key>sourceSize</key>
                <string>{290,83}</string>
            </dict>
            <key>tile_cs_hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1546},{235,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,83}}</string>
                <key>sourceSize</key>
                <string>{235,83}</string>
            </dict>
            <key>tile_cs_hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,411},{408,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,86}}</string>
                <key>sourceSize</key>
                <string>{408,86}</string>
            </dict>
            <key>tile_cs_hu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,681},{269,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,83}}</string>
                <key>sourceSize</key>
                <string>{269,83}</string>
            </dict>
            <key>tile_cs_hu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{249,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,83}}</string>
                <key>sourceSize</key>
                <string>{249,83}</string>
            </dict>
            <key>tile_cs_hu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{331,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,84}}</string>
                <key>sourceSize</key>
                <string>{331,84}</string>
            </dict>
            <key>tile_cs_hu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,236},{427,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,87}}</string>
                <key>sourceSize</key>
                <string>{427,87}</string>
            </dict>
            <key>tile_cs_hu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,324},{425,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,86}}</string>
                <key>sourceSize</key>
                <string>{425,86}</string>
            </dict>
            <key>tile_cs_hu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1106},{140,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,83}}</string>
                <key>sourceSize</key>
                <string>{140,83}</string>
            </dict>
            <key>tile_cs_hu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{251,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,83}}</string>
                <key>sourceSize</key>
                <string>{251,83}</string>
            </dict>
            <key>tile_cs_hu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1053},{251,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,83}}</string>
                <key>sourceSize</key>
                <string>{251,83}</string>
            </dict>
            <key>tile_cs_hu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{408,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,86}}</string>
                <key>sourceSize</key>
                <string>{408,86}</string>
            </dict>
            <key>tile_cs_hu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,780},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,850},{251,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,83}}</string>
                <key>sourceSize</key>
                <string>{251,83}</string>
            </dict>
            <key>tile_cs_hu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{453,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,140}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>tile_cs_hu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,639},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1305},{239,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,140}}</string>
                <key>sourceSize</key>
                <string>{239,140}</string>
            </dict>
            <key>tile_cs_hu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,498},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1298},{206,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,140}}</string>
                <key>sourceSize</key>
                <string>{206,140}</string>
            </dict>
            <key>tile_cs_hu_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,921},{327,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,140}}</string>
                <key>sourceSize</key>
                <string>{327,140}</string>
            </dict>
            <key>tile_cs_hu_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>tile_cs_hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1537},{229,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,89}}</string>
                <key>sourceSize</key>
                <string>{229,89}</string>
            </dict>
            <key>tile_cs_hu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,95},{453,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,140}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>tile_cs_hu_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{453,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,140}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>tile_cs_hu_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,95},{243,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,90}}</string>
                <key>sourceSize</key>
                <string>{243,90}</string>
            </dict>
            <key>tile_cs_hu_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{480,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,92}}</string>
                <key>sourceSize</key>
                <string>{480,92}</string>
            </dict>
            <key>tile_cs_hu_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1347},{153,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tile_cs_hu_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1481},{147,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,79}}</string>
                <key>sourceSize</key>
                <string>{147,79}</string>
            </dict>
            <key>tile_cs_hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1062},{235,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,86}}</string>
                <key>sourceSize</key>
                <string>{235,86}</string>
            </dict>
            <key>tile_cs_hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1053},{245,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,79}}</string>
                <key>sourceSize</key>
                <string>{245,79}</string>
            </dict>
            <key>tile_cs_hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{243,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,80}}</string>
                <key>sourceSize</key>
                <string>{243,80}</string>
            </dict>
            <key>tile_cs_hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{323,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,86}}</string>
                <key>sourceSize</key>
                <string>{323,86}</string>
            </dict>
            <key>tile_cs_hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1305},{243,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,82}}</string>
                <key>sourceSize</key>
                <string>{243,82}</string>
            </dict>
            <key>tile_cs_jiangyizhihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1062},{237,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,77}}</string>
                <key>sourceSize</key>
                <string>{237,77}</string>
            </dict>
            <key>tile_cs_jiejiegao.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1020},{189,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,85}}</string>
                <key>sourceSize</key>
                <string>{189,85}</string>
            </dict>
            <key>tile_cs_jintongyunv.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1299},{236,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,74}}</string>
                <key>sourceSize</key>
                <string>{236,74}</string>
            </dict>
            <key>tile_cs_liuliushun.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1062},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>tile_cs_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1305},{240,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,83}}</string>
                <key>sourceSize</key>
                <string>{240,83}</string>
            </dict>
            <key>tile_cs_queyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1300},{237,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,78}}</string>
                <key>sourceSize</key>
                <string>{237,78}</string>
            </dict>
            <key>tile_cs_santong.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,339},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>tile_cs_sixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1269},{155,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>tile_cs_yizhihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,425},{191,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,85}}</string>
                <key>sourceSize</key>
                <string>{191,85}</string>
            </dict>
            <key>tile_cs_zhongtuliuliushun.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,765},{262,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,84}}</string>
                <key>sourceSize</key>
                <string>{262,84}</string>
            </dict>
            <key>tile_cs_zhongtusixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,511},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cshupaitype.pvr.ccz</string>
            <key>size</key>
            <string>{1018,1632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f1fa8684f1df2fbc7b8baf85ccaba2:1/1$</string>
            <key>textureFileName</key>
            <string>cshupaitype.pvr.ccz</string>
        </dict>
    </dict>
</plist>
