<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ps_turn_jishiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,175},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_bei_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_dong_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_nan_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,200},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>ps_turn_jishiqi_fangxiang_xi_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,175},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>ps_turn_jishiqi_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{112,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,48}}</string>
                <key>sourceSize</key>
                <string>{112,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ps_turn_seat.png</string>
            <key>size</key>
            <string>{176,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9b5d7cfaf419dce63653f21644c285b:1/1$</string>
            <key>textureFileName</key>
            <string>ps_turn_seat.png</string>
        </dict>
    </dict>
</plist>
