<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_lvse.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,5},{184,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,62}}</string>
                <key>sourceSize</key>
                <string>{184,62}</string>
            </dict>
            <key>club_dlm_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,5},{312,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,75}}</string>
                <key>sourceSize</key>
                <string>{312,75}</string>
            </dict>
            <key>club_dlm_btn1_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,5},{90,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>club_dlm_btn1_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{90,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>club_dlm_btx_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,61},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>club_dlm_btx_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,5},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_dlm_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,57},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>club_dlm_dikuang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,57},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>club_dlm_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1069,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1069,1}}</string>
                <key>sourceSize</key>
                <string>{1069,1}</string>
            </dict>
            <key>dlm__bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,5},{77,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>dlm_bg_hui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,5},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>dlm_btx_tjwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,69},{126,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,26}}</string>
                <key>sourceSize</key>
                <string>{126,26}</string>
            </dict>
            <key>dlm_tit_xgwfmc.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,5},{259,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,50}}</string>
                <key>sourceSize</key>
                <string>{259,50}</string>
            </dict>
            <key>icon_bianji_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,69},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>icon_bianji_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,69},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majorleague.png</string>
            <key>size</key>
            <string>{1073,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e478f49cdfa36fc15ea7a061c9531f07:1/1$</string>
            <key>textureFileName</key>
            <string>majorleague.png</string>
        </dict>
    </dict>
</plist>
