<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,47},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,35},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,23},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,33},{19,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,11}}</string>
                <key>sourceSize</key>
                <string>{19,11}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,47},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,41},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,41},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{59,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,37}}</string>
                <key>sourceSize</key>
                <string>{59,37}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,42},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,35},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,94}}</string>
                <key>sourceSize</key>
                <string>{58,94}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_DeSe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_DeSe.png</string>
            <key>size</key>
            <string>{283,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806ef038e7af5187f62c4665b063352c$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_DeSe.png</string>
        </dict>
    </dict>
</plist>
