<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,103}}</string>
                <key>sourceSize</key>
                <string>{58,103}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,167},{12,12}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{12,12}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{16,10}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{16,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,133},{28,20}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,163},{22,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{22,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,183},{16,22}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{18,22}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,183},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_TanQi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{32,34}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_TanQi.png</string>
            <key>size</key>
            <string>{62,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45c65b89fbd31efa9d0f095ef73136e3$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_TanQi.png</string>
        </dict>
    </dict>
</plist>
