<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,260},{12,8}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{12,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,352},{14,8}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{14,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,140},{13,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,118}}</string>
                <key>sourceSize</key>
                <string>{13,118}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,482},{28,28}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,296},{24,28}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,70},{92,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,68}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,140},{92,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{90,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,340},{88,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,274},{88,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{90,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,208},{92,64}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,64}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{94,66}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,352},{24,20}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{24,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{96,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{94,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,68}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,378},{18,22}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{18,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,214},{34,44}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{34,44}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,438},{38,66}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,34},{38,66}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,346},{42,90}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{42,90}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{44,88}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{44,88}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,340},{40,86}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{40,86}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,428},{40,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{40,82}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,92},{36,66}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{36,66}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,160},{34,52}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{34,52}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,430},{28,50}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{28,50}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,402},{18,16}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{18,16}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,274},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,326},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{24,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiaoJi_Ku_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,260},{34,30}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{34,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_Ku.png</string>
            <key>size</key>
            <string>{245,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61231404a7e57917ef30d54eff09f2a9$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XiaoJi_Ku.png</string>
        </dict>
    </dict>
</plist>
