<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_big_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_big_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>1_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,493},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,342},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,458},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,450},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,414},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,423},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,378},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,342},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,480},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,444},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,388},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,480},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,353},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,318},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,408},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,444},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,283},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>1_small_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,480},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,372},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,408},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>1_small_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,444},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>big_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,271},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,273},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>big_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>d_backface.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,270}}</string>
                <key>sourceSize</key>
                <string>{92,270}</string>
            </dict>
            <key>paidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,271},{118,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,64}</string>
            </dict>
            <key>small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,483},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,336},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,448},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,372},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,408},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,413},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,336},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,372},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,271},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,336},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,378},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,248},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,353},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,486},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,213},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,178},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,307},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>small_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,143},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,108},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,73},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>small_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,38},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>x_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>phz_cards.pvr.ccz</string>
            <key>size</key>
            <string>{2043,543}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582f1c31274d8a20b0e4fe80c9fc654a:1/1$</string>
            <key>textureFileName</key>
            <string>phz_cards.pvr.ccz</string>
        </dict>
    </dict>
</plist>
