<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{170,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,81}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{170,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,81}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1863},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btx_bupiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>btx_piao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1352},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>btx_piao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1275},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>btx_piao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1198},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>diwen_paohuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1663},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,238},{1280,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,2}}</string>
                <key>sourceSize</key>
                <string>{1280,2}</string>
            </dict>
            <key>gameInfoBM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{505,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,32}}</string>
                <key>sourceSize</key>
                <string>{505,32}</string>
            </dict>
            <key>gameReaChi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{132,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{132,124}</string>
            </dict>
            <key>gameReaChongZhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,143}}</string>
                <key>sourceSize</key>
                <string>{234,143}</string>
            </dict>
            <key>gameReaHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{115,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,124}}</string>
                <key>sourceSize</key>
                <string>{115,124}</string>
            </dict>
            <key>gameReaPao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{121,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,114}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>gameReaPeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{136,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,114}}</string>
                <key>sourceSize</key>
                <string>{136,114}</string>
            </dict>
            <key>gameReaTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>gameReaWei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{125,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,118}}</string>
                <key>sourceSize</key>
                <string>{125,118}</string>
            </dict>
            <key>ico_chongzhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1520},{20,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,56}}</string>
                <key>sourceSize</key>
                <string>{20,56}</string>
            </dict>
            <key>ico_piao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1163},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>ico_piao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1508},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>ico_piao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{79,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,32}}</string>
                <key>sourceSize</key>
                <string>{79,32}</string>
            </dict>
            <key>ico_piao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1647},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>ico_piao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1583},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>phz_btn_chu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{131,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>shengyupaishu_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1418},{243,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,37}}</string>
                <key>sourceSize</key>
                <string>{243,37}</string>
            </dict>
            <key>shengyupaishu_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1089},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,42}}</string>
                <key>sourceSize</key>
                <string>{72,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playscene_PHZ.png</string>
            <key>size</key>
            <string>{147,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52eda899ca95827b1c50b2fa3f860a6e:1/1$</string>
            <key>textureFileName</key>
            <string>playscene_PHZ.png</string>
        </dict>
    </dict>
</plist>
