<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,399},{255,241}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{255,241}}</string>
                <key>sourceSize</key>
                <string>{281,283}</string>
            </dict>
            <key>chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,812},{154,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,138}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,812},{154,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,138}}</string>
                <key>sourceSize</key>
                <string>{158,140}</string>
            </dict>
            <key>gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{293,248}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{293,248}}</string>
                <key>sourceSize</key>
                <string>{297,264}</string>
            </dict>
            <key>gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,641},{170,177}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{170,177}}</string>
                <key>sourceSize</key>
                <string>{184,183}</string>
            </dict>
            <key>gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,228},{170,177}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{170,177}}</string>
                <key>sourceSize</key>
                <string>{184,183}</string>
            </dict>
            <key>hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,271}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{269,271}}</string>
                <key>sourceSize</key>
                <string>{341,317}</string>
            </dict>
            <key>hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,967},{135,150}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{135,150}}</string>
                <key>sourceSize</key>
                <string>{143,156}</string>
            </dict>
            <key>hu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,967},{135,150}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{135,150}}</string>
                <key>sourceSize</key>
                <string>{143,156}</string>
            </dict>
            <key>moji.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{227,225}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,225}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{238,245}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{238,245}}</string>
                <key>sourceSize</key>
                <string>{314,299}</string>
            </dict>
            <key>peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{154,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{154,144}}</string>
                <key>sourceSize</key>
                <string>{162,152}</string>
            </dict>
            <key>peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{154,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{154,144}}</string>
                <key>sourceSize</key>
                <string>{162,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chipeng.pvr.ccz</string>
            <key>size</key>
            <string>{508,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1266f120f2d31bc884081f529476edc1:1/1$</string>
            <key>textureFileName</key>
            <string>chipeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
