<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_gangshangkaihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1498},{324,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,86}}</string>
                <key>sourceSize</key>
                <string>{324,86}</string>
            </dict>
            <key>da_gangshangpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1840},{244,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,82}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>da_haidilaoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1429},{290,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,84}}</string>
                <key>sourceSize</key>
                <string>{290,84}</string>
            </dict>
            <key>da_haidipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1755},{236,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,84}}</string>
                <key>sourceSize</key>
                <string>{236,84}</string>
            </dict>
            <key>da_haohuaqxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,565},{408,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,86}}</string>
                <key>sourceSize</key>
                <string>{408,86}</string>
            </dict>
            <key>da_jiangjianghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1937},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>da_pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1923},{246,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,80}}</string>
                <key>sourceSize</key>
                <string>{246,80}</string>
            </dict>
            <key>da_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1755},{240,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,84}}</string>
                <key>sourceSize</key>
                <string>{240,84}</string>
            </dict>
            <key>da_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1104},{230,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,90}}</string>
                <key>sourceSize</key>
                <string>{230,90}</string>
            </dict>
            <key>da_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1684},{252,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,84}}</string>
                <key>sourceSize</key>
                <string>{252,84}</string>
            </dict>
            <key>da_quanqiuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1840},{244,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{244,80}</string>
            </dict>
            <key>dahu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,958},{470,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,194}}</string>
                <key>sourceSize</key>
                <string>{470,194}</string>
            </dict>
            <key>dahu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1720},{588,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,310}}</string>
                <key>sourceSize</key>
                <string>{588,310}</string>
            </dict>
            <key>dahu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{556,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,538}}</string>
                <key>sourceSize</key>
                <string>{556,538}</string>
            </dict>
            <key>dahu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,562}}</string>
                <key>sourceSize</key>
                <string>{720,562}</string>
            </dict>
            <key>dahu_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{720,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,494}}</string>
                <key>sourceSize</key>
                <string>{720,494}</string>
            </dict>
            <key>dahu_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,497},{720,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,460}}</string>
                <key>sourceSize</key>
                <string>{720,460}</string>
            </dict>
            <key>dahu_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{658,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,450}}</string>
                <key>sourceSize</key>
                <string>{658,450}</string>
            </dict>
            <key>dahu_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{612,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,382}}</string>
                <key>sourceSize</key>
                <string>{612,382}</string>
            </dict>
            <key>dahu_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,661},{650,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,416}}</string>
                <key>sourceSize</key>
                <string>{650,416}</string>
            </dict>
            <key>dahu_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1720},{340,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,318}}</string>
                <key>sourceSize</key>
                <string>{340,318}</string>
            </dict>
            <key>dandao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,958},{442,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,494}}</string>
                <key>sourceSize</key>
                <string>{442,494}</string>
            </dict>
            <key>dandao_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1696},{332,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,384}}</string>
                <key>sourceSize</key>
                <string>{332,384}</string>
            </dict>
            <key>dandao_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{222,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,428}}</string>
                <key>sourceSize</key>
                <string>{222,428}</string>
            </dict>
            <key>dandao_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,954},{58,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,384}}</string>
                <key>sourceSize</key>
                <string>{58,384}</string>
            </dict>
            <key>dandao_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,565},{68,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,388}}</string>
                <key>sourceSize</key>
                <string>{68,388}</string>
            </dict>
            <key>dandao_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1339},{78,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,374}}</string>
                <key>sourceSize</key>
                <string>{78,374}</string>
            </dict>
            <key>dandao_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,974},{86,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,362}}</string>
                <key>sourceSize</key>
                <string>{86,362}</string>
            </dict>
            <key>dandao_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1401},{96,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,326}}</string>
                <key>sourceSize</key>
                <string>{96,326}</string>
            </dict>
            <key>dandao_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1429},{102,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,272}}</string>
                <key>sourceSize</key>
                <string>{102,272}</string>
            </dict>
            <key>dandao_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1585},{110,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,248}}</string>
                <key>sourceSize</key>
                <string>{110,248}</string>
            </dict>
            <key>dandao_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1585},{98,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,244}}</string>
                <key>sourceSize</key>
                <string>{98,244}</string>
            </dict>
            <key>diguang_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1312},{442,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,444}}</string>
                <key>sourceSize</key>
                <string>{442,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dahu.pvr.ccz</string>
            <key>size</key>
            <string>{1896,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998654671f546deb4f039228a10388a9:1/1$</string>
            <key>textureFileName</key>
            <string>dahu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
