<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hailang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{368,38}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{368,38}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{384,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{384,38}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{386,40}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{386,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{392,40}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{392,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{388,42}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{388,42}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,866},{346,44}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{346,44}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1013},{342,46}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{342,46}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,962},{344,50}}</string>
                <key>offset</key>
                <string>{-21,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{344,50}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{356,50}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{356,50}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{372,52}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{372,52}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{382,52}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{382,52}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,391},{386,54}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{386,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,391},{384,54}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{384,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,776},{378,54}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{378,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1101},{326,40}}</string>
                <key>offset</key>
                <string>{-43,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{326,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1060},{336,40}}</string>
                <key>offset</key>
                <string>{-38,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{336,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,815},{354,40}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{354,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{368,42}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{368,42}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{380,44}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{380,44}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{396,48}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{396,48}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{404,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{404,50}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{408,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{408,52}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{412,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{412,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{412,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{412,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{412,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{412,54}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{412,56}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang27.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{388,56}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{388,56}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang28.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,911},{344,50}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{344,50}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang29.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,815},{348,50}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,3},{348,50}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
            <key>hailang30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{370,40}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{370,40}}</string>
                <key>sourceSize</key>
                <string>{412,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hailang.pvr.ccz</string>
            <key>size</key>
            <string>{506,1175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15736aee31247df56ad2138180ceb045:1/1$</string>
            <key>textureFileName</key>
            <string>hailang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
