<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caisefangshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>caisefangshe2_danzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,145},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>fangsheguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,180},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,421},{80,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>gaoguangdanzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,288},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>hutexiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,173},{167,103}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{167,103}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,277},{167,99}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{167,99}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,377},{163,97}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,80},{163,97}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,358},{149,175}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{149,175}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,180},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,180},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,358},{115,147}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{115,147}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,358},{107,147}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{107,147}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,377},{103,113}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{103,113}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,351},{105,69}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,81},{105,69}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>hutexiao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,288},{75,73}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,81},{75,73}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,421},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>pt_diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,488}}</string>
                <key>sourceSize</key>
                <string>{492,488}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>haohuaqidui.pvr.ccz</string>
            <key>size</key>
            <string>{1314,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70301d1a8a865c348b2161e32f9505dc:1/1$</string>
            <key>textureFileName</key>
            <string>haohuaqidui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
