<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longjuanfeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{66,75}}</string>
                <key>offset</key>
                <string>{-80,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{66,75}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{108,161}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,161}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{106,151}}</string>
                <key>offset</key>
                <string>{-46,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{106,151}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{108,161}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{108,161}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{110,161}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{110,161}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{110,151}}</string>
                <key>offset</key>
                <string>{22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,10},{110,151}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{120,151}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,10},{120,151}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,121}}</string>
                <key>offset</key>
                <string>{45,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,10},{100,121}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{84,71}}</string>
                <key>offset</key>
                <string>{49,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,46},{84,71}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1181},{72,51}}</string>
                <key>offset</key>
                <string>{77,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,42},{72,51}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{84,63}}</string>
                <key>offset</key>
                <string>{71,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,20},{84,63}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
            <key>longjuanfeng12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1045},{38,41}}</string>
                <key>offset</key>
                <string>{53,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,22},{38,41}}</string>
                <key>sourceSize</key>
                <string>{226,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longjuanfeng.pvr.ccz</string>
            <key>size</key>
            <string>{127,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2805531bdd275eac06a31c5bfe28657:1/1$</string>
            <key>textureFileName</key>
            <string>longjuanfeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
