<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,403},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,246},{80,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>hai.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,484},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{71,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,329},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>hua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{74,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,97},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,486},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>lao.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,160},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>liu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,560},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{83,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,78}}</string>
                <key>sourceSize</key>
                <string>{83,78}</string>
            </dict>
            <key>qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,232},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,86},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>qing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,182},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>que.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,553},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,294},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>se.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,629},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,691},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>shun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>si.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,695},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,406},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,631},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,691},{72,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,28}}</string>
                <key>sourceSize</key>
                <string>{72,28}</string>
            </dict>
            <key>yue.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,355},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>平胡.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{164,94}}</string>
                <key>sourceSize</key>
                <string>{170,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zi-chaifen.pvr.ccz</string>
            <key>size</key>
            <string>{248,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0c21735981c0c2496c9f52eb61a1e06:1/1$</string>
            <key>textureFileName</key>
            <string>zi-chaifen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
