<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_yijian_btx_bianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{71,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,34}}</string>
                <key>sourceSize</key>
                <string>{71,34}</string>
            </dict>
            <key>club_yijian_btx_guanbichuangjianfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,85},{187,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,34}}</string>
                <key>sourceSize</key>
                <string>{187,34}</string>
            </dict>
            <key>club_yijian_btx_guanbijiankaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,81},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,33}}</string>
                <key>sourceSize</key>
                <string>{189,33}</string>
            </dict>
            <key>club_yijian_btx_kaiqichuangjianfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,85},{188,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,34}}</string>
                <key>sourceSize</key>
                <string>{188,34}</string>
            </dict>
            <key>club_yijian_btx_kaiqiyijiankaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,47},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,33}}</string>
                <key>sourceSize</key>
                <string>{189,33}</string>
            </dict>
            <key>club_yijian_btx_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>club_yijian_di_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>club_yijian_di_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{44,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,228}}</string>
                <key>sourceSize</key>
                <string>{44,228}</string>
            </dict>
            <key>club_yijian_di_qipaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{274,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,82}}</string>
                <key>sourceSize</key>
                <string>{274,82}</string>
            </dict>
            <key>club_yijian_ico_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>club_yijian_ico_paodekuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>club_yijian_ico_paohuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,55},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>club_yijian_yiguanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,117}}</string>
                <key>sourceSize</key>
                <string>{194,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_fastCreate.png</string>
            <key>size</key>
            <string>{946,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34e740b24a6a66103127a947939cddc0:1/1$</string>
            <key>textureFileName</key>
            <string>club_fastCreate.png</string>
        </dict>
    </dict>
</plist>
