<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_hall_bg_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,495},{180,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,43}}</string>
                <key>sourceSize</key>
                <string>{180,43}</string>
            </dict>
            <key>club_hall_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{353,649}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,649}}</string>
                <key>sourceSize</key>
                <string>{353,649}</string>
            </dict>
            <key>club_hall_bg_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{34,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,178}}</string>
                <key>sourceSize</key>
                <string>{34,178}</string>
            </dict>
            <key>club_hall_btn_dengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1248},{95,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>club_hall_btn_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1290},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>club_hall_btn_guanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1159},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>club_hall_btn_wanjiaqieye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{353,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,100}}</string>
                <key>sourceSize</key>
                <string>{353,100}</string>
            </dict>
            <key>club_hall_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1109},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
            <key>club_hall_btx_chuangjianfanjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,788},{157,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,42}}</string>
                <key>sourceSize</key>
                <string>{157,42}</string>
            </dict>
            <key>club_hall_btx_fanhuifangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,677},{157,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,42}}</string>
                <key>sourceSize</key>
                <string>{157,42}</string>
            </dict>
            <key>club_hall_btx_hulue.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,856},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>club_hall_btx_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,958},{99,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,40}}</string>
                <key>sourceSize</key>
                <string>{99,40}</string>
            </dict>
            <key>club_hall_btx_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1290},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>club_hall_btx_lijikaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,695},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
            <key>club_hall_btx_lijiqianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,947},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>club_hall_btx_tuichuqinyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,495},{198,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,41}}</string>
                <key>sourceSize</key>
                <string>{198,41}</string>
            </dict>
            <key>club_hall_btx_yijiankaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,628},{158,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,42}}</string>
                <key>sourceSize</key>
                <string>{158,42}</string>
            </dict>
            <key>club_hall_btx_zhidaola.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1248},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>club_hall_ico_caishenye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,489}}</string>
                <key>sourceSize</key>
                <string>{491,489}</string>
            </dict>
            <key>club_hall_ico_dengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,602},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>club_hall_ico_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1173},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>club_hall_ico_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1369},{283,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,2}}</string>
                <key>sourceSize</key>
                <string>{283,2}</string>
            </dict>
            <key>club_hall_ico_helpfangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1096},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>club_hall_ico_hongdiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1332},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>club_hall_ico_lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,495},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>club_hall_ico_youxizhogn.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1291},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>club_hall_ico_youxizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1332},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>club_hall_ico_zaixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,548},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>club_hall_tit_qinyouquanyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1291},{199,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,41}}</string>
                <key>sourceSize</key>
                <string>{199,41}</string>
            </dict>
            <key>club_hall_tit_roominfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,836},{158,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,41}}</string>
                <key>sourceSize</key>
                <string>{158,41}</string>
            </dict>
            <key>club_hall_tit_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,996},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>club_hall_tit_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1059},{98,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,39}}</string>
                <key>sourceSize</key>
                <string>{98,39}</string>
            </dict>
            <key>club_hall_tit_yijianguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{236,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,41}}</string>
                <key>sourceSize</key>
                <string>{236,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_hall.png</string>
            <key>size</key>
            <string>{493,1375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72df0e0434782053baef0aba667019d7:1/1$</string>
            <key>textureFileName</key>
            <string>club_hall.png</string>
        </dict>
    </dict>
</plist>
