<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_mem_bg_geduan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,70},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>club_mem_bg_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{323,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,50}}</string>
                <key>sourceSize</key>
                <string>{323,50}</string>
            </dict>
            <key>club_mem_bg_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1021,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,38}}</string>
                <key>sourceSize</key>
                <string>{1021,38}</string>
            </dict>
            <key>club_mem_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,76},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>club_mem_btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,76},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>club_mem_btn_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,72},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>club_mem_btn_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,72},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>club_mem_btn_top_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,42},{166,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,48}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>club_mem_btn_top_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,42},{166,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,48}}</string>
                <key>sourceSize</key>
                <string>{166,48}</string>
            </dict>
            <key>club_mem_btn_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,70},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>club_mem_btx_chengyuanguanli_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,34},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>club_mem_btx_chengyuanguanli_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,62},{138,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,36}}</string>
                <key>sourceSize</key>
                <string>{138,36}</string>
            </dict>
            <key>club_mem_btx_fengjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,58},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_mem_btx_fuzhierweimaqianwangyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{216,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,26}}</string>
                <key>sourceSize</key>
                <string>{216,26}</string>
            </dict>
            <key>club_mem_btx_fuzhilianjieqianwangyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{192,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,26}}</string>
                <key>sourceSize</key>
                <string>{192,26}</string>
            </dict>
            <key>club_mem_btx_fuzhiqianwanglianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,34},{144,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,26}}</string>
                <key>sourceSize</key>
                <string>{144,26}</string>
            </dict>
            <key>club_mem_btx_jiejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,2},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_mem_btx_jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,88},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>club_mem_btx_kaishichaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,70},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>club_mem_btx_kuaisuchaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,70},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>club_mem_btx_quantichengyuanzhanji_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,34},{167,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,30}}</string>
                <key>sourceSize</key>
                <string>{167,30}</string>
            </dict>
            <key>club_mem_btx_quantichengyuanzhanji_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{171,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,30}}</string>
                <key>sourceSize</key>
                <string>{171,30}</string>
            </dict>
            <key>club_mem_btx_shezhiweizhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,94},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>club_mem_btx_shezhizhuli_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,34},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>club_mem_btx_shezhizhuli_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,62},{139,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,36}}</string>
                <key>sourceSize</key>
                <string>{139,36}</string>
            </dict>
            <key>club_mem_btx_tichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,72},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>club_mem_btx_tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,60},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>club_mem_btx_xiashuchengyuanxinxi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,30},{167,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,30}}</string>
                <key>sourceSize</key>
                <string>{167,30}</string>
            </dict>
            <key>club_mem_btx_xiashuchengyuanxinxi_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2},{171,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,30}}</string>
                <key>sourceSize</key>
                <string>{171,30}</string>
            </dict>
            <key>club_mem_btx_xiashuchengyuanzhanji_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2},{167,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,30}}</string>
                <key>sourceSize</key>
                <string>{167,30}</string>
            </dict>
            <key>club_mem_btx_xiashuchengyuanzhanji_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,92},{172,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,30}}</string>
                <key>sourceSize</key>
                <string>{172,30}</string>
            </dict>
            <key>club_mem_btx_yijianzuju_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,66},{134,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,34}}</string>
                <key>sourceSize</key>
                <string>{134,34}</string>
            </dict>
            <key>club_mem_btx_yijianzuju_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,34},{137,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,36}}</string>
                <key>sourceSize</key>
                <string>{137,36}</string>
            </dict>
            <key>club_mem_btx_zhuanshulianjie_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,2},{168,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,30}}</string>
                <key>sourceSize</key>
                <string>{168,30}</string>
            </dict>
            <key>club_mem_btx_zhuanshulianjie_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,92},{172,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,30}}</string>
                <key>sourceSize</key>
                <string>{172,30}</string>
            </dict>
            <key>club_mem_btx_zhulichengyuanzhanji_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,42},{180,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,31}}</string>
                <key>sourceSize</key>
                <string>{180,31}</string>
            </dict>
            <key>club_mem_btx_zhulichengyuanzhanji_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,42},{175,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,32}}</string>
                <key>sourceSize</key>
                <string>{175,32}</string>
            </dict>
            <key>club_mem_ico_fengjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,66},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>club_mem_ico_manager.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,31},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>club_mem_ico_partner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{63,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,27}}</string>
                <key>sourceSize</key>
                <string>{63,27}</string>
            </dict>
            <key>club_mem_tit_wenxintishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,75},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_mem.png</string>
            <key>size</key>
            <string>{2020,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01c9329ca9e41e9a3120045ca7c5958:1/1$</string>
            <key>textureFileName</key>
            <string>club_mem.png</string>
        </dict>
    </dict>
</plist>
