<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_more_bg_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{86,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{86,72}</string>
            </dict>
            <key>club_more_bg_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,261},{42,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,133}}</string>
                <key>sourceSize</key>
                <string>{42,133}</string>
            </dict>
            <key>club_more_bg_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{42,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,133}}</string>
                <key>sourceSize</key>
                <string>{42,133}</string>
            </dict>
            <key>club_more_btn_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{203,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,74}}</string>
                <key>sourceSize</key>
                <string>{203,74}</string>
            </dict>
            <key>club_more_btn_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,433},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>club_more_btx_dangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,346},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>club_more_btx_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,57},{53,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,24}}</string>
                <key>sourceSize</key>
                <string>{53,24}</string>
            </dict>
            <key>club_more_btx_lijijiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,261},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>club_more_btx_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>club_more_btx_yijujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,328},{103,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>club_more_btx_yiquxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,223},{103,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>club_more_hl_shenqingjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,261},{123,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>club_more_hl_wodeqinyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{154,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,36}}</string>
                <key>sourceSize</key>
                <string>{154,36}</string>
            </dict>
            <key>club_more_ico_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,143}}</string>
                <key>sourceSize</key>
                <string>{218,145}</string>
            </dict>
            <key>club_more_tit_gengduoqinyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,147},{197,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,41}}</string>
                <key>sourceSize</key>
                <string>{197,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_more.png</string>
            <key>size</key>
            <string>{250,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b358b782c50478dfed9f4a2e91c5db3:1/1$</string>
            <key>textureFileName</key>
            <string>club_more.png</string>
        </dict>
    </dict>
</plist>
