<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guil_fc_text_closeCreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,210},{197,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,40}}</string>
                <key>sourceSize</key>
                <string>{197,40}</string>
            </dict>
            <key>guil_fc_text_closefc.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,201},{198,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,39}}</string>
                <key>sourceSize</key>
                <string>{198,39}</string>
            </dict>
            <key>guil_fc_text_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,152},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>guil_fc_text_openCreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{197,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,40}}</string>
                <key>sourceSize</key>
                <string>{197,40}</string>
            </dict>
            <key>guil_fc_text_openfc.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{198,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,39}}</string>
                <key>sourceSize</key>
                <string>{198,39}</string>
            </dict>
            <key>guild_fc_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>guild_fc_rmbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,207}}</string>
                <key>sourceSize</key>
                <string>{452,207}</string>
            </dict>
            <key>guild_fc_sign_mj.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,210},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>guild_fc_sign_pdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,201},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>guild_fc_sign_phz.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,192},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>guild_fc_stamp_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{194,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,117}}</string>
                <key>sourceSize</key>
                <string>{194,117}</string>
            </dict>
            <key>guild_fc_text_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,111},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>guild_fc_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,120},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_fastCreate.pvr.ccz</string>
            <key>size</key>
            <string>{793,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8ab744cbc40313ea99056819ad14c9:1/1$</string>
            <key>textureFileName</key>
            <string>guild_fastCreate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
