<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhenJing_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZhenJing_Sheet1.png</string>
            <key>size</key>
            <string>{1022,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0b7c8a65db6c78ff4dd1c134e869883$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZhenJing_Sheet1.png</string>
        </dict>
    </dict>
</plist>
