<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HaoSe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaoSe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_HaoSe.png</string>
            <key>size</key>
            <string>{1821,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d930e2ebcf418dbffbbd65c3c4f12f71$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_HaoSe.png</string>
        </dict>
    </dict>
</plist>
