<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_DaKu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaKu_Sheet2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,106},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_DaKu.png</string>
            <key>size</key>
            <string>{703,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c81f9b236060daeabd2c26532aafdf0d$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_DaKu.png</string>
        </dict>
    </dict>
</plist>
