<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,10}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{18,20}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,32},{22,30}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{10,12}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{10,12}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{18,24}}</string>
                <key>offset</key>
                <string>{-24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{18,24}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{18,28}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{18,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{6,16}}</string>
                <key>offset</key>
                <string>{30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,35},{6,16}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{16,24}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{16,24}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,32},{24,32}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,34},{24,32}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,32},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_ShiHua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_ShiHua.png</string>
            <key>size</key>
            <string>{172,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2316bada92c0fd12001cea3e6b82f1b$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_ShiHua.png</string>
        </dict>
    </dict>
</plist>
