<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengluv2_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,2},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>dengluv2_btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,14},{323,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,102}}</string>
                <key>sourceSize</key>
                <string>{323,102}</string>
            </dict>
            <key>dengluv2_btn_youke.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,14},{323,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,103}}</string>
                <key>sourceSize</key>
                <string>{323,103}</string>
            </dict>
            <key>dengluv2_changelogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{182,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,34}}</string>
                <key>sourceSize</key>
                <string>{182,34}</string>
            </dict>
            <key>dengluv2_cn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,105},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>dengluv2_cn_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,2},{156,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,161}}</string>
                <key>sourceSize</key>
                <string>{156,161}</string>
            </dict>
            <key>dengluv2_cn_openfont.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,117},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>dengluv2_cn_wechatlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{156,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,161}}</string>
                <key>sourceSize</key>
                <string>{156,161}</string>
            </dict>
            <key>dengluv2_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1071,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,11}}</string>
                <key>sourceSize</key>
                <string>{1071,11}</string>
            </dict>
            <key>dengluv2_jindutiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,71},{40,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,19}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>dengluv2_jindutiao_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{440,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,33}}</string>
                <key>sourceSize</key>
                <string>{440,33}</string>
            </dict>
            <key>dengluv2_shangxiaditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,105},{11,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,37}}</string>
                <key>sourceSize</key>
                <string>{11,37}</string>
            </dict>
            <key>dengluv2_yonghuxieyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,105},{174,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,32}}</string>
                <key>sourceSize</key>
                <string>{174,32}</string>
            </dict>
            <key>dengluv2_yonghuxieyi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{460,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,56}}</string>
                <key>sourceSize</key>
                <string>{460,56}</string>
            </dict>
            <key>dengluv2_yonghuxieyi_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>dengluv2_yonghuxieyi_duihaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,117},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_v2.pvr.ccz</string>
            <key>size</key>
            <string>{1594,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d6ba91b5b421e4006cb1fd58f1619c0:1/1$</string>
            <key>textureFileName</key>
            <string>login_v2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
