<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_btn_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,270},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>wheel_btn_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,270},{199,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,90}}</string>
                <key>sourceSize</key>
                <string>{199,90}</string>
            </dict>
            <key>wheel_btn_leftbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,687},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>wheel_btn_leftdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,105},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>wheel_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,163},{130,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,29}}</string>
                <key>sourceSize</key>
                <string>{130,29}</string>
            </dict>
            <key>wheel_btn_shut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,687},{75,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,157}}</string>
                <key>sourceSize</key>
                <string>{75,157}</string>
            </dict>
            <key>wheel_btx_ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,209},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>wheel_btx_wodejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,433},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>wheel_di_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1232,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1232,683}}</string>
                <key>sourceSize</key>
                <string>{1232,683}</string>
            </dict>
            <key>wheel_di_leftdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,209},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>wheel_di_rightbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,244},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>wheel_di_rightsmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,106},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>wheel_gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,566},{453,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,103}}</string>
                <key>sourceSize</key>
                <string>{453,103}</string>
            </dict>
            <key>wheel_hl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,886},{610,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,127}}</string>
                <key>sourceSize</key>
                <string>{610,127}</string>
            </dict>
            <key>wheel_hl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,127},{601,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,141}}</string>
                <key>sourceSize</key>
                <string>{601,141}</string>
            </dict>
            <key>wheel_hl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{610,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,123}}</string>
                <key>sourceSize</key>
                <string>{610,123}</string>
            </dict>
            <key>wheel_hl_lqcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,439},{453,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,103}}</string>
                <key>sourceSize</key>
                <string>{453,103}</string>
            </dict>
            <key>wheel_icon_chuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,438},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>wheel_icon_dabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,748},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>wheel_icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,132},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>wheel_icon_fanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,2},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>wheel_icon_red1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,136},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>wheel_icon_red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,748},{93,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>wheel_icon_shouhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,820},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,58}</string>
            </dict>
            <key>wheel_icon_tuoxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,85},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>wheel_icon_voilet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,2},{105,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,81}}</string>
                <key>sourceSize</key>
                <string>{105,81}</string>
            </dict>
            <key>wheel_icon_voilet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,671},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
            <key>wheel_icon_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,53},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>wheel_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1015},{36,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,6}}</string>
                <key>sourceSize</key>
                <string>{36,6}</string>
            </dict>
            <key>wheel_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,58},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>wheel_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,29},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>wheel_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,77},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>wheel_popbtn_shut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,846},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>wheel_popbtn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,358},{259,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,79}}</string>
                <key>sourceSize</key>
                <string>{259,79}</string>
            </dict>
            <key>wheel_popbtx_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,710},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,34}}</string>
                <key>sourceSize</key>
                <string>{90,34}</string>
            </dict>
            <key>wheel_popbtx_zscj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,530},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>wheel_popdi_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,70},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>wheel_popdi_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,362},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>wheel_pophl_hdgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,394},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>wheel_pophl_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,671},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{90,37}</string>
            </dict>
            <key>wheel_pophl_wdjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,846},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>wheel_popimg_rhombus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>wheel_shijian_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,710},{72,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{72,35}</string>
            </dict>
            <key>wheel_square_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,335},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>wheel_square_selectdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,232},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>wheel_square_selectup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,270},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>wheel_summury_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{985,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,329}}</string>
                <key>sourceSize</key>
                <string>{985,329}</string>
            </dict>
            <key>wheel_summury_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,820},{448,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,52}}</string>
                <key>sourceSize</key>
                <string>{448,52}</string>
            </dict>
            <key>wheel_summurybtx_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,194},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLTurnActivity.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea99618a513b5eda1db2fe1ed4a467e3:1/1$</string>
            <key>textureFileName</key>
            <string>XLTurnActivity.png</string>
        </dict>
    </dict>
</plist>
