<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_AnNiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,99}}</string>
                <key>sourceSize</key>
                <string>{221,99}</string>
            </dict>
            <key>PT_UIFX_AnNiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{221,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,99}}</string>
                <key>sourceSize</key>
                <string>{221,99}</string>
            </dict>
            <key>PT_UIFX_AnNiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{103,49}</string>
            </dict>
            <key>PT_UIFX_AnNiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,103},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>PT_UIFX_AnNiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,103},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_AnNiu_Sprite1.png</string>
            <key>size</key>
            <string>{448,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e972e8640b318d3bb2ab1c0a365c1b$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_AnNiu_Sprite1.png</string>
        </dict>
    </dict>
</plist>
