<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_btx_qiangwangweixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{159,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,39}}</string>
                <key>sourceSize</key>
                <string>{159,39}</string>
            </dict>
            <key>club_btx_quguanzhilingxianjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,53},{240,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,41}}</string>
                <key>sourceSize</key>
                <string>{240,41}</string>
            </dict>
            <key>club_hl_gzgzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{216,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,49}}</string>
                <key>sourceSize</key>
                <string>{216,49}</string>
            </dict>
            <key>club_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,105}}</string>
                <key>sourceSize</key>
                <string>{89,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wechat.png</string>
            <key>size</key>
            <string>{488,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7baabd3a15a8cf2768b7e3a70f050a60:1/1$</string>
            <key>textureFileName</key>
            <string>wechat.png</string>
        </dict>
    </dict>
</plist>
