<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Smoke Explosion_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1012},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1214},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Smoke Explosion_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1416},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bufu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1416},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1618},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1725},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1832},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1832},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1832},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>bufu_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1832},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>particle_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1832},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>particle_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JQ_smoke.png</string>
            <key>size</key>
            <string>{468,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a8e66376a390fa8af32c57767fa9c32$</string>
            <key>textureFileName</key>
            <string>JQ_smoke.png</string>
        </dict>
    </dict>
</plist>
