<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xpt_mrhongbao6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{130,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{130,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{136,94}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{136,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,92}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{134,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{136,94}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{136,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,132},{134,118}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{134,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,98},{130,116}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{130,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,198},{134,116}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,29},{134,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{128,112}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{128,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,120}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{142,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,380},{148,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{148,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,372},{146,140}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{146,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{144,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{144,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,98},{140,98}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{140,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,268},{140,110}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,51},{140,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xpt_mrhongbao6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,230},{140,110}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,49},{140,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xpt_mrhongbao6.png</string>
            <key>size</key>
            <string>{526,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e22e6d00dd35e0c32ea8673876bea719$</string>
            <key>textureFileName</key>
            <string>Xpt_mrhongbao6.png</string>
        </dict>
    </dict>
</plist>
