<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/charm_ drawmoney_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,915},{158,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,39}}</string>
                <key>sourceSize</key>
                <string>{158,39}</string>
            </dict>
            <key>xl/charm_addfriend_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,972},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>xl/charm_black_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{892,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,29}}</string>
                <key>sourceSize</key>
                <string>{892,29}</string>
            </dict>
            <key>xl/charm_blue_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,833},{126,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,47}}</string>
                <key>sourceSize</key>
                <string>{126,47}</string>
            </dict>
            <key>xl/charm_cell1st_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,946},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>xl/charm_cell2nd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,531},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>xl/charm_cell3rd_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,475},{54,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>sourceSize</key>
                <string>{54,96}</string>
            </dict>
            <key>xl/charm_celllv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1075},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xl/charm_cellnormal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1175},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>xl/charm_charmbonus_bword.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,801},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>xl/charm_charmbonus_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,737},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>xl/charm_check_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1155},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>xl/charm_circbead_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{222,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,49}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>xl/charm_fans1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,972},{88,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,62}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>xl/charm_fans2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,75},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>xl/charm_fans3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,225},{69,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,44}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>xl/charm_getcell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1034},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>xl/charm_getgiftlist_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>xl/charm_getgiftlist_title_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1002},{164,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,42}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>xl/charm_gray_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>xl/charm_gray_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,75},{210,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,1}}</string>
                <key>sourceSize</key>
                <string>{210,1}</string>
            </dict>
            <key>xl/charm_grayarrow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1089},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl/charm_half_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>xl/charm_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,336},{110,98}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,98}}</string>
                <key>sourceSize</key>
                <string>{118,104}</string>
            </dict>
            <key>xl/charm_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,946},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>xl/charm_main_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1186},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>xl/charm_marquee_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1124},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>xl/charm_marquee_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1221},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>xl/charm_mycharm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>xl/charm_mycharm_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,448},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>xl/charm_mystery_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1089},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>xl/charm_open_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1112},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>xl/charm_pop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>xl/charm_receivegift_bword.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,914},{108,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{108,30}</string>
            </dict>
            <key>xl/charm_receivegift_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,769},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>xl/charm_red_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1112},{888,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,25}}</string>
                <key>sourceSize</key>
                <string>{888,25}</string>
            </dict>
            <key>xl/charm_redp_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{244,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,301}}</string>
                <key>sourceSize</key>
                <string>{244,301}</string>
            </dict>
            <key>xl/charm_redp_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{240,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,319}}</string>
                <key>sourceSize</key>
                <string>{240,319}</string>
            </dict>
            <key>xl/charm_redpacket_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,424}}</string>
                <key>sourceSize</key>
                <string>{332,424}</string>
            </dict>
            <key>xl/charm_redpacket_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1175},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>xl/charm_redplist_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,133},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>xl/charm_redplist_cellbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1194},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>xl/charm_redplist_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1167},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>xl/charm_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,977},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>xl/charm_rmb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2002},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>xl/charm_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1164},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xl/charm_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1162},{46,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xl/charm_sendgift_bword.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,587},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>xl/charm_sendgift_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,882},{123,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,30}}</string>
                <key>sourceSize</key>
                <string>{123,30}</string>
            </dict>
            <key>xl/charm_talk_btn_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1124},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>xl/charm_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,271},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>xl/charm_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,875},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>xl/charm_yellow_50rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,972},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>xl/charm_yellow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1075},{133,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,47}}</string>
                <key>sourceSize</key>
                <string>{133,47}</string>
            </dict>
            <key>xl/charm_yellowopen_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,619},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>xl/charmlvip_tip_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,824},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>xl/redpacket_arrow_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1124},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>xl/redpacket_cellbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1069},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>xl/redpacket_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,991},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>xl/redpacket_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{180,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,43}}</string>
                <key>sourceSize</key>
                <string>{180,43}</string>
            </dict>
            <key>xl/redpacket_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,914},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>xl/redpacket_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1046},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>xl/redpacket_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,977},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charm.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee75906d59161bbd2390980e2fb5d0eb:1/1$</string>
            <key>textureFileName</key>
            <string>charm.png</string>
        </dict>
    </dict>
</plist>
