<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/xlornament_b_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,462},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>xl/xlornament_img_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,286},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>xl/xlornament_img_yishiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,433},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>xl/xlornament_qxzdxf.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,326},{144,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,25}}</string>
                <key>sourceSize</key>
                <string>{144,25}</string>
            </dict>
            <key>xl/xlornament_w_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,462},{24,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{24,48}</string>
            </dict>
            <key>xl/xlornament_xfsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{170,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,47}}</string>
                <key>sourceSize</key>
                <string>{170,47}</string>
            </dict>
            <key>xl/xlornament_xfsz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,52}}</string>
                <key>sourceSize</key>
                <string>{290,52}</string>
            </dict>
            <key>xl/xlornament_xfsz_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,161},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>xl/xlornament_xfsz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,433},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>xl/xlornament_xfsz_lzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{81,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>xl/xlornament_xfsz_qrqx.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{157,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>xl/xlornament_xfsz_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,249},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>xl/xlornament_xfsz_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,106},{219,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,39}}</string>
                <key>sourceSize</key>
                <string>{219,39}</string>
            </dict>
            <key>xl/xlornament_xfsz_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,51},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>xl/xlornament_zb_bg_ziyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,433},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>xl/xlornament_zb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,271},{144,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,216},{144,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,175},{144,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,161},{144,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,53}}</string>
                <key>sourceSize</key>
                <string>{144,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,321},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,327},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,106},{145,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,53}}</string>
                <key>sourceSize</key>
                <string>{145,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn4_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,51},{145,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,53}}</string>
                <key>sourceSize</key>
                <string>{145,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,327},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn5_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,327},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>xl/xlornament_zb_btn_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,353},{143,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,56}}</string>
                <key>sourceSize</key>
                <string>{143,56}</string>
            </dict>
            <key>xl/xlornament_zb_btn_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{142,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,56}}</string>
                <key>sourceSize</key>
                <string>{142,56}</string>
            </dict>
            <key>xl/xlornament_zb_btx_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,300},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>xl/xlornament_zb_btx_quanbu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,148},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_quanbu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,148},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,272},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>xl/xlornament_zb_btx_weijiesuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,433},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>xl/xlornament_zb_btx_xianshi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,272},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{59,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_xianshi_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,203},{59,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{59,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_xiexia.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,176},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>xl/xlornament_zb_btx_xufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,148},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>xl/xlornament_zb_btx_yongjiu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,210},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_yongjiu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,210},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>xl/xlornament_zb_btx_zhuanshu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>xl/xlornament_zb_btx_zhuanshu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,327},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>xl/xlornament_zb_ico_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,433},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>xl/xlornament_zb_img_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,316},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{115,30}}</string>
                <key>sourceSize</key>
                <string>{123,32}</string>
            </dict>
            <key>xl/xlornament_zb_pnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{90,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,274}}</string>
                <key>sourceSize</key>
                <string>{90,274}</string>
            </dict>
            <key>xl/xlornament_zb_pnl_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,433},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>xl/xlornament_zb_pnl_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,148},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlornament.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636992905ee665d947bed23688615346:1/1$</string>
            <key>textureFileName</key>
            <string>xlornament.png</string>
        </dict>
    </dict>
</plist>
