<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/headpop_btn_daoju_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,447},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/headpop_btn_daoju_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,447},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/headpop_btn_suipian_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,627},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/headpop_btn_suipian_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,447},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/headpop_hl_spdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,447},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>xl/hesdpop_btn_duihuanquan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,776},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/hesdpop_btn_duihuanquan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,627},{147,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,50}}</string>
                <key>sourceSize</key>
                <string>{147,50}</string>
            </dict>
            <key>xl/hpbase_btn_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,776},{100,86}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{100,86}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>xl/hpbase_btn_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xl/hpbase_btn_didjsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,325},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xl/hpbase_btn_didjspmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,280},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>xl/hpbase_btn_jinchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,280},{100,96}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>xl/hpbase_btn_xingyunxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,916},{96,82}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{96,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>xl/hpbase_btn_xingyunxingtaozhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,81},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>xl/xlprop_btn-mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>xl/xlprop_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xl/xlprop_des_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,412},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xl/xlprop_exchangesuc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,276}}</string>
                <key>sourceSize</key>
                <string>{630,276}</string>
            </dict>
            <key>xl/xlprop_icon-jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,399},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>xl/xlprop_icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,399},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>xl/xlprop_img_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>xl/xlprop_img_xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,402},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>xl/xlprop_line_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{500,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,26}}</string>
                <key>sourceSize</key>
                <string>{500,26}</string>
            </dict>
            <key>xl/xlprop_line_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{240,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,408}}</string>
                <key>sourceSize</key>
                <string>{240,408}</string>
            </dict>
            <key>xl/xlprop_piece_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,596},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>xl/xlprop_prop_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>xl/xlprop_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,203},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xl/xlprop_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,596},{89,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,25}}</string>
                <key>sourceSize</key>
                <string>{91,27}</string>
            </dict>
            <key>xl/xlprop_tip_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{77,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,122}}</string>
                <key>sourceSize</key>
                <string>{77,122}</string>
            </dict>
            <key>xl/xlprop_use_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,878},{89,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,36}}</string>
                <key>sourceSize</key>
                <string>{89,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlprop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d6f7a102f464a8903a2427f7c56c56b:1/1$</string>
            <key>textureFileName</key>
            <string>xlprop.png</string>
        </dict>
    </dict>
</plist>
