<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meili_ui_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>meili_ui_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,94},{170,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,90}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meili_UI_golw.png</string>
            <key>size</key>
            <string>{1722,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf532cb3068c04931fc44769ae55331$</string>
            <key>textureFileName</key>
            <string>meili_UI_golw.png</string>
        </dict>
    </dict>
</plist>
