<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golw_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>golw_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,54},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shaoguang.png</string>
            <key>size</key>
            <string>{1422,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:553265f5419b0451799b82379e52c746$</string>
            <key>textureFileName</key>
            <string>shaoguang.png</string>
        </dict>
    </dict>
</plist>
