<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_meili_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1198},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1090},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,332},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,222},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,982},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,874},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,766},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,108}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,658},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,550},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,442},{114,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1518},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1412},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>Xgd_meili_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1306},{114,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_meili.png</string>
            <key>size</key>
            <string>{234,1626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df193718c9acd71384c44659c955a317$</string>
            <key>textureFileName</key>
            <string>Xgd_meili.png</string>
        </dict>
    </dict>
</plist>
