<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aler_btn1_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,973},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>aler_btn2_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,896},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>aler_btn3_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,88},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>cp_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,532},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>cp_btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,260},{174,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,76}}</string>
                <key>sourceSize</key>
                <string>{174,76}</string>
            </dict>
            <key>cp_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,975},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>cp_btn_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,717},{189,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,32}}</string>
                <key>sourceSize</key>
                <string>{189,32}</string>
            </dict>
            <key>cp_btn_president.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,717},{189,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,32}}</string>
                <key>sourceSize</key>
                <string>{189,32}</string>
            </dict>
            <key>cp_btn_ranks_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,717},{72,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,277}}</string>
                <key>sourceSize</key>
                <string>{72,277}</string>
            </dict>
            <key>cp_btn_ranks_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{72,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,277}}</string>
                <key>sourceSize</key>
                <string>{72,277}</string>
            </dict>
            <key>cp_btn_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,896},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>cp_btn_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,622},{73,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,30}}</string>
                <key>sourceSize</key>
                <string>{73,30}</string>
            </dict>
            <key>cp_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,896},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>cp_cell_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,908},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>cp_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,717},{197,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,39}}</string>
                <key>sourceSize</key>
                <string>{197,39}</string>
            </dict>
            <key>cp_copy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,654},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,29}</string>
            </dict>
            <key>cp_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,88},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>cp_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,253},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>cp_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,654},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>cp_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,436},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>cp_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,88},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cp_rank_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,408},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>cp_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,260},{28,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,360}}</string>
                <key>sourceSize</key>
                <string>{28,360}</string>
            </dict>
            <key>cp_reward_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,336},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cp_rule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,190},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>cp_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{167,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,41}}</string>
                <key>sourceSize</key>
                <string>{167,41}</string>
            </dict>
            <key>cp_rule_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{973,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{973,84}}</string>
                <key>sourceSize</key>
                <string>{973,84}</string>
            </dict>
            <key>cp_self_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,88},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>cp_self_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,535},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>cp_sp_bg_tuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,717},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>cp_sp_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,88},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>cp_sp_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,218},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{89,39}</string>
            </dict>
            <key>cp_sp_rank_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,478},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>cp_sp_ranks_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,896},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>cp_sp_ranks_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,220},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>cp_sp_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,654},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,52}</string>
            </dict>
            <key>cp_sp_titile_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,436},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>cp_sp_titlexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,240},{222,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,11}}</string>
                <key>sourceSize</key>
                <string>{222,11}</string>
            </dict>
            <key>cp_sp_today_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,88},{36,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,141}}</string>
                <key>sourceSize</key>
                <string>{36,141}</string>
            </dict>
            <key>cp_sp_today_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,88},{36,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,141}}</string>
                <key>sourceSize</key>
                <string>{36,141}</string>
            </dict>
            <key>cp_sp_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,916},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>cp_sp_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,973},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>cp_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{455,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,265}}</string>
                <key>sourceSize</key>
                <string>{455,265}</string>
            </dict>
            <key>cp_tips_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,621},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>cp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,260},{392,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,51}}</string>
                <key>sourceSize</key>
                <string>{392,51}</string>
            </dict>
            <key>cp_title_member.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,717},{256,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,43}}</string>
                <key>sourceSize</key>
                <string>{256,43}</string>
            </dict>
            <key>cp_title_president.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{256,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,43}}</string>
                <key>sourceSize</key>
                <string>{256,43}</string>
            </dict>
            <key>guild_reward_notic_type_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,260},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>guild_reward_notic_type_hb.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,534},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>guild_reward_notic_type_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,613},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>champin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c4b8dd8a194ac3aa8c8218e0ab4dc5e:1/1$</string>
            <key>textureFileName</key>
            <string>champin.png</string>
        </dict>
    </dict>
</plist>
