<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X_touzi_4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,62}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,103},{164,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{146,72}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,94},{146,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,252},{126,84}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,90},{126,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,508},{112,92}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,90},{112,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,141},{110,90}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,97},{110,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,621},{108,80}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,107},{108,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{124,64}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,117},{124,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{136,62}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,112},{136,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{150,64}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,101},{150,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{158,72}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,87},{158,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{160,72}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,75},{160,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{162,68}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,69},{162,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{160,74}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,62},{160,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{150,80}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{150,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{138,86}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,62},{138,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>X_touzi_4_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,379},{128,94}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{128,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>touzi01.pvr.ccz</string>
            <key>size</key>
            <string>{255,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b2bfa60ab7699b71a49f5a7cefd9f2:1/1$</string>
            <key>textureFileName</key>
            <string>touzi01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
