<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/act_bg_gezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{146,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,99}}</string>
                <key>sourceSize</key>
                <string>{146,99}</string>
            </dict>
            <key>xl/act_bg_gezi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{292,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,195}}</string>
                <key>sourceSize</key>
                <string>{292,195}</string>
            </dict>
            <key>xl/act_bg_tehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,141},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>xl/act_bg_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{65,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,8}}</string>
                <key>sourceSize</key>
                <string>{65,8}</string>
            </dict>
            <key>xl/act_bg_yh300.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,530},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>xl/act_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{294,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,76}}</string>
                <key>sourceSize</key>
                <string>{294,76}</string>
            </dict>
            <key>xl/act_btn_sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,530},{54,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>xl/act_btx_sygm.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,103},{143,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,36}}</string>
                <key>sourceSize</key>
                <string>{143,36}</string>
            </dict>
            <key>xl/act_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,179},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>xl/act_hongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{175,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,1}}</string>
                <key>sourceSize</key>
                <string>{175,1}</string>
            </dict>
            <key>xl/act_ico_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,268},{260,191}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{260,191}}</string>
                <key>sourceSize</key>
                <string>{292,195}</string>
            </dict>
            <key>xl/act_ico_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{252,179}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{252,179}}</string>
                <key>sourceSize</key>
                <string>{292,195}</string>
            </dict>
            <key>xl/hl_hdsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{325,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,75}}</string>
                <key>sourceSize</key>
                <string>{325,75}</string>
            </dict>
            <key>xl/icon_czcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{343,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,92}}</string>
                <key>sourceSize</key>
                <string>{343,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlczth.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d420a00829d159c0af2f5ff73a171e9f:1/1$</string>
            <key>textureFileName</key>
            <string>xlczth.png</string>
        </dict>
    </dict>
</plist>
