<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/dj-shop-V.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,387},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>xl/dj-shop-banner-btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,741},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>xl/dj-shop-banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,776},{930,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,70}}</string>
                <key>sourceSize</key>
                <string>{930,70}</string>
            </dict>
            <key>xl/dj-shop-bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,1039},{450,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,41}}</string>
                <key>sourceSize</key>
                <string>{450,41}</string>
            </dict>
            <key>xl/dj-shop-bg-ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1050},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,20}}</string>
                <key>sourceSize</key>
                <string>{104,20}</string>
            </dict>
            <key>xl/dj-shop-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1491},{365,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,112}}</string>
                <key>sourceSize</key>
                <string>{365,112}</string>
            </dict>
            <key>xl/dj-shop-bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,848},{929,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{929,200}}</string>
                <key>sourceSize</key>
                <string>{929,200}</string>
            </dict>
            <key>xl/dj-shop-btn-+.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,867},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>xl/dj-shop-btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,2},{123,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,61}}</string>
                <key>sourceSize</key>
                <string>{123,61}</string>
            </dict>
            <key>xl/dj-shop-btn-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,816},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>xl/dj-shop-btn-close3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1938},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>xl/dj-shop-btn-duihuan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1317},{171,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,54}}</string>
                <key>sourceSize</key>
                <string>{171,54}</string>
            </dict>
            <key>xl/dj-shop-btn-duihuan-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{284,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,54}}</string>
                <key>sourceSize</key>
                <string>{284,54}</string>
            </dict>
            <key>xl/dj-shop-btn-duihuan-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1254},{284,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,54}}</string>
                <key>sourceSize</key>
                <string>{284,54}</string>
            </dict>
            <key>xl/dj-shop-btn-duihuan-hui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1317},{171,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,54}}</string>
                <key>sourceSize</key>
                <string>{171,54}</string>
            </dict>
            <key>xl/dj-shop-btn-huang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,1016},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>xl/dj-shop-btn-huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,952},{241,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,62}}</string>
                <key>sourceSize</key>
                <string>{241,62}</string>
            </dict>
            <key>xl/dj-shop-btn-huang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2008},{28,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,78}}</string>
                <key>sourceSize</key>
                <string>{28,78}</string>
            </dict>
            <key>xl/dj-shop-btn-hui-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,741},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>xl/dj-shop-btn-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1159},{28,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,78}}</string>
                <key>sourceSize</key>
                <string>{28,78}</string>
            </dict>
            <key>xl/dj-shop-btn-left-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1213},{200,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,102}}</string>
                <key>sourceSize</key>
                <string>{200,102}</string>
            </dict>
            <key>xl/dj-shop-btn-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1050},{257,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,99}}</string>
                <key>sourceSize</key>
                <string>{257,99}</string>
            </dict>
            <key>xl/dj-shop-btn-n-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,741},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-n-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,741},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1992},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-s-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,741},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{32,24}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-s-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1976},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1976},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>xl/dj-shop-btn-zengsong-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1186},{111,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,54}}</string>
                <key>sourceSize</key>
                <string>{111,54}</string>
            </dict>
            <key>xl/dj-shop-btx-duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1938},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{71,39}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>xl/dj-shop-btx-ljdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,741},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>xl/dj-shop-btx-ljgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1152},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>xl/dj-shop-btx-ljsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1015},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>xl/dj-shop-btx-ljxf-.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,741},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>xl/dj-shop-btx-ljxf-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,741},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>xl/dj-shop-btx-ljzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{142,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,48}}</string>
                <key>sourceSize</key>
                <string>{142,48}</string>
            </dict>
            <key>xl/dj-shop-btx-ljzs-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,741},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>xl/dj-shop-btx-ljzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,741},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>xl/dj-shop-btx-mfdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,741},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
            <key>xl/dj-shop-btx-qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,918},{95,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,48}}</string>
                <key>sourceSize</key>
                <string>{95,48}</string>
            </dict>
            <key>xl/dj-shop-btx-sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,741},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,33}</string>
            </dict>
            <key>xl/dj-shop-btx-xzyhq-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,95},{120,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,25}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
            <key>xl/dj-shop-btx-xzyhq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,68},{120,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,25}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
            <key>xl/dj-shop-btx-yiduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1050},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>xl/dj-shop-btx-zbyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1317},{154,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,155}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>xl/dj-shop-btx-zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>xl/dj-shop-fgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,272},{184,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,1}}</string>
                <key>sourceSize</key>
                <string>{184,1}</string>
            </dict>
            <key>xl/dj-shop-hj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,65},{122,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,1}}</string>
                <key>sourceSize</key>
                <string>{122,1}</string>
            </dict>
            <key>xl/dj-shop-hl-dhcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,779},{410,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,115}}</string>
                <key>sourceSize</key>
                <string>{410,115}</string>
            </dict>
            <key>xl/dj-shop-hl-dhsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1491},{326,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,75}}</string>
                <key>sourceSize</key>
                <string>{326,75}</string>
            </dict>
            <key>xl/dj-shop-hl-gmsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1491},{326,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,75}}</string>
                <key>sourceSize</key>
                <string>{326,75}</string>
            </dict>
            <key>xl/dj-shop-hl-xfcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{410,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,115}}</string>
                <key>sourceSize</key>
                <string>{410,115}</string>
            </dict>
            <key>xl/dj-shop-hl-xfsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1491},{325,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,75}}</string>
                <key>sourceSize</key>
                <string>{325,75}</string>
            </dict>
            <key>xl/dj-shop-hl-zbyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1491},{326,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,75}}</string>
                <key>sourceSize</key>
                <string>{326,75}</string>
            </dict>
            <key>xl/dj-shop-hl-zshy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{687,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,115}}</string>
                <key>sourceSize</key>
                <string>{687,115}</string>
            </dict>
            <key>xl/dj-shop-hl-zssp.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1491},{326,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,75}}</string>
                <key>sourceSize</key>
                <string>{326,75}</string>
            </dict>
            <key>xl/dj-shop-hx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2045,68},{207,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,1}}</string>
                <key>sourceSize</key>
                <string>{207,1}</string>
            </dict>
            <key>xl/dj-shop-hyzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,138},{98,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,35}}</string>
                <key>sourceSize</key>
                <string>{98,35}</string>
            </dict>
            <key>xl/dj-shop-ico-xiyouzhek.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,414},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>xl/dj-shop-ico-zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1818},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>xl/dj-shop-ico-zhek.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2008},{83,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{83,38}</string>
            </dict>
            <key>xl/dj-shop-input-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,776},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>xl/dj-shop-input-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1159},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>xl/dj-shop-input.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1819},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>xl/dj-shop-jiaobiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,741},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>xl/dj-shop-mig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,122},{4,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,19}}</string>
                <key>sourceSize</key>
                <string>{4,19}</string>
            </dict>
            <key>xl/dj-shop-pnl-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1819},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>xl/dj-shop-pnl-btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,238},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>xl/dj-shop-pnl-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{200,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,555}}</string>
                <key>sourceSize</key>
                <string>{200,555}</string>
            </dict>
            <key>xl/dj-shop-pnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1230,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1230,671}}</string>
                <key>sourceSize</key>
                <string>{1230,671}</string>
            </dict>
            <key>xl/dj-shop-pnl2-ico-btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,727},{244,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,223}}</string>
                <key>sourceSize</key>
                <string>{244,223}</string>
            </dict>
            <key>xl/dj-shop-pnl2-n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1016},{210,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{210,195}}</string>
                <key>sourceSize</key>
                <string>{216,201}</string>
            </dict>
            <key>xl/dj-shop-pnl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1186},{294,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,282}}</string>
                <key>sourceSize</key>
                <string>{294,282}</string>
            </dict>
            <key>xl/dj-shop-pop-btm-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,675},{1078,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,64}}</string>
                <key>sourceSize</key>
                <string>{1078,64}</string>
            </dict>
            <key>xl/dj-shop-pop-btm-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,370},{42,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,575}}</string>
                <key>sourceSize</key>
                <string>{42,575}</string>
            </dict>
            <key>xl/dj-shop-pop-btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,414},{838,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,556}}</string>
                <key>sourceSize</key>
                <string>{838,556}</string>
            </dict>
            <key>xl/dj-shop-tab-cptx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,122},{148,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,53}}</string>
                <key>sourceSize</key>
                <string>{148,53}</string>
            </dict>
            <key>xl/dj-shop-tab-gndj.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1858},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>xl/dj-shop-tab-hdpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1858},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>xl/dj-shop-tab-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,119},{249,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,594}}</string>
                <key>sourceSize</key>
                <string>{249,594}</string>
            </dict>
            <key>xl/dj-shop-tab-ltqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,122},{148,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,53}}</string>
                <key>sourceSize</key>
                <string>{148,53}</string>
            </dict>
            <key>xl/dj-shop-tab-mjtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,122},{148,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,53}}</string>
                <key>sourceSize</key>
                <string>{148,53}</string>
            </dict>
            <key>xl/dj-shop-tab-ncdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1317},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>xl/dj-shop-tab-pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1938},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,53}}</string>
                <key>sourceSize</key>
                <string>{84,53}</string>
            </dict>
            <key>xl/dj-shop-tab-rcdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{147,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,52}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>xl/dj-shop-tab-txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1858},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>xl/dj-shop-tab-zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1993},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>xl/dj-shop-tit-djsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1845},{260,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,91}}</string>
                <key>sourceSize</key>
                <string>{260,91}</string>
            </dict>
            <key>xl/dj-shop-xianmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1189},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>xl/dj-shop-xiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,494},{251,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,231}}</string>
                <key>sourceSize</key>
                <string>{251,231}</string>
            </dict>
            <key>xl/dj-shop-xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,277},{216,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,201}}</string>
                <key>sourceSize</key>
                <string>{216,201}</string>
            </dict>
            <key>xl/dj-shop-zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,370},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>xl/dj-shop-zhes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,119},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>xl/dj_shop_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1938},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>xl/xlshop_diamond_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1254},{58,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{58,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>xl/xlshop_fangka_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1992},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,52}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>xl/xlshop_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1254},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlpropshop.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169bf9fb3214115cc0d19ae9d7513268:1/1$</string>
            <key>textureFileName</key>
            <string>xlpropshop.png</string>
        </dict>
    </dict>
</plist>
