<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/bg_mig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{697,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{697,543}}</string>
                <key>sourceSize</key>
                <string>{699,543}</string>
            </dict>
            <key>xl/btn-zscz.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,317},{121,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,38}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>xl/btn_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>xl/btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,84},{231,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,70}}</string>
                <key>sourceSize</key>
                <string>{231,70}</string>
            </dict>
            <key>xl/btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,935},{232,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>xl/btx_wxzf.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,327},{151,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,36}}</string>
                <key>sourceSize</key>
                <string>{151,36}</string>
            </dict>
            <key>xl/btx_zfbzf.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,294},{169,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,31}}</string>
                <key>sourceSize</key>
                <string>{169,31}</string>
            </dict>
            <key>xl/hl_fkyebz.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,547},{487,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,108}}</string>
                <key>sourceSize</key>
                <string>{487,108}</string>
            </dict>
            <key>xl/hl_zsyebz.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,357},{487,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,108}}</string>
                <key>sourceSize</key>
                <string>{487,108}</string>
            </dict>
            <key>xl/icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,935},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>xl/pnl_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{310,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,80}}</string>
                <key>sourceSize</key>
                <string>{310,80}</string>
            </dict>
            <key>xl/qipao-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,84},{244,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,107}}</string>
                <key>sourceSize</key>
                <string>{244,107}</string>
            </dict>
            <key>xl/qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,193},{242,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,99}}</string>
                <key>sourceSize</key>
                <string>{242,99}</string>
            </dict>
            <key>xl/wz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{409,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,46}}</string>
                <key>sourceSize</key>
                <string>{409,46}</string>
            </dict>
            <key>xl/wz_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,547},{386,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,46}}</string>
                <key>sourceSize</key>
                <string>{386,46}</string>
            </dict>
            <key>xl/wz_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,547},{386,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,46}}</string>
                <key>sourceSize</key>
                <string>{386,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlpropquick.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188e9319dc304afe3c99d9206646b08a:1/1$</string>
            <key>textureFileName</key>
            <string>xlpropquick.png</string>
        </dict>
    </dict>
</plist>
