<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club__title_gnjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,208},{174,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,49}}</string>
                <key>sourceSize</key>
                <string>{174,49}</string>
            </dict>
            <key>club_blak_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,100},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>club_btn_huanyipi.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{193,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,71}}</string>
                <key>sourceSize</key>
                <string>{193,71}</string>
            </dict>
            <key>club_btntex_yijianhanren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{123,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,31}}</string>
                <key>sourceSize</key>
                <string>{123,31}</string>
            </dict>
            <key>club_gnjs_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{599,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,208}}</string>
                <key>sourceSize</key>
                <string>{599,208}</string>
            </dict>
            <key>club_hanrenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,100},{150,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,157}}</string>
                <key>sourceSize</key>
                <string>{150,157}</string>
            </dict>
            <key>club_hanrenbg_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{58,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,264}}</string>
                <key>sourceSize</key>
                <string>{58,264}</string>
            </dict>
            <key>club_hanrenbg_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,265}}</string>
                <key>sourceSize</key>
                <string>{59,265}</string>
            </dict>
            <key>club_juesebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{347,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,96}}</string>
                <key>sourceSize</key>
                <string>{347,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_callplay.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efaa847fd65afa63bf16ff0f294336f9:1/1$</string>
            <key>textureFileName</key>
            <string>guild_callplay.png</string>
        </dict>
    </dict>
</plist>
