<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xjs_loadingglow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,68}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Xjs_loadingglow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{56,72}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{56,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Xjs_loadingglow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{60,78}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Xjs_loadingglow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,68}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{50,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xjs_loadingglow.png</string>
            <key>size</key>
            <string>{64,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607bf0c109bc4d4c63c1279306d12a10$</string>
            <key>textureFileName</key>
            <string>Xjs_loadingglow.png</string>
        </dict>
    </dict>
</plist>
