<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cd_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,104},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,206},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,308},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,410},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,512},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,614},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,716},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,818},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
            <key>cd_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,920},{600,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,100}}</string>
                <key>sourceSize</key>
                <string>{600,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zf_cd_fx.png</string>
            <key>size</key>
            <string>{1206,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95dd91fde41a9a7d645f2e2abed92b07$</string>
            <key>textureFileName</key>
            <string>zf_cd_fx.png</string>
        </dict>
    </dict>
</plist>
