<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,115},{226,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,111}}</string>
                <key>sourceSize</key>
                <string>{226,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_6.png</string>
            <key>size</key>
            <string>{1826,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d79d106570ea12abb9d8c9f1ed2cd6$</string>
            <key>textureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_6.png</string>
        </dict>
    </dict>
</plist>
