<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_7.png</string>
            <key>size</key>
            <string>{651,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d7379cad21fb3e09b4816a021703c0$</string>
            <key>textureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_7.png</string>
        </dict>
    </dict>
</plist>
