<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
            <key>HD_UIFX_ChuPing_CaiShen_Sheet_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,204},{140,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,200}}</string>
                <key>sourceSize</key>
                <string>{140,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_1.png</string>
            <key>size</key>
            <string>{1422,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52870c64eadde43dc179dd12418c337e$</string>
            <key>textureFileName</key>
            <string>HD_UIFX_ChuPing_CaiShen_Sheet_1.png</string>
        </dict>
    </dict>
</plist>
