<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,73},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_Sheet1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,144},{208,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,69}}</string>
                <key>sourceSize</key>
                <string>{208,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TanChuang_Sheet1.png</string>
            <key>size</key>
            <string>{1682,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37037b1bc9501e2842bdb5b2d4b3addf$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TanChuang_Sheet1.png</string>
        </dict>
    </dict>
</plist>
