<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TanChuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,115}}</string>
                <key>sourceSize</key>
                <string>{107,115}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{155,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,164}}</string>
                <key>sourceSize</key>
                <string>{155,164}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TanChuang_Sprite_1.png</string>
            <key>size</key>
            <string>{398,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e907254b4211c0699e707e4949d5a1f7$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TanChuang_Sprite_1.png</string>
        </dict>
    </dict>
</plist>
