<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,124},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,124},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,246},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,246},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,368},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,368},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,490},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,490},{600,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,120}}</string>
                <key>sourceSize</key>
                <string>{600,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01.png</string>
            <key>size</key>
            <string>{1808,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2467328e311fc604de525e4a69068c16$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_GuanGong_Sheet01.png</string>
        </dict>
    </dict>
</plist>
