<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TanChuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,422}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ZZ_UIFX_TanChuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TanChuang.png</string>
            <key>size</key>
            <string>{798,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6ed473ce63296911bd4a2ab9a9f6a56$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TanChuang.png</string>
        </dict>
    </dict>
</plist>
