<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GuoQing_HuDongDaLiBao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>ZZ_UIFX_GuoQing_HuDongDaLiBao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{137,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>ZZ_UIFX_GuoQing_HuDongDaLiBao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{137,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,57}}</string>
                <key>sourceSize</key>
                <string>{137,57}</string>
            </dict>
            <key>ZZ_UIFX_GuoQing_HuDongDaLiBao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{159,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,48}}</string>
                <key>sourceSize</key>
                <string>{159,48}</string>
            </dict>
            <key>ZZ_UIFX_GuoQing_HuDongDaLiBao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{159,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,48}}</string>
                <key>sourceSize</key>
                <string>{159,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GuoQing_HuDongDaLiBao_Sprite1.png</string>
            <key>size</key>
            <string>{726,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7934b6ec4a6c2f06b5f9e8f0a7d0568$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GuoQing_HuDongDaLiBao_Sprite1.png</string>
        </dict>
    </dict>
</plist>
