<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,58},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,58},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,58},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,58},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,114},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,114},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,114},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
            <key>ZZ_UIFX_DuiHuan_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,114},{292,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{292,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_DuiHuan_Sheet01.png</string>
            <key>size</key>
            <string>{1477,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e51a987872ffdfd5e15a0ec13307da1$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_DuiHuan_Sheet01.png</string>
        </dict>
    </dict>
</plist>
