<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1610},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>ZZ_UIFX_ZhuanPan_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1610},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZhuanPan_Sheet01.png</string>
            <key>size</key>
            <string>{1208,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41754335d003f32d8936a35ffb55bb81$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZhuanPan_Sheet01.png</string>
        </dict>
    </dict>
</plist>
