<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-22,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{23,40}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{31,40}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{37,40}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{39,40}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{31,40}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{25,40}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{15,40}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{183,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,53}}</string>
                <key>sourceSize</key>
                <string>{183,53}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{323,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,150}}</string>
                <key>sourceSize</key>
                <string>{323,150}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,202},{224,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,107}}</string>
                <key>sourceSize</key>
                <string>{224,107}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,87},{165,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,48}}</string>
                <key>sourceSize</key>
                <string>{165,48}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{146,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,42}}</string>
                <key>sourceSize</key>
                <string>{146,42}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{450,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,41}}</string>
                <key>sourceSize</key>
                <string>{450,41}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,138},{241,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,62}}</string>
                <key>sourceSize</key>
                <string>{241,62}</string>
            </dict>
            <key>ZZ_UIFX_ZengSongDaoJu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,87},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZengSongDaoJu.png</string>
            <key>size</key>
            <string>{454,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55dc688c960d7cf608c526ec23b8ecd3$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZengSongDaoJu.png</string>
        </dict>
    </dict>
</plist>
