<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ChouQian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,197}}</string>
                <key>sourceSize</key>
                <string>{131,197}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{125,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,21}}</string>
                <key>sourceSize</key>
                <string>{125,21}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{19,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,184}}</string>
                <key>sourceSize</key>
                <string>{19,184}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,224},{124,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,368}}</string>
                <key>sourceSize</key>
                <string>{124,368}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{136,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,219}}</string>
                <key>sourceSize</key>
                <string>{136,219}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{144,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,187}}</string>
                <key>sourceSize</key>
                <string>{144,187}</string>
            </dict>
            <key>ZZ_UIFX_ChouQian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{136,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,55}}</string>
                <key>sourceSize</key>
                <string>{136,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ChouQian_Sprite1.png</string>
            <key>size</key>
            <string>{149,1191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b0d7222d96eacf0ac13a0b3037a1a7$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ChouQian_Sprite1.png</string>
        </dict>
    </dict>
</plist>
