<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,83},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,83},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,164},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,164},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,245},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,245},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,326},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
            <key>ZZ_UIFX_MianFeiDuiHuan_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,326},{467,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,79}}</string>
                <key>sourceSize</key>
                <string>{467,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_MianFeiDuiHuan_Sheet01.png</string>
            <key>size</key>
            <string>{1409,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77fa7cf937281dd8475aa34a4ba9464a$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_MianFeiDuiHuan_Sheet01.png</string>
        </dict>
    </dict>
</plist>
