<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{256,74}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ZZ_UIFX_ZunGuiHuiYuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,146},{256,74}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZunGuiHuiYuan.png</string>
            <key>size</key>
            <string>{550,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c74e4a71af025893e87e99834992a6bd$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZunGuiHuiYuan.png</string>
        </dict>
    </dict>
</plist>
