<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_LiHua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,74},{174,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_LiHua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_LiHua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_LiHua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_LiHua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_LiHua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_LiHua.png</string>
            <key>size</key>
            <string>{254,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5493d4dec13f91a1f689898a3d0d86b$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_LiHua.png</string>
        </dict>
    </dict>
</plist>
