<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,104},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,206},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,206},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,206},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,206},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,308},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,308},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,308},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>ZZ_UIFX_TianJiangFuZe_Sheet4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,308},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TianJiangFuZe_Sheet4.png</string>
            <key>size</key>
            <string>{1513,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac6c0c0befc73f9e43708d723a697f16$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TianJiangFuZe_Sheet4.png</string>
        </dict>
    </dict>
</plist>
