<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_WenCaiShen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_WenCaiShen_Sheet1.png</string>
            <key>size</key>
            <string>{1778,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28bbf78a96b9b161feaae0331b9915cc$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_WenCaiShen_Sheet1.png</string>
        </dict>
    </dict>
</plist>
