<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_QueShen_Sheet.png</string>
            <key>size</key>
            <string>{1007,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b694dae6bb192bc4ceff60318bfdd782$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_QueShen_Sheet.png</string>
        </dict>
    </dict>
</plist>
