<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,143}}</string>
                <key>sourceSize</key>
                <string>{185,143}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,164},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,164},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,164},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,326},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,326},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,326},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,488},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,488},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,488},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,650},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_CaiShen_Sheet1.png</string>
            <key>size</key>
            <string>{812,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6516d56351eb08be44889223fa687f7$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_CaiShen_Sheet1.png</string>
        </dict>
    </dict>
</plist>
