<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,110},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,7}}</string>
                <key>sourceSize</key>
                <string>{2,7}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,2},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,32},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,32},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,32},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,32},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu.png</string>
            <key>size</key>
            <string>{245,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae91c2bb219599bf16e5205a79e70cfe$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_ZhaoCaiTu.png</string>
        </dict>
    </dict>
</plist>
