<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,154},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuanGong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,306},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_GuanGong.png</string>
            <key>size</key>
            <string>{1012,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f75b581c7a7f96fb7e2acd9ad1c4abf$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_GuanGong.png</string>
        </dict>
    </dict>
</plist>
