<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HongBao_Sheet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{200,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,247}}</string>
                <key>sourceSize</key>
                <string>{200,247}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{189,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,131}}</string>
                <key>sourceSize</key>
                <string>{189,131}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{215,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,267}}</string>
                <key>sourceSize</key>
                <string>{215,267}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,354},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,354},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>ZZ_UIFX_HongBao_Sheet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,350}}</string>
                <key>sourceSize</key>
                <string>{80,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HongBao_Sheet01.png</string>
            <key>size</key>
            <string>{1366,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55ea8b305cf13c658fa5808c481e7df$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HongBao_Sheet01.png</string>
        </dict>
    </dict>
</plist>
