<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QueShen_Sheet2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_QueShen_Sheet2.png</string>
            <key>size</key>
            <string>{54,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc5a874120fd6961b9db1cd8c02a985$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_QueShen_Sheet2.png</string>
        </dict>
    </dict>
</plist>
