<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,64},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet04.png</string>
            <key>size</key>
            <string>{1618,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ceaf46d846dce5f3634c6733f20306f$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet04.png</string>
        </dict>
    </dict>
</plist>
