<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_GuoQing_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{81,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{81,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_GuoQing_Sheet1.png</string>
            <key>size</key>
            <string>{832,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fae54dc162e4d4b22a9991c5a5a2d330$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_GuoQing_Sheet1.png</string>
        </dict>
    </dict>
</plist>
