<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sheet01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZhuangBan_Sheet01.png</string>
            <key>size</key>
            <string>{1502,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f1ab42ab55870540f2bc3fd52e7650$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZhuangBan_Sheet01.png</string>
        </dict>
    </dict>
</plist>
