<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,347},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,347},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,692},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,692},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1037},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1037},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1382},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
            <key>ZZ_EmoticonFX_FengHuang_Sheet02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1382},{600,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,343}}</string>
                <key>sourceSize</key>
                <string>{600,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_FengHuang_Sheet_2.png</string>
            <key>size</key>
            <string>{1808,1727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d24e37130aa7b5f984449f823238b8$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_FengHuang_Sheet_2.png</string>
        </dict>
    </dict>
</plist>
