<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,134},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,134},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,134},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,134},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,266},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,266},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,266},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,266},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,398},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,398},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,398},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet03_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,398},{360,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,130}}</string>
                <key>sourceSize</key>
                <string>{360,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet03.png</string>
            <key>size</key>
            <string>{1812,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5294fb8c7dd03afba39e037365191f92$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet03.png</string>
        </dict>
    </dict>
</plist>
