<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,104},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,206},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,206},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,308},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,308},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,410},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_CaiShen_Sheet2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,410},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_CaiShen_Sheet2.png</string>
            <key>size</key>
            <string>{458,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf32b270b60efc11a55a0f16669b277$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_CaiShen_Sheet2.png</string>
        </dict>
    </dict>
</plist>
