<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>ZZ_UIFX_HuiZhang_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,174},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HuiZhang_Sheet1.png</string>
            <key>size</key>
            <string>{1682,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1756a2ca6d6bd19aea80aeabf6df5e$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HuiZhang_Sheet1.png</string>
        </dict>
    </dict>
</plist>
