<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_LiHua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_LiHua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_LiHua.png</string>
            <key>size</key>
            <string>{105,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d21fddbed65a86d6f0d6deb5b51f51c$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_LiHua.png</string>
        </dict>
    </dict>
</plist>
