<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,162},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
            <key>ZZ_UIFX_HuanLeRenWu_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,322},{254,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,158}}</string>
                <key>sourceSize</key>
                <string>{254,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HuanLeRenWu_Sheet1.png</string>
            <key>size</key>
            <string>{1794,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cc5ce06dfb759875973d454e38f9e3$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HuanLeRenWu_Sheet1.png</string>
        </dict>
    </dict>
</plist>
