<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>ZZ_UIFX_HuiYuan_Icon_Sheet06_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet06.png</string>
            <key>size</key>
            <string>{900,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b0a452dee619c937dd201eea4449133$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_HuiYuan_Icon_Sheet06.png</string>
        </dict>
    </dict>
</plist>
