<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,224},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,446},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_FengHuang_Sheet_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,668},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_FengHuang_Sheet_1.png</string>
            <key>size</key>
            <string>{1778,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb20f0d7835b5eabe9519f756c666a43$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_FengHuang_Sheet_1.png</string>
        </dict>
    </dict>
</plist>
