<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_XingYunXing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_XingYunXing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_XingYunXing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_XingYunXing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,70},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_XingYunXing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_XingYunXing_Sprite.png</string>
            <key>size</key>
            <string>{251,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9c7c553913a016a16e0f485eddf994$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_XingYunXing_Sprite.png</string>
        </dict>
    </dict>
</plist>
