<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{70,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{70,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04.png</string>
            <key>size</key>
            <string>{1442,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe502faffd3efb96be4b6254de33d24$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_ZhaoChaiWa_Sheet04.png</string>
        </dict>
    </dict>
</plist>
