<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_ZhuangBan_Sprite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sprite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sprite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>ZZ_UIFX_ZhuangBan_Sprite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_ZhuangBan_Sheet02.png</string>
            <key>size</key>
            <string>{141,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f58d70986daeb2db94d167dd98ba844$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_ZhuangBan_Sheet02.png</string>
        </dict>
    </dict>
</plist>
