<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gt6jbdt_Button_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,236},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>gt6jbdt_Button_plus_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,236},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>gt6jbdt_HeadBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,112},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>gt6jbdt_Icon_Coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,222},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>gt6jbdt_Icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,222},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>gt6jbdt_Icon_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,222},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>gt6jbdt_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,112},{164,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,76}}</string>
                <key>sourceSize</key>
                <string>{164,76}</string>
            </dict>
            <key>gt6jbdt_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,112},{210,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,108}}</string>
                <key>sourceSize</key>
                <string>{210,108}</string>
            </dict>
            <key>gt6jbdt_char_gdyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,112},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,48}}</string>
                <key>sourceSize</key>
                <string>{154,48}</string>
            </dict>
            <key>gt6jbdt_img_jqqd.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,112},{122,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,78}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>gt6jbdt_img_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,426}}</string>
                <key>sourceSize</key>
                <string>{284,426}</string>
            </dict>
            <key>gt6jbdt_img_whz.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,112},{89,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,78}}</string>
                <key>sourceSize</key>
                <string>{89,78}</string>
            </dict>
            <key>gt6jbdt_liquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,222},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>gt6jbdt_topBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{1280,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,108}}</string>
                <key>sourceSize</key>
                <string>{1280,108}</string>
            </dict>
            <key>gt6jbdt_ziyuan_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,216},{224,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,55}}</string>
                <key>sourceSize</key>
                <string>{224,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gt6jbdt_hall.png</string>
            <key>size</key>
            <string>{1712,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d74b6eb4160fdaa04b416940bb53eed:1/1$</string>
            <key>textureFileName</key>
            <string>gt6jbdt_hall.png</string>
        </dict>
    </dict>
</plist>
