<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gdxpz_dengzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1062},{78,90}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{78,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gdxpz_dengzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1458},{74,90}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{74,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gdxpz_dengzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1783},{80,96}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{80,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gdxpz_dengzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1783},{84,96}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{84,96}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gdxpz_zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1416},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1172},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1343},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,928},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1099},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1324},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,684},{290,242}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{290,242}}</string>
                <key>sourceSize</key>
                <string>{290,250}</string>
            </dict>
            <key>gdxpz_zhuozi_kongbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1777},{120,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{120,64}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>guild_img_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1324},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>guild_pnl_taps.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1371},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guild_pnl_taps_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,220},{392,2}}</string>
                <key>offset</key>
                <string>{86,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,282},{392,2}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>guild_v2_top0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1261},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>guild_v2_top00.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1883},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>xbz_btx_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1899},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>xbz_btx_shangyibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1550},{120,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,39}}</string>
                <key>sourceSize</key>
                <string>{120,39}</string>
            </dict>
            <key>xbz_btx_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1881},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>xbz_hl_xinshouyindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1570},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>xbz_img_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1998},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>xbz_img_jiatouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1955},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>xbz_img_qipaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1660},{221,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,109}}</string>
                <key>sourceSize</key>
                <string>{221,109}</string>
            </dict>
            <key>xbz_img_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{680,381}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{680,381}}</string>
                <key>sourceSize</key>
                <string>{686,383}</string>
            </dict>
            <key>xbz_yindao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{1052,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,528}}</string>
                <key>sourceSize</key>
                <string>{1052,528}</string>
            </dict>
            <key>xpz_bg_gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1062},{655,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,35}}</string>
                <key>sourceSize</key>
                <string>{655,35}</string>
            </dict>
            <key>xpz_bg_nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1269},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>xpz_bg_xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,664},{475,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,93}}</string>
                <key>sourceSize</key>
                <string>{475,93}</string>
            </dict>
            <key>xpz_bg_xinxi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,684},{475,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,93}}</string>
                <key>sourceSize</key>
                <string>{475,93}</string>
            </dict>
            <key>xpz_btn_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1956},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>xpz_btn_chengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1672},{52,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{52,70}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1141},{58,64}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{58,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xpz_btn_gaiyanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1141},{126,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,48}}</string>
                <key>sourceSize</key>
                <string>{126,48}</string>
            </dict>
            <key>xpz_btn_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1744},{52,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{52,72}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_guanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1778},{52,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1729},{54,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_huiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1922},{52,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{52,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1881},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xpz_btn_linghongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1957},{56,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_qinyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1172},{66,242}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,242}}</string>
                <key>sourceSize</key>
                <string>{70,260}</string>
            </dict>
            <key>xpz_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,1880},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1746},{54,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_wanfaguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1811},{284,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,70}}</string>
                <key>sourceSize</key>
                <string>{290,70}</string>
            </dict>
            <key>xpz_btn_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,537},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xpz_btn_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1822},{56,70}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xpz_btn_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1726},{49,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>xpz_btn_xuanze_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1207},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>xpz_btn_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1343},{56,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_yuyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1805},{52,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{52,72}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1957},{54,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1881},{54,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>xpz_btn_zixun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,1879},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xpz_btnicon_xiandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1889},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>xpz_btx_baocun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1269},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>xpz_btx_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1854},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>xpz_btx_lijitiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,375},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>xpz_btx_tianjiawanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1903},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>xpz_btx_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2016},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>xpz_btx_yiguanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1998},{70,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,25}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>xpz_btx_zanbushiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1570},{157,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,39}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>xpz_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1062},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>xpz_fangka_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1416},{308,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,64}}</string>
                <key>sourceSize</key>
                <string>{308,64}</string>
            </dict>
            <key>xpz_fangka_fangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1550},{113,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>xpz_fangka_geren.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1881},{97,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,24}}</string>
                <key>sourceSize</key>
                <string>{97,24}</string>
            </dict>
            <key>xpz_fangka_qyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2016},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>xpz_hl_qyqwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{216,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,50}}</string>
                <key>sourceSize</key>
                <string>{216,50}</string>
            </dict>
            <key>xpz_hl_qyqwfgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1587},{300,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,49}}</string>
                <key>sourceSize</key>
                <string>{300,51}</string>
            </dict>
            <key>xpz_hl_qyqxpzsxl.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1587},{382,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{382,49}}</string>
                <key>sourceSize</key>
                <string>{382,51}</string>
            </dict>
            <key>xpz_hl_xgpzys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{257,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{257,49}}</string>
                <key>sourceSize</key>
                <string>{259,51}</string>
            </dict>
            <key>xpz_ico_zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1883},{188,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,131}}</string>
                <key>sourceSize</key>
                <string>{188,131}</string>
            </dict>
            <key>xpz_ico_zhuozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1371},{197,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{197,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_ico_zhuozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1903},{199,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_ico_zhuozi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1172},{197,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{197,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_ico_zhuozi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1771},{199,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_ico_zhuozi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1916},{199,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_ico_zhuozi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1916},{199,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,130}}</string>
                <key>sourceSize</key>
                <string>{199,130}</string>
            </dict>
            <key>xpz_id_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,220},{153,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,46}}</string>
                <key>sourceSize</key>
                <string>{153,46}</string>
            </dict>
            <key>xpz_img_gengxintu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1052,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,528}}</string>
                <key>sourceSize</key>
                <string>{1052,528}</string>
            </dict>
            <key>xpz_img_liepiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1099},{383,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,223}}</string>
                <key>sourceSize</key>
                <string>{383,223}</string>
            </dict>
            <key>xpz_img_niwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1587},{383,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,223}}</string>
                <key>sourceSize</key>
                <string>{383,223}</string>
            </dict>
            <key>xpz_img_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1922},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>xpz_img_touxiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1798},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>xpz_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{295,523}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{295,523}}</string>
                <key>sourceSize</key>
                <string>{295,627}</string>
            </dict>
            <key>xpz_left_btn_cjqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1713},{115,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{115,68}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>xpz_left_btn_jrqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1660},{115,68}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{115,68}}</string>
                <key>sourceSize</key>
                <string>{147,104}</string>
            </dict>
            <key>xpz_left_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1587},{295,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,116}}</string>
                <key>sourceSize</key>
                <string>{295,116}</string>
            </dict>
            <key>xpz_left_tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1416},{295,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,116}}</string>
                <key>sourceSize</key>
                <string>{295,116}</string>
            </dict>
            <key>xpz_left_tapdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1705},{295,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,104}}</string>
                <key>sourceSize</key>
                <string>{295,104}</string>
            </dict>
            <key>xpz_left_tapdi_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1154},{1,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,78}}</string>
                <key>sourceSize</key>
                <string>{1,78}</string>
            </dict>
            <key>xpz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1570},{132,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,49}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>xpz_txt_yindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,2},{660,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,85}}</string>
                <key>sourceSize</key>
                <string>{660,85}</string>
            </dict>
            <key>xpz_yanse_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1742},{254,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,172}}</string>
                <key>sourceSize</key>
                <string>{254,172}</string>
            </dict>
            <key>xpz_yanse_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1568},{254,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,172}}</string>
                <key>sourceSize</key>
                <string>{254,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smalltable.png</string>
            <key>size</key>
            <string>{1578,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf22004841e19ff48ee711630e047e01:1/1$</string>
            <key>textureFileName</key>
            <string>smalltable.png</string>
        </dict>
    </dict>
</plist>
