<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_v2_btn_cjqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,150},{111,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{111,66}}</string>
                <key>sourceSize</key>
                <string>{135,100}</string>
            </dict>
            <key>guild_v2_btn_jrqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,218},{111,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{111,64}}</string>
                <key>sourceSize</key>
                <string>{135,100}</string>
            </dict>
            <key>guild_v2_hl_jiaruqinyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,36},{215,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,48}}</string>
                <key>sourceSize</key>
                <string>{215,50}</string>
            </dict>
            <key>guild_v2_img_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,36},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>guild_v2_img_renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,58},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>guild_v2_img_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,190},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>guild_v2_img_xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,150},{45,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,28}}</string>
                <key>sourceSize</key>
                <string>{45,28}</string>
            </dict>
            <key>guild_v2_img_zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,86},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>guild_v2_input_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,119},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>guild_v2_julebu_gonggao_di_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,462},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>guild_v2_main_helpIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,247},{31,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>guild_v2_main_hongbao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,180},{65,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,44}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>guild_v2_main_hongbao_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,272},{67,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>guild_v2_main_jiaobiao_youfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,441},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>guild_v2_main_left_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,222},{62,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,238}}</string>
                <key>sourceSize</key>
                <string>{62,238}</string>
            </dict>
            <key>guild_v2_main_left_topdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,100}}</string>
                <key>sourceSize</key>
                <string>{271,100}</string>
            </dict>
            <key>guild_v2_main_lianghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,336},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>guild_v2_main_zuoqieyexiao_an_jiugongge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{270,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,116}}</string>
                <key>sourceSize</key>
                <string>{270,116}</string>
            </dict>
            <key>guild_v2_main_zuoqieyexiao_liang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{270,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,116}}</string>
                <key>sourceSize</key>
                <string>{270,116}</string>
            </dict>
            <key>guild_v2_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,385},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>guild_v2_top11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,329},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>guild_v2_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,329},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>guild_v2_top21.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,280},{54,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>guild_v2_txt_qyqfl.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,117},{162,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,31}}</string>
                <key>sourceSize</key>
                <string>{162,31}</string>
            </dict>
            <key>guild_v2_txt_rhjrqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>icon_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,86},{208,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,29}}</string>
                <key>sourceSize</key>
                <string>{208,29}</string>
            </dict>
            <key>icon_lianhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,222},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_newMain.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5b8baaf42c4a936b10db791aa00c83:1/1$</string>
            <key>textureFileName</key>
            <string>guild_newMain.png</string>
        </dict>
    </dict>
</plist>
