<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aler_btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,183},{185,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,62}}</string>
                <key>sourceSize</key>
                <string>{185,62}</string>
            </dict>
            <key>club_btn_chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,86}}</string>
                <key>sourceSize</key>
                <string>{228,86}</string>
            </dict>
            <key>guild_alerl_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,375},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>guild_btx_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,448},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>guild_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,471},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>guild_desc_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,558},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>guild_head_img_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,475},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_head_img_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,475},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_pv2_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>guild_xiangqing_txt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,142},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>lb_btx_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,718},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>lb_qp_djgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{158,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,73}}</string>
                <key>sourceSize</key>
                <string>{158,73}</string>
            </dict>
            <key>mainv2_huobi_icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,616},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>public_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>pubv2_button_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,523},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>qipao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,370},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>qipao_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,718},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>qyq_fenlei_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,668},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>qyq_fenlei_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,90},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>qyq_fenlei_xiala_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,444},{25,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,67}}</string>
                <key>sourceSize</key>
                <string>{25,67}</string>
            </dict>
            <key>qyq_fenlei_xiala_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,421},{25,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,67}}</string>
                <key>sourceSize</key>
                <string>{25,67}</string>
            </dict>
            <key>qyq_input_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,468},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{59,87}</string>
            </dict>
            <key>qyq_left_cedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{211,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,720}}</string>
                <key>sourceSize</key>
                <string>{211,720}</string>
            </dict>
            <key>qyq_left_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{211,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,86}}</string>
                <key>sourceSize</key>
                <string>{211,86}</string>
            </dict>
            <key>qyq_left_tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{211,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,86}}</string>
                <key>sourceSize</key>
                <string>{211,86}</string>
            </dict>
            <key>qyq_pnl_biaoqiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,428},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>qyq_pnl_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>qyq_pnl_zhijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,266},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,107}</string>
            </dict>
            <key>qyq_pnl_zhijiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,557},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>qyq_tanchu_pnl_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{187,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,101}}</string>
                <key>sourceSize</key>
                <string>{187,101}</string>
            </dict>
            <key>xpz_btn_djgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{138,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,65}}</string>
                <key>sourceSize</key>
                <string>{138,65}</string>
            </dict>
            <key>xpz_btx_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,369},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_v2_public.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57a2636fde0300a47be479763c1c71e8:1/1$</string>
            <key>textureFileName</key>
            <string>guild_v2_public.png</string>
        </dict>
    </dict>
</plist>
