<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aler_txt_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,250},{98,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,41}}</string>
                <key>sourceSize</key>
                <string>{98,41}</string>
            </dict>
            <key>aler_txt_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,250},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{54,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,77}}</string>
                <key>sourceSize</key>
                <string>{54,77}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,168},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>guild_zhanji_btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,378},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>guild_zhanji_btn_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,103},{320,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,63}}</string>
                <key>sourceSize</key>
                <string>{320,63}</string>
            </dict>
            <key>guild_zhanji_btx_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{53,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,24}}</string>
                <key>sourceSize</key>
                <string>{53,24}</string>
            </dict>
            <key>guild_zhanji_img_ka.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,103},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>guild_zhanji_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{20,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,2}</string>
            </dict>
            <key>guild_zhanji_main_fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,168},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>guild_zhanji_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{246,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,83}}</string>
                <key>sourceSize</key>
                <string>{246,83}</string>
            </dict>
            <key>guild_zhanji_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{246,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,83}}</string>
                <key>sourceSize</key>
                <string>{246,83}</string>
            </dict>
            <key>guild_zhanji_tab_zjck_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,250},{126,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,33}}</string>
                <key>sourceSize</key>
                <string>{126,33}</string>
            </dict>
            <key>guild_zhanji_tab_zjck_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,378},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>jianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,99}}</string>
                <key>sourceSize</key>
                <string>{421,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_record.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d636ba39b6855b2a590b920cbabd0b:1/1$</string>
            <key>textureFileName</key>
            <string>guild_record.png</string>
        </dict>
    </dict>
</plist>
