<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_btx_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,34},{77,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,30}}</string>
                <key>sourceSize</key>
                <string>{77,30}</string>
            </dict>
            <key>club_btx_tjgdwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{143,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,25}}</string>
                <key>sourceSize</key>
                <string>{143,25}</string>
            </dict>
            <key>club_btx_tjyjkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,25}}</string>
                <key>sourceSize</key>
                <string>{143,25}</string>
            </dict>
            <key>club_btx_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>club_hl_fjwfsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{255,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,50}}</string>
                <key>sourceSize</key>
                <string>{255,50}</string>
            </dict>
            <key>club_hl_kszj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{340,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,49}}</string>
                <key>sourceSize</key>
                <string>{340,49}</string>
            </dict>
            <key>club_hl_zyjwf.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,66},{296,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,49}}</string>
                <key>sourceSize</key>
                <string>{296,49}</string>
            </dict>
            <key>club_pnl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_fastgroup.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c598dd76a936d1a5346e46c7ad0532:1/1$</string>
            <key>textureFileName</key>
            <string>guild_fastgroup.png</string>
        </dict>
    </dict>
</plist>
