<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_v2_main_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,100},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>guild_zhanji_btx_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,86},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>guild_zhanji_btx_chazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,113},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>guild_zhanji_btx_qushezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,170},{120,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,41}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>guild_zhanji_hl_chakanxiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>guild_zhanji_hl_riqixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,164},{171,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,49}}</string>
                <key>sourceSize</key>
                <string>{171,49}</string>
            </dict>
            <key>guild_zhanji_img_riqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,137},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>guild_zhanji_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,137},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>guild_zhanji_input_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>guild_zhanji_pnl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guild_zhanji_pnl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,186},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guild_zhanji_riqi_shuru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,82}}</string>
                <key>sourceSize</key>
                <string>{279,82}</string>
            </dict>
            <key>guild_zhanji_riqi_shuru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,82}}</string>
                <key>sourceSize</key>
                <string>{279,82}</string>
            </dict>
            <key>guild_zhanji_riqi_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{171,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,74}}</string>
                <key>sourceSize</key>
                <string>{171,74}</string>
            </dict>
            <key>guild_zhanji_riqi_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,100},{171,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,74}}</string>
                <key>sourceSize</key>
                <string>{171,74}</string>
            </dict>
            <key>guild_zhanji_zuijiazhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{202,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,96}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_popup.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa62b3e5f6b8ecda3ce029297fdc967f:1/1$</string>
            <key>textureFileName</key>
            <string>guild_popup.png</string>
        </dict>
    </dict>
</plist>
