<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_act_btn_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,176},{178,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,63}}</string>
                <key>sourceSize</key>
                <string>{178,63}</string>
            </dict>
            <key>club_act_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,421}}</string>
                <key>sourceSize</key>
                <string>{213,421}</string>
            </dict>
            <key>club_act_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{183,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,34}}</string>
                <key>sourceSize</key>
                <string>{183,34}</string>
            </dict>
            <key>club_act_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{197,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,37}}</string>
                <key>sourceSize</key>
                <string>{197,37}</string>
            </dict>
            <key>club_act_img3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,187},{158,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,34}}</string>
                <key>sourceSize</key>
                <string>{158,34}</string>
            </dict>
            <key>club_act_img4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{204,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{204,28}}</string>
                <key>sourceSize</key>
                <string>{204,30}</string>
            </dict>
            <key>club_btn_chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{210,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,70}}</string>
                <key>sourceSize</key>
                <string>{210,70}</string>
            </dict>
            <key>club_btn_lan_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,283},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>club_btn_wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,425},{182,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,74}}</string>
                <key>sourceSize</key>
                <string>{182,74}</string>
            </dict>
            <key>club_btn_wanfa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,347},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>club_btn_ziyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>club_btn_ziyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,289},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>club_btx_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,347},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,25}</string>
            </dict>
            <key>club_btx_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,325},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>club_btx_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,201},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,27}}</string>
                <key>sourceSize</key>
                <string>{80,27}</string>
            </dict>
            <key>club_ico_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,261},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>club_img_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,96},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>club_img_touxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,201},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>club_img_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>club_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{2,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,86}}</string>
                <key>sourceSize</key>
                <string>{2,86}</string>
            </dict>
            <key>club_pnl2_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,208},{56,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,51}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>club_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,356},{129,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,90}}</string>
                <key>sourceSize</key>
                <string>{131,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_hall.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da7377e5ee98b62b668d0959fa4e71e:1/1$</string>
            <key>textureFileName</key>
            <string>guild_hall.png</string>
        </dict>
    </dict>
</plist>
