<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_act_linghongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,720},{72,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{72,72}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_act_queshensai.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,644},{76,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{76,68}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_act_wechat_linghongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,427},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,83}}</string>
                <key>sourceSize</key>
                <string>{73,85}</string>
            </dict>
            <key>guild_act_xianshifangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,572},{80,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_act_yqdhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,893},{86,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_act_zhaohuizhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,500},{80,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_act_zuanshangjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,357},{86,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{86,68}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>guild_icon_chuiniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,233},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>guild_icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>guild_v2_iconjulebu_lijixiangshoutequan_di_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,583},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>guild_v2_iconjulebu_lijixiangshoutequan_di_jiugongge_heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{534,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,40}}</string>
                <key>sourceSize</key>
                <string>{534,40}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_guanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,509},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_match.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,644},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,435},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,509},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,357},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,433},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>guild_v2_iconjulebu_tubiao_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,357},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>guild_v2_iconzhaocaimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,232}}</string>
                <key>sourceSize</key>
                <string>{229,232}</string>
            </dict>
            <key>qyq_img_tuijian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,981},{59,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,22}}</string>
                <key>sourceSize</key>
                <string>{59,22}</string>
            </dict>
            <key>xpz_img_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{109,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,30}}</string>
                <key>sourceSize</key>
                <string>{109,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_v2_icon.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:256ce4fdb07cf8355e80f9561587b774:1/1$</string>
            <key>textureFileName</key>
            <string>guild_v2_icon.png</string>
        </dict>
    </dict>
</plist>
