<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_v2_historyStatic_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,332},{51,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,127}}</string>
                <key>sourceSize</key>
                <string>{51,127}</string>
            </dict>
            <key>guild_v2_historyStatic_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,332},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>guild_v2_historyStatic_check0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,427},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guild_v2_historyStatic_check1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,460},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>guild_v2_historyStatic_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,302},{27,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>guild_v2_historyStatic_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,427},{27,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>guild_v2_historyStatic_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,461},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>guild_v2_historyStatic_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,461},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>guild_v2_historyStatic_line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,302},{1,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,28}}</string>
                <key>sourceSize</key>
                <string>{1,28}</string>
            </dict>
            <key>guild_v2_historyStatic_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{28,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,1}}</string>
                <key>sourceSize</key>
                <string>{28,1}</string>
            </dict>
            <key>guild_v2_historyStatic_timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{298,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,36}}</string>
                <key>sourceSize</key>
                <string>{298,36}</string>
            </dict>
            <key>guild_v2_historyStatic_timeLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{29,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,9}}</string>
                <key>sourceSize</key>
                <string>{29,9}</string>
            </dict>
            <key>guild_v2_historyStatic_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{173,50}</string>
            </dict>
            <key>guild_v2_historyStatic_winBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{468,315}}</string>
                <key>sourceSize</key>
                <string>{472,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>historyStatics.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee341b51a31596044086a8676b19b6a:1/1$</string>
            <key>textureFileName</key>
            <string>historyStatics.png</string>
        </dict>
    </dict>
</plist>
