<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_XinChunCiFu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1681},{564,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{564,232}}</string>
                <key>sourceSize</key>
                <string>{568,236}</string>
            </dict>
            <key>ZZ_CardFX_LiHua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,90},{766,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{766,388}}</string>
                <key>sourceSize</key>
                <string>{770,392}</string>
            </dict>
            <key>club_nmdl_act_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,949},{302,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,92}}</string>
                <key>sourceSize</key>
                <string>{302,92}</string>
            </dict>
            <key>club_nmdl_act_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,314},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>club_nmdl_act_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,480},{136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,29}}</string>
                <key>sourceSize</key>
                <string>{136,29}</string>
            </dict>
            <key>club_nmdl_act_btx_yaly.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1768},{153,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,40}}</string>
                <key>sourceSize</key>
                <string>{153,40}</string>
            </dict>
            <key>club_nmdl_act_btx_yqxmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1628},{191,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,40}}</string>
                <key>sourceSize</key>
                <string>{191,40}</string>
            </dict>
            <key>club_nmdl_actbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{1034,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,460}}</string>
                <key>sourceSize</key>
                <string>{1034,460}</string>
            </dict>
            <key>club_nmdl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,480},{1060,627}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1060,627}}</string>
                <key>sourceSize</key>
                <string>{1060,629}</string>
            </dict>
            <key>club_nmdl_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,280},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>club_nmdl_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1446},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,48}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>club_nmdl_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1495},{282,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,83}}</string>
                <key>sourceSize</key>
                <string>{282,83}</string>
            </dict>
            <key>club_nmdl_btn_green_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1496},{183,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,67}}</string>
                <key>sourceSize</key>
                <string>{183,67}</string>
            </dict>
            <key>club_nmdl_btn_jilu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1580},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>club_nmdl_btn_jilu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,131},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>club_nmdl_btn_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1580},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>club_nmdl_btn_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1580},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>club_nmdl_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,90},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>club_nmdl_btn_yellow_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1313},{332,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,84}}</string>
                <key>sourceSize</key>
                <string>{332,84}</string>
            </dict>
            <key>club_nmdl_btn_yellow_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1915},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,42}}</string>
                <key>sourceSize</key>
                <string>{112,42}</string>
            </dict>
            <key>club_nmdl_btn_zhaohui.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1580},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>club_nmdl_btx_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1155},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>club_nmdl_btx_kszh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1051},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>club_nmdl_btx_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1580},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>club_nmdl_btx_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1580},{98,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,41}}</string>
                <key>sourceSize</key>
                <string>{98,41}</string>
            </dict>
            <key>club_nmdl_btx_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1580},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>club_nmdl_btx_yijianzhaohui.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1638},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>club_nmdl_btx_yqly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,949},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>club_nmdl_btx_yqxmy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,666},{125,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,27}}</string>
                <key>sourceSize</key>
                <string>{125,27}</string>
            </dict>
            <key>club_nmdl_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,841},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>club_nmdl_hesd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>club_nmdl_hl_hdsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1580},{169,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,46}}</string>
                <key>sourceSize</key>
                <string>{169,46}</string>
            </dict>
            <key>club_nmdl_hl_khghylb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1399},{297,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,46}}</string>
                <key>sourceSize</key>
                <string>{297,46}</string>
            </dict>
            <key>club_nmdl_hl_lyhgcgjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1265},{340,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,46}}</string>
                <key>sourceSize</key>
                <string>{340,46}</string>
            </dict>
            <key>club_nmdl_hl_tqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,170},{172,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,46}}</string>
                <key>sourceSize</key>
                <string>{172,46}</string>
            </dict>
            <key>club_nmdl_hl_xwjyqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1447},{296,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,46}}</string>
                <key>sourceSize</key>
                <string>{298,46}</string>
            </dict>
            <key>club_nmdl_hl_xzjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,556},{171,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,46}}</string>
                <key>sourceSize</key>
                <string>{171,46}</string>
            </dict>
            <key>club_nmdl_ico_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1940},{150,106}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{150,106}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
            <key>club_nmdl_ico_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,695},{124,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{124,102}}</string>
                <key>sourceSize</key>
                <string>{158,106}</string>
            </dict>
            <key>club_nmdl_icobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,384},{170,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,180}}</string>
                <key>sourceSize</key>
                <string>{170,180}</string>
            </dict>
            <key>club_nmdl_icobg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,2},{172,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{172,166}</string>
            </dict>
            <key>club_nmdl_img_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,218},{171,164}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{171,164}}</string>
                <key>sourceSize</key>
                <string>{177,174}</string>
            </dict>
            <key>club_nmdl_img_hgly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,476},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>club_nmdl_img_klq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,799},{123,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,40}}</string>
                <key>sourceSize</key>
                <string>{123,40}</string>
            </dict>
            <key>club_nmdl_img_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,511},{130,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,153}}</string>
                <key>sourceSize</key>
                <string>{130,153}</string>
            </dict>
            <key>club_nmdl_img_xzwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,348},{126,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,31}}</string>
                <key>sourceSize</key>
                <string>{126,31}</string>
            </dict>
            <key>club_nmdl_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1580},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>club_nmdl_listbg_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1542},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>club_nmdl_listbg_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1399},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>club_nmdl_pnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1580},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>club_nmdl_pnl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,226},{52,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,32}}</string>
                <key>sourceSize</key>
                <string>{52,32}</string>
            </dict>
            <key>club_nmdl_tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{1052,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,86}}</string>
                <key>sourceSize</key>
                <string>{1052,86}</string>
            </dict>
            <key>club_nmdl_tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{806,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,86}}</string>
                <key>sourceSize</key>
                <string>{806,86}</string>
            </dict>
            <key>guild_act_yqdhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1580},{86,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>yindao/club_nmdl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,480},{1060,627}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1060,627}}</string>
                <key>sourceSize</key>
                <string>{1060,629}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1542},{567,224}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,224}}</string>
                <key>sourceSize</key>
                <string>{585,232}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1580},{218,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,90}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{567,190}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,190}}</string>
                <key>sourceSize</key>
                <string>{585,200}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1954},{218,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,90}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1821},{567,190}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,190}}</string>
                <key>sourceSize</key>
                <string>{585,200}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,604},{218,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,90}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,696},{567,224}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,224}}</string>
                <key>sourceSize</key>
                <string>{585,232}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{372,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,110}}</string>
                <key>sourceSize</key>
                <string>{372,110}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1061,625}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,2},{1061,625}}</string>
                <key>sourceSize</key>
                <string>{1187,665}</string>
            </dict>
            <key>yindao/club_nmdl_yindao_pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1681},{241,257}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{241,257}}</string>
                <key>sourceSize</key>
                <string>{305,291}</string>
            </dict>
            <key>yindao/guild_act_yqdhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1580},{86,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_activities_recall.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31c67143d02ca54b4642ae33fef18613:1/1$</string>
            <key>textureFileName</key>
            <string>guild_activities_recall.png</string>
        </dict>
    </dict>
</plist>
