<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_XinChunCiFu_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{22,34}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{22,34}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{30,36}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{30,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,40},{40,36}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{46,36}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{52,36}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{58,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,40},{60,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,40},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{62,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,40},{58,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,40},{52,36}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{52,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{46,36}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{46,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{40,36}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{32,36}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{32,36}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{26,32}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{26,32}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,24}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{18,24}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,40},{30,40}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,40}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,86},{38,44}}</string>
                <key>offset</key>
                <string>{-24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,86},{46,44}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,86},{52,44}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,44}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{70,44}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{76,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{76,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,86},{74,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,86},{68,44}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,86},{62,44}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,40},{54,44}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,40},{40,44}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,40},{34,44}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{26,36}}</string>
                <key>offset</key>
                <string>{31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,132},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{10,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,31}}</string>
                <key>sourceSize</key>
                <string>{10,31}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,40},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,132},{155,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,84}}</string>
                <key>sourceSize</key>
                <string>{155,84}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,132},{188,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,94}}</string>
                <key>sourceSize</key>
                <string>{188,94}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>PT_UIFX_XinChunCiFu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,132},{33,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,80}}</string>
                <key>sourceSize</key>
                <string>{33,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_XinChunCiFu.png</string>
            <key>size</key>
            <string>{568,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6be5526aa8408fea496fc1dfb7b009a$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_XinChunCiFu.png</string>
        </dict>
    </dict>
</plist>
