<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_YouXiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{20,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,11}}</string>
                <key>sourceSize</key>
                <string>{20,11}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,46},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,49}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,110},{98,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,143}}</string>
                <key>sourceSize</key>
                <string>{98,143}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,110},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{110,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,46},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,46},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,46},{90,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,62}}</string>
                <key>sourceSize</key>
                <string>{90,62}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouXiu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_YouXiu.png</string>
            <key>size</key>
            <string>{346,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:999eac73026cf1749d66e7992c4df972$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_YouXiu.png</string>
        </dict>
    </dict>
</plist>
