<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>zd_duihuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>zd_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>zd_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>zd_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{121,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,133}}</string>
                <key>sourceSize</key>
                <string>{121,133}</string>
            </dict>
            <key>zd_luanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,2},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ZhaDan_Sheet01.png</string>
            <key>size</key>
            <string>{125,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d50af5a490c5f317b2b7ab40d59597b$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ZhaDan_Sheet01.png</string>
        </dict>
    </dict>
</plist>
