<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,108},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,108},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,108},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,108},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{30,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{30,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{28,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,67}}</string>
                <key>sourceSize</key>
                <string>{28,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{30,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{30,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{120,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,24}}</string>
                <key>sourceSize</key>
                <string>{120,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{97,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,103}}</string>
                <key>sourceSize</key>
                <string>{97,103}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{97,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,104}}</string>
                <key>sourceSize</key>
                <string>{97,104}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,108},{158,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,137}}</string>
                <key>sourceSize</key>
                <string>{158,137}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{27,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{27,14}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuNianDaJi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ZhuNianDaJi_Sheet1.png</string>
            <key>size</key>
            <string>{959,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4b5739455acf675264a7c127e2adf3$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ZhuNianDaJi_Sheet1.png</string>
        </dict>
    </dict>
</plist>
