<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_SDS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,476}}</string>
                <key>sourceSize</key>
                <string>{477,476}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{175,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,185}}</string>
                <key>sourceSize</key>
                <string>{175,185}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,480},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,480},{75,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,123}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,480},{129,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,125}}</string>
                <key>sourceSize</key>
                <string>{129,125}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{188,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,153}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,667},{175,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,155}}</string>
                <key>sourceSize</key>
                <string>{175,155}</string>
            </dict>
            <key>ZZ_EmoticonFX_SDS_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,667},{137,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,134}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_SDS.png</string>
            <key>size</key>
            <string>{508,824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:717d03c9ee8fd39534115682f1ec31ab$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_SDS.png</string>
        </dict>
    </dict>
</plist>
