<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{536,350}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{536,350}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,734},{534,342}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{534,342}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{532,344}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{532,344}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1424},{530,344}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{530,344}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1078},{530,344}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{530,344}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1078},{530,342}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{530,342}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1616},{530,344}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{530,344}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1082},{532,346}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{532,346}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{532,354}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{532,354}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,542},{534,360}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{534,360}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{538,366}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{538,366}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,368}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{540,368}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{540,366}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{540,366}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,370},{540,362}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{540,362}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{538,356}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{538,356}}</string>
                <key>sourceSize</key>
                <string>{550,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ShuLiYouCai_Sheet1.png</string>
            <key>size</key>
            <string>{1600,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1da86d85e1f2d3b9808b3cdd3263af61$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ShuLiYouCai_Sheet1.png</string>
        </dict>
    </dict>
</plist>
