<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_YouZiYe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,943},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{202,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,132}}</string>
                <key>sourceSize</key>
                <string>{202,132}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{294,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,274}}</string>
                <key>sourceSize</key>
                <string>{315,274}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{135,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,256}}</string>
                <key>sourceSize</key>
                <string>{135,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{295,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,227}}</string>
                <key>sourceSize</key>
                <string>{295,227}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,603},{140,270}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{140,270}}</string>
                <key>sourceSize</key>
                <string>{140,290}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,638},{32,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,93}}</string>
                <key>sourceSize</key>
                <string>{32,93}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,561},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,207},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,544},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,186},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,875},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,924},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,978},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{35,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,74}}</string>
                <key>sourceSize</key>
                <string>{35,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,978},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,978},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,733},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,978},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,946},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,502},{21,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,57}}</string>
                <key>sourceSize</key>
                <string>{21,57}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,162},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,811},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,162},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,502},{98,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,101}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{158,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,111}}</string>
                <key>sourceSize</key>
                <string>{158,111}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,946},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,978},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,875},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>ZZ_EmoticonFX_YouZiYe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,875},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_YouZiYe.png</string>
            <key>size</key>
            <string>{432,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d62d74e47164170311315a4f5c9224b$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_YouZiYe.png</string>
        </dict>
    </dict>
</plist>
