<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,279},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,279},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,279},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,556},{433,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,275}}</string>
                <key>sourceSize</key>
                <string>{433,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_QueShen_Sheet4.png</string>
            <key>size</key>
            <string>{1742,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:063e56216058c72151e9a1f015ef56e9$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_QueShen_Sheet4.png</string>
        </dict>
    </dict>
</plist>
