<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TangYuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{263,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,206}}</string>
                <key>sourceSize</key>
                <string>{263,206}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,55},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{397,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,289}}</string>
                <key>sourceSize</key>
                <string>{397,289}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,272},{253,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,168}}</string>
                <key>sourceSize</key>
                <string>{253,168}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,155},{246,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,115}}</string>
                <key>sourceSize</key>
                <string>{246,115}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,55},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,55},{30,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{30,62}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,55},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan.png</string>
            <key>size</key>
            <string>{401,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e82f2480082af98baeba8cb6f8fef7$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan.png</string>
        </dict>
    </dict>
</plist>
