<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_SiMiLiWu_ZiTi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,95}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_SiMiLiWu_ZiTi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{87,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,101}}</string>
                <key>sourceSize</key>
                <string>{87,101}</string>
            </dict>
            <key>ZZ_EmoticonFX_SiMiLiWu_ZiTi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>ZZ_EmoticonFX_SiMiLiWu_ZiTi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_SiMiLiWu_ZiTi_Sprite1.png</string>
            <key>size</key>
            <string>{400,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd86756340560016c3f64c1ae48a14e2$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_SiMiLiWu_ZiTi_Sprite1.png</string>
        </dict>
    </dict>
</plist>
