<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_Sheet3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,120}}</string>
                <key>sourceSize</key>
                <string>{26,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_BaiCaiShen_Sheet3.png</string>
            <key>size</key>
            <string>{30,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e843a5813c2b3e25cc5e17bf52f2ef5e$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_BaiCaiShen_Sheet3.png</string>
        </dict>
    </dict>
</plist>
