<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_LiPao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,93}}</string>
                <key>sourceSize</key>
                <string>{42,93}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{157,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,183}}</string>
                <key>sourceSize</key>
                <string>{157,183}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{158,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,46}}</string>
                <key>sourceSize</key>
                <string>{158,46}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,187},{31,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,78}}</string>
                <key>sourceSize</key>
                <string>{31,78}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,267},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,360},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_LiPao_Sprite1.png</string>
            <key>size</key>
            <string>{205,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d0de566313601b674569aebf320abec$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_LiPao_Sprite1.png</string>
        </dict>
    </dict>
</plist>
