<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_LianRongYueBing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,265}}</string>
                <key>sourceSize</key>
                <string>{262,265}</string>
            </dict>
            <key>ZZ_EmoticonFX_WuRenYueBing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{260,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,268}}</string>
                <key>sourceSize</key>
                <string>{260,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_WuRenYueBing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{99,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,127}}</string>
                <key>sourceSize</key>
                <string>{99,127}</string>
            </dict>
            <key>ZZ_EmoticonFX_WuRenYueBing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,272},{142,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,56}}</string>
                <key>sourceSize</key>
                <string>{142,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_WuRenYueBing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,272},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,94}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>ZZ_EmoticonFX_WuRenYueBing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,272},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_WuRenYueBing_Sheet1.png</string>
            <key>size</key>
            <string>{528,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f886979aa402910f22449bd967068e11$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_WuRenYueBing_Sheet1.png</string>
        </dict>
    </dict>
</plist>
