<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,188},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_1.png</string>
            <key>size</key>
            <string>{2022,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a404b2ccfc051fd55d58f1f644f78f73$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_1.png</string>
        </dict>
    </dict>
</plist>
