<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,125},{30,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,19}}</string>
                <key>sourceSize</key>
                <string>{30,19}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,234},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,234},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,94},{63,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,187},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,215},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,215},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,94},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,90}}</string>
                <key>sourceSize</key>
                <string>{83,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,212},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,188},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,159},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,157},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_XiangXiangPai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XiangXiangPai.png</string>
            <key>size</key>
            <string>{87,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ce600e5f986e2b27ecdb7ef841827e6$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XiangXiangPai.png</string>
        </dict>
    </dict>
</plist>
