<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_GangJing_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,47}}</string>
                <key>sourceSize</key>
                <string>{104,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_GangJing_Sheet1.png</string>
            <key>size</key>
            <string>{1274,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb34cb21b8ea10d2a843500689a5012$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_GangJing_Sheet1.png</string>
        </dict>
    </dict>
</plist>
