<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,259}}</string>
                <key>sourceSize</key>
                <string>{541,259}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{109,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,297}}</string>
                <key>sourceSize</key>
                <string>{109,297}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,301},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,301},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,583},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,583},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,865},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,865},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1147},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1147},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1147},{400,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{500,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,200}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1429},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet1.png</string>
            <key>size</key>
            <string>{1208,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e585544c44c4accd40012392265581$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet1.png</string>
        </dict>
    </dict>
</plist>
