<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,398},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,398},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,398},{389,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,394}}</string>
                <key>sourceSize</key>
                <string>{389,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_3.png</string>
            <key>size</key>
            <string>{1566,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e571060bff1b8b061550429a37cdc5$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_3.png</string>
        </dict>
    </dict>
</plist>
