<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_LiPao_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_LiPao_Sheet1.png</string>
            <key>size</key>
            <string>{462,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608d1f7967f08f2d7aecc8991f3ced7c$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_LiPao_Sheet1.png</string>
        </dict>
    </dict>
</plist>
