<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_DaoKan_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,2},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_DaoKan_Sheet1.png</string>
            <key>size</key>
            <string>{1642,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125bfb589b68474087ada712067eecd0$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_DaoKan_Sheet1.png</string>
        </dict>
    </dict>
</plist>
