<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,354},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,354},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,354},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,706},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,706},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,706},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1058},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1058},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1058},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1410},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1410},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_Sheet02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1410},{250,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,350}}</string>
                <key>sourceSize</key>
                <string>{250,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_WenCaiShen_Sheet02.png</string>
            <key>size</key>
            <string>{1010,1762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b514bf54df46cc2e442aab17a3f5a7$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_WenCaiShen_Sheet02.png</string>
        </dict>
    </dict>
</plist>
