<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,47}}</string>
                <key>sourceSize</key>
                <string>{111,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ZZ_EmoticonFX_HuaiXiao_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_HuaiXiao.png</string>
            <key>size</key>
            <string>{355,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38ebf8e84a7f82c92154ee5d09bd85a9$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_HuaiXiao.png</string>
        </dict>
    </dict>
</plist>
