<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_QDX_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,82},{306,94}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{306,94}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,178},{318,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{318,104}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,178},{330,104}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{330,104}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{326,80}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{326,80}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,82},{118,82}}</string>
                <key>offset</key>
                <string>{-151,241}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,385},{118,82}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{96,74}}</string>
                <key>offset</key>
                <string>{-141,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,406},{96,74}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{84,78}}</string>
                <key>offset</key>
                <string>{-137,225}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,403},{84,78}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{306,154}}</string>
                <key>offset</key>
                <string>{-22,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,690},{306,154}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{350,314}}</string>
                <key>offset</key>
                <string>{-28,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,424},{350,314}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{76,66}}</string>
                <key>offset</key>
                <string>{-102,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,519},{76,66}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{100,96}}</string>
                <key>offset</key>
                <string>{-104,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,507},{100,96}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{86,56}}</string>
                <key>offset</key>
                <string>{-145,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,588},{86,56}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{116,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{116,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,50}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,615},{138,50}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,478},{348,470}}</string>
                <key>offset</key>
                <string>{98,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,349},{348,470}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>ZZ_EmoticonFX_QDX_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{468,192}}</string>
                <key>offset</key>
                <string>{-34,-208}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,779},{468,192}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_QDX.png</string>
            <key>size</key>
            <string>{780,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63cc852bc4126569e80cf4eb3f537de9$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_QDX.png</string>
        </dict>
    </dict>
</plist>
