<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,156},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,156},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,156},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,156},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,310},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,310},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,310},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
            <key>ZZ_EmoticonFX_QiXi_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,310},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{84,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_QiXi_Sheet1.png</string>
            <key>size</key>
            <string>{432,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:683d8ac06abda3c956f819fb760d9cfa$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_QiXi_Sheet1.png</string>
        </dict>
    </dict>
</plist>
