<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_YuBaiCai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,297}}</string>
                <key>sourceSize</key>
                <string>{186,297}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{118,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,279}}</string>
                <key>sourceSize</key>
                <string>{118,279}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{141,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,272}}</string>
                <key>sourceSize</key>
                <string>{141,272}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,301},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,301},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,301},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{163,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,87}}</string>
                <key>sourceSize</key>
                <string>{163,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_YuBaiCai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,354},{256,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,253}}</string>
                <key>sourceSize</key>
                <string>{256,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_YuBaiCai_Sprite_1.png</string>
            <key>size</key>
            <string>{453,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4e49571108f0c71a8dd53594f4feae9$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_YuBaiCai_Sprite_1.png</string>
        </dict>
    </dict>
</plist>
