<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,220},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,220},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,220},{218,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_1.png</string>
            <key>size</key>
            <string>{1322,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d97fb87c1c3d3e80f90bfb35f770b0c$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_1.png</string>
        </dict>
    </dict>
</plist>
