<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{412,120}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{412,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{412,120}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{412,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{412,122}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,124},{412,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,124}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{412,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,124}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,250},{412,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,124}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{412,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,124}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,376},{410,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,124}}</string>
                <key>sourceSize</key>
                <string>{412,124}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{28,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,502},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,502},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,502},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,502},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,502},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,502},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZhuanYunZhu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,502},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ZhuanYunZhu.png</string>
            <key>size</key>
            <string>{830,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3becbb232451ae5e784869a6e36de13$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ZhuanYunZhu.png</string>
        </dict>
    </dict>
</plist>
