<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,504},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1006},{350,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,500}}</string>
                <key>sourceSize</key>
                <string>{350,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3.png</string>
            <key>size</key>
            <string>{1762,1508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:325ddccaab4ca73d68bf7a3d896aa0e3$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet3.png</string>
        </dict>
    </dict>
</plist>
