<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_DianZan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>ZZ_EmoticonFX_DianZan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{126,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,181}}</string>
                <key>sourceSize</key>
                <string>{126,181}</string>
            </dict>
            <key>ZZ_EmoticonFX_DianZan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>ZZ_EmoticonFX_DianZan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_DianZan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>ZZ_EmoticonFX_DianZan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_DianZan.png</string>
            <key>size</key>
            <string>{433,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9719417b9a06d71687cb4ecabf37917b$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_DianZan.png</string>
        </dict>
    </dict>
</plist>
