<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ShaiZhong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,318}}</string>
                <key>sourceSize</key>
                <string>{253,318}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{283,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,222}}</string>
                <key>sourceSize</key>
                <string>{283,222}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{291,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,168}}</string>
                <key>sourceSize</key>
                <string>{291,168}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,322},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,322},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,322},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,322},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiZhong_ShaiZi_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,424},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ShaiZhong_Sheet1.png</string>
            <key>size</key>
            <string>{974,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b061157e36fc07ac3d29cb7895e0be8e$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ShaiZhong_Sheet1.png</string>
        </dict>
    </dict>
</plist>
