<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{97,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{97,84}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,2},{85,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,95}}</string>
                <key>sourceSize</key>
                <string>{85,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,111},{174,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,111},{174,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,142}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,111},{167,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,130}}</string>
                <key>sourceSize</key>
                <string>{167,130}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,2},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,111},{180,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,103}}</string>
                <key>sourceSize</key>
                <string>{180,103}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,2},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{115,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,107}}</string>
                <key>sourceSize</key>
                <string>{115,107}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,111},{204,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,111},{204,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{97,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{97,139}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,111},{211,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,130}}</string>
                <key>sourceSize</key>
                <string>{211,130}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,111},{166,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,138}}</string>
                <key>sourceSize</key>
                <string>{166,138}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,2},{121,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,86}}</string>
                <key>sourceSize</key>
                <string>{121,86}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,111},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_TuChuLai_Sheet01_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,111},{306,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,121}}</string>
                <key>sourceSize</key>
                <string>{306,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TuChuLai.png</string>
            <key>size</key>
            <string>{2043,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1691835e8b35b05f05c5cc820ad5601$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TuChuLai.png</string>
        </dict>
    </dict>
</plist>
