<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,164},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,164},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,164},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,164},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,326},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,326},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,326},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLaiBao_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,326},{140,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,160}}</string>
                <key>sourceSize</key>
                <string>{140,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ShuLaiBao_Sheet1.png</string>
            <key>size</key>
            <string>{712,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cb173133c656190eab3e85ee0d18601$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ShuLaiBao_Sheet1.png</string>
        </dict>
    </dict>
</plist>
