<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,64},{141,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,60}}</string>
                <key>sourceSize</key>
                <string>{141,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_3.png</string>
            <key>size</key>
            <string>{1289,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3054eb8c0dce187cb944c19e4ab7e4f6$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_3.png</string>
        </dict>
    </dict>
</plist>
