<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,322},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,690},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,454},{221,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,234}}</string>
                <key>sourceSize</key>
                <string>{221,234}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{55,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,454},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,302},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,96},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,723},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,723},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{83,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,60}}</string>
                <key>sourceSize</key>
                <string>{83,60}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,391},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,646},{57,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,85}}</string>
                <key>sourceSize</key>
                <string>{57,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,559},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,690},{114,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,88}}</string>
                <key>sourceSize</key>
                <string>{114,88}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,322},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_BaiCaiShen_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{267,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,192}}</string>
                <key>sourceSize</key>
                <string>{267,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_BaiCaiShen_Sheet2.png</string>
            <key>size</key>
            <string>{511,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b05d148518b9659e5c59c1fa8f7a7f$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_BaiCaiShen_Sheet2.png</string>
        </dict>
    </dict>
</plist>
