<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,2},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,162},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,162},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,162},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
            <key>ZZ_EmoticonFX_QueShen_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,162},{405,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,158}}</string>
                <key>sourceSize</key>
                <string>{405,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_QueShen_Sheet1.png</string>
            <key>size</key>
            <string>{2037,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29fc34a92702220898bf0f29a9d5ffb2$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_QueShen_Sheet1.png</string>
        </dict>
    </dict>
</plist>
