<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_PanTa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,164},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,38},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{92,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,58}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{102,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,46}}</string>
                <key>sourceSize</key>
                <string>{102,46}</string>
            </dict>
            <key>ZZ_EmoticonFX_PanTa_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{140,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_PanTa.png</string>
            <key>size</key>
            <string>{206,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198c7b042ea32b378bf8e3929d638aeb$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_PanTa.png</string>
        </dict>
    </dict>
</plist>
