<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,104},{104,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,189}}</string>
                <key>sourceSize</key>
                <string>{104,189}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,241},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,104},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,190},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,241},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,355}}</string>
                <key>sourceSize</key>
                <string>{329,355}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,190},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,210},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,251},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,241},{69,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,135}}</string>
                <key>sourceSize</key>
                <string>{69,135}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,221},{345,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,105}}</string>
                <key>sourceSize</key>
                <string>{345,105}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{231,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,237}}</string>
                <key>sourceSize</key>
                <string>{231,237}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{251,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,217}}</string>
                <key>sourceSize</key>
                <string>{251,217}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{219,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,297}}</string>
                <key>sourceSize</key>
                <string>{219,297}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{204,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,319}}</string>
                <key>sourceSize</key>
                <string>{204,319}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,301},{87,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,27}}</string>
                <key>sourceSize</key>
                <string>{87,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZongZi_Sheet1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,210},{99,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,56}}</string>
                <key>sourceSize</key>
                <string>{99,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ZongZi_Sheet1.png</string>
            <key>size</key>
            <string>{1567,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58463b41b7ddf444ea53c12b62b8141c$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ZongZi_Sheet1.png</string>
        </dict>
    </dict>
</plist>
