<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_FuDai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,107},{347,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,281}}</string>
                <key>sourceSize</key>
                <string>{347,281}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{87,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,92}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,107},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,107},{248,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,138}}</string>
                <key>sourceSize</key>
                <string>{248,138}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{77,49}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{92,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,59}}</string>
                <key>sourceSize</key>
                <string>{92,59}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{71,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,103}}</string>
                <key>sourceSize</key>
                <string>{71,103}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{165,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,112}}</string>
                <key>sourceSize</key>
                <string>{165,112}</string>
            </dict>
            <key>ZZ_EmoticonFX_FuDai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{145,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,92}}</string>
                <key>sourceSize</key>
                <string>{145,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_FuDai_Sprite1.png</string>
            <key>size</key>
            <string>{899,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7cd03d61e1d701e9fb65b2861927ed1$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_FuDai_Sprite1.png</string>
        </dict>
    </dict>
</plist>
