<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_WenCaiShen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,90},{184,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,98}}</string>
                <key>sourceSize</key>
                <string>{184,98}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,231},{206,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,169}}</string>
                <key>sourceSize</key>
                <string>{206,169}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,90},{171,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,139}}</string>
                <key>sourceSize</key>
                <string>{171,139}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,231},{420,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,200}}</string>
                <key>sourceSize</key>
                <string>{420,200}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,90},{300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{108,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{101,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,141}}</string>
                <key>sourceSize</key>
                <string>{101,141}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{85,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,89}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{95,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{95,67}</string>
            </dict>
            <key>ZZ_EmoticonFX_WenCaiShen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{43,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{43,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_WenCaiShen_Sheet01.png</string>
            <key>size</key>
            <string>{750,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d6a548b116449568d3b417cec62965d$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_WenCaiShen_Sheet01.png</string>
        </dict>
    </dict>
</plist>
