<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HaiTun_Sprite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,141},{175,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,331}}</string>
                <key>sourceSize</key>
                <string>{175,331}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sprite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sprite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sprite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{423,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,137}}</string>
                <key>sourceSize</key>
                <string>{423,137}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sprite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{300,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,296}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_Sprite.png</string>
            <key>size</key>
            <string>{631,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:251eca2704709eeb7aa47f9a8412405e$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_Sprite.png</string>
        </dict>
    </dict>
</plist>
