<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,272},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
            <key>ZZ_EmoticonFX_HaiTun_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,542},{248,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,268}}</string>
                <key>sourceSize</key>
                <string>{248,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_2.png</string>
            <key>size</key>
            <string>{1752,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03caa137f2af9da555206c053d7981da$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_HaiTun_2.png</string>
        </dict>
    </dict>
</plist>
