<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,146}}</string>
                <key>sourceSize</key>
                <string>{115,146}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_PiQiu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EFX_YaPaiQi_PiQiu.png</string>
            <key>size</key>
            <string>{879,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ccd4d2d7bdfd4c333117f56dcf42a1$</string>
            <key>textureFileName</key>
            <string>ZZ_EFX_YaPaiQi_PiQiu.png</string>
        </dict>
    </dict>
</plist>
