<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ZiDan_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,95},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,254},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,44},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,95},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,44},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,254},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,307},{84,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,65}}</string>
                <key>sourceSize</key>
                <string>{84,65}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,44},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,134},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,44},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,95},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,44},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,134},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{81,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,112}}</string>
                <key>sourceSize</key>
                <string>{81,112}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,134},{40,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,31}}</string>
                <key>sourceSize</key>
                <string>{40,31}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,95},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,95},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,181},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,181},{50,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,71}}</string>
                <key>sourceSize</key>
                <string>{50,71}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,44},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,134},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,95},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{172,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,138}}</string>
                <key>sourceSize</key>
                <string>{172,138}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{123,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,150}}</string>
                <key>sourceSize</key>
                <string>{123,150}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,421},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,538},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>ZZ_EmoticonFX_ZiDan_02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{59,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,24}}</string>
                <key>sourceSize</key>
                <string>{59,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ZiDan.png</string>
            <key>size</key>
            <string>{202,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfa7ef72234d332a0a0bf53cc15646cb$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ZiDan.png</string>
        </dict>
    </dict>
</plist>
