<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_2.png</string>
            <key>size</key>
            <string>{1302,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b7b8c76a7ac7a1302bb05f1044a53e1$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_2.png</string>
        </dict>
    </dict>
</plist>
