<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5.png</string>
            <key>size</key>
            <string>{1276,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddac32ce9e6677d0fd42d1269a0687a6$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_MeiQiTuiSan_Sheet5.png</string>
        </dict>
    </dict>
</plist>
