<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{172,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{172,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{188,190}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{188,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,228},{198,246}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{198,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,734},{226,256}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{242,254}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,480},{238,252}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{238,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{230,236}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{230,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,228},{238,250}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{238,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,734},{242,256}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{242,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,734},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,480},{256,250}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{256,250}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,228},{242,240}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{242,224}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{242,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{246,198}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{246,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ZZ_EmoticonFX_JiSuiDun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{106,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_JiSuiDun.png</string>
            <key>size</key>
            <string>{976,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04aa139cad16662f9feccf024d9fd89f$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_JiSuiDun.png</string>
        </dict>
    </dict>
</plist>
