<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_JinZhu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,94},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,94},{79,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,385},{176,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{296,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,110}}</string>
                <key>sourceSize</key>
                <string>{296,110}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{298,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,145}}</string>
                <key>sourceSize</key>
                <string>{298,145}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{98,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{141,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,85}}</string>
                <key>sourceSize</key>
                <string>{141,85}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{157,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,20}}</string>
                <key>sourceSize</key>
                <string>{157,20}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{233,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,41}}</string>
                <key>sourceSize</key>
                <string>{233,41}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{162,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,27}}</string>
                <key>sourceSize</key>
                <string>{162,27}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,176},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{269,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,233}}</string>
                <key>sourceSize</key>
                <string>{269,233}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{396,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,183}}</string>
                <key>sourceSize</key>
                <string>{396,183}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,31},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,31},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,31},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,176},{67,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,94},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_JinZhu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{137,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,62}}</string>
                <key>sourceSize</key>
                <string>{137,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_JinZhu.png</string>
            <key>size</key>
            <string>{480,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf914d54ddcd4d44dd22f5b7cf52244$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_JinZhu.png</string>
        </dict>
    </dict>
</plist>
