<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_XianZhuoZi_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>ZZ_EmoticonFX_XianZhuoZi_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{133,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,87}}</string>
                <key>sourceSize</key>
                <string>{133,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_XianZhuoZi_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{145,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,71}}</string>
                <key>sourceSize</key>
                <string>{145,71}</string>
            </dict>
            <key>ZZ_EmoticonFX_XianZhuoZi_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{113,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,68}}</string>
                <key>sourceSize</key>
                <string>{113,68}</string>
            </dict>
            <key>ZZ_EmoticonFX_XianZhuoZi_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{152,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,90}}</string>
                <key>sourceSize</key>
                <string>{152,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XianZhuoZi.png</string>
            <key>size</key>
            <string>{607,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ffdbd64b350769a9533f1cbb89f95fb$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XianZhuoZi.png</string>
        </dict>
    </dict>
</plist>
