<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{368,318}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{368,318}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,698},{366,314}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{366,314}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,718},{366,310}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,32},{366,310}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,708},{368,310}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{368,310}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,322},{374,312}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{374,312}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,304},{396,304}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{396,304}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{404,298}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{404,298}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{412,292}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,58},{412,292}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,286}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,64},{418,286}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{412,292}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{412,292}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{408,300}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,50},{408,300}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{404,306}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,44},{404,306}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,304},{402,312}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{402,312}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,296},{404,308}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{404,308}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,408},{386,308}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{386,308}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShuLiYouCai2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,708},{374,308}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{374,308}}</string>
                <key>sourceSize</key>
                <string>{450,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ShuLiYouCai_Sheet3.png</string>
            <key>size</key>
            <string>{1982,1030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ade2c1c47318218f0063d886dbf42a$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ShuLiYouCai_Sheet3.png</string>
        </dict>
    </dict>
</plist>
