<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{98,144}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,66}}</string>
                <key>offset</key>
                <string>{-11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,81},{76,66}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{86,94}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{86,94}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{94,126}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{94,126}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,564},{98,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,710},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,856},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{98,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{96,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{96,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,418},{94,144}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{94,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{92,144}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{92,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,272},{90,144}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{90,144}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,128},{82,142}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{82,142}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,128},{74,130}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{74,130}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{74,124}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{74,124}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>ZZ_EFX_YaPaiQi_CaiShen_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{74,124}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{74,124}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EFX_YaPaiQi_CaiShen.png</string>
            <key>size</key>
            <string>{244,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f531dfb4cf7b83b85a0bfab6fa19d8d4$</string>
            <key>textureFileName</key>
            <string>ZZ_EFX_YaPaiQi_CaiShen.png</string>
        </dict>
    </dict>
</plist>
