<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XueRen_Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,137}}</string>
                <key>sourceSize</key>
                <string>{153,137}</string>
            </dict>
            <key>XueRen_Eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>XueRen_Eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{66,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,20}}</string>
                <key>sourceSize</key>
                <string>{66,20}</string>
            </dict>
            <key>XueRen_Fork.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>XueRen_Hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{131,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,117}}</string>
                <key>sourceSize</key>
                <string>{131,117}</string>
            </dict>
            <key>XueRen_Hat_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>XueRen_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>XueRen_MapleLeaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>XueRen_Nose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{87,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,25}}</string>
                <key>sourceSize</key>
                <string>{87,25}</string>
            </dict>
            <key>XueRen_Scarf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,141},{128,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,59}}</string>
                <key>sourceSize</key>
                <string>{128,59}</string>
            </dict>
            <key>XueRen_Scarf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,141},{42,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>XueRen_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,141},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,90}</string>
            </dict>
            <key>XueRen_Shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,141},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>XueRen_TangGuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,141},{28,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,11}}</string>
                <key>sourceSize</key>
                <string>{28,11}</string>
            </dict>
            <key>XueRen_TangGuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,141},{26,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>XueRen_TangGuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,141},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>XueRen_TangGuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,141},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>XueRen_TangGuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,141},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>XueRen_TangGuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,141},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>XueRen_TangGuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,141},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>XueRen_XueQiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,141},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,233},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,233},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,233},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,296},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,296},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,296},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,359},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,359},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,359},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
            <key>ZZ_EmoticonFX_XueRen_Sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,422},{200,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,61}}</string>
                <key>sourceSize</key>
                <string>{200,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_XueRen.png</string>
            <key>size</key>
            <string>{810,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7edf0436aa0a674b56f14b1bb8985f31$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_XueRen.png</string>
        </dict>
    </dict>
</plist>
