<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,117},{560,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,255}}</string>
                <key>sourceSize</key>
                <string>{560,255}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{148,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,104}}</string>
                <key>sourceSize</key>
                <string>{148,104}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{195,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,97}}</string>
                <key>sourceSize</key>
                <string>{195,97}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{122,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,98}}</string>
                <key>sourceSize</key>
                <string>{122,98}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,117},{242,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,155}}</string>
                <key>sourceSize</key>
                <string>{242,155}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,117},{296,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,272}}</string>
                <key>sourceSize</key>
                <string>{296,272}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{105,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,113}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{141,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,106}}</string>
                <key>sourceSize</key>
                <string>{141,106}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>ZZ_EmoticonFX_ShaiShen_Sheet1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_ShaiShen_Sheet1.png</string>
            <key>size</key>
            <string>{1324,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55c05ff80a30f97894fe8ff16d8a24e$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_ShaiShen_Sheet1.png</string>
        </dict>
    </dict>
</plist>
