<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,132},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,262},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,262},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,392},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,392},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,522},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,522},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,652},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,652},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
            <key>ZZ_EmoticonFX_TangYuan_Sheet4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,782},{69,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,128}}</string>
                <key>sourceSize</key>
                <string>{69,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_4.png</string>
            <key>size</key>
            <string>{215,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b723ba019dfc526f20cfe07402148d$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_TangYuan_4.png</string>
        </dict>
    </dict>
</plist>
