<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,74},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,146},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,218},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,290},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,362},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,434},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,506},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,578},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,650},{120,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,70}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,722},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,779},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,779},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,779},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,881},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,983},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1085},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1187},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1289},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1289},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1391},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1391},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1493},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1493},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1595},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1697},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1697},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>ZZ_EmoticonFX_PiQiu_Sheet02_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1799},{120,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,100}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_EmoticonFX_PiQiu_Sheet_02.png</string>
            <key>size</key>
            <string>{246,1901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264ac87dfbda81a7c7db2dc222ee80f8$</string>
            <key>textureFileName</key>
            <string>ZZ_EmoticonFX_PiQiu_Sheet_02.png</string>
        </dict>
    </dict>
</plist>
