<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_Zhu_Somke_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,262},{50,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,70},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{94,108}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,45},{94,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,138},{104,122}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{104,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{114,134}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{114,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,144},{116,136}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{122,140}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{122,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,152},{126,142}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{126,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{128,146}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{128,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,152},{130,146}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{130,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,152},{134,148}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{134,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{136,148}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{136,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,152}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{138,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{140,152}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{140,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,152}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{140,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,156},{138,150}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{138,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{124,148}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{124,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_UIFX_Zhu_Somke_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,144},{112,142}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{112,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_Zhu_Somke.png</string>
            <key>size</key>
            <string>{1018,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0597fd5a6406004f4879b9559424088$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_Zhu_Somke.png</string>
        </dict>
    </dict>
</plist>
