<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_MMD_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,286}}</string>
                <key>sourceSize</key>
                <string>{361,286}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{293,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,135}}</string>
                <key>sourceSize</key>
                <string>{293,135}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{367,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,159}}</string>
                <key>sourceSize</key>
                <string>{367,159}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{367,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,147}}</string>
                <key>sourceSize</key>
                <string>{367,147}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{144,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,737},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_MMD_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,737},{144,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,124}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_TouXiang_MMD.png</string>
            <key>size</key>
            <string>{389,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a1c28ff8421fd77c331528df7a8224$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_TouXiang_MMD.png</string>
        </dict>
    </dict>
</plist>
