<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aler_roomInvite_btn1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,481},{90,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,48}}</string>
                <key>sourceSize</key>
                <string>{90,48}</string>
            </dict>
            <key>club_btn_fangjiangxiangqing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{308,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,95}}</string>
                <key>sourceSize</key>
                <string>{308,95}</string>
            </dict>
            <key>club_btn_fangjiangxiangqing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{308,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,95}}</string>
                <key>sourceSize</key>
                <string>{308,95}</string>
            </dict>
            <key>club_btn_guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,143},{107,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>club_btn_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,93},{107,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>club_btn_liaodelai.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,105},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>club_btn_mowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>club_btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,749},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>club_btn_xiopaizuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,350},{129,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,44}}</string>
                <key>sourceSize</key>
                <string>{129,44}</string>
            </dict>
            <key>club_btn_xiopaizuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,573},{129,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,46}}</string>
                <key>sourceSize</key>
                <string>{129,46}</string>
            </dict>
            <key>club_btn_yuni.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,791},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>club_btx_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,682},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>club_btx_jiarufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,547},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>club_btx_jieshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,650},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>club_btx_jieshanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,504},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>club_btx_quedingjieshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,393},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
            <key>club_btx_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,708},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>club_btx_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,590},{58,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,27}}</string>
                <key>sourceSize</key>
                <string>{58,27}</string>
            </dict>
            <key>club_btx_yaoqing_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>club_btx_yaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,350},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
            <key>club_hl_fjxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,255},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>club_hl_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,203},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>club_roomInvite_btx_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,741},{53,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,24}}</string>
                <key>sourceSize</key>
                <string>{53,24}</string>
            </dict>
            <key>club_roomInvite_btx_hulue.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,626},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>club_roomInvite_btx_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,667},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>club_roomInvite_btx_jiefeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,626},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_roomInvite_btx_tianjia_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,582},{76,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>club_roomInvite_btx_tianjia_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,710},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>club_roomInvite_btx_yiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,176},{70,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,25}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>club_roomInvite_btx_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,52},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>club_roomInvite_btx_zhidaole_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,660},{89,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,30}}</string>
                <key>sourceSize</key>
                <string>{89,30}</string>
            </dict>
            <key>club_roomInvite_hl_fjnyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{383,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,49}}</string>
                <key>sourceSize</key>
                <string>{383,49}</string>
            </dict>
            <key>club_roomInvite_hl_tjxhw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{299,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,49}}</string>
                <key>sourceSize</key>
                <string>{299,49}</string>
            </dict>
            <key>club_roomInvite_hl_ypbcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{298,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,49}}</string>
                <key>sourceSize</key>
                <string>{298,49}</string>
            </dict>
            <key>club_roomInvite_hl_yqqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>club_roomInvite_hl_zjyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,50}}</string>
                <key>sourceSize</key>
                <string>{383,50}</string>
            </dict>
            <key>club_roomInvite_img_wanle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{263,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,226}}</string>
                <key>sourceSize</key>
                <string>{263,226}</string>
            </dict>
            <key>club_roomInvite_input_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,704},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>club_roomInvite_input_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,193},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>club_roomInvite_tab_xhwgl_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,436},{159,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,33}}</string>
                <key>sourceSize</key>
                <string>{159,33}</string>
            </dict>
            <key>club_roomInvite_tab_xhwgl_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,471},{159,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,31}}</string>
                <key>sourceSize</key>
                <string>{159,31}</string>
            </dict>
            <key>club_roomInvite_tab_xxsz_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,590},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>club_roomInvite_tab_xxsz_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,453},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>game_roomInvite_btx_fuzhifjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,307},{199,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,41}}</string>
                <key>sourceSize</key>
                <string>{199,41}</string>
            </dict>
            <key>game_roomInvite_btx_yaoqinghy.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,350},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_room_invite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab165a7ff41536d116c5dfee143f2fb2:1/1$</string>
            <key>textureFileName</key>
            <string>guild_room_invite.png</string>
        </dict>
    </dict>
</plist>
