<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangjian_btx_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,519},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>chuangjian_btx_lijichuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,392},{125,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,32}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>chuangjian_hl_cjptqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{299,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,50}}</string>
                <key>sourceSize</key>
                <string>{299,50}</string>
            </dict>
            <key>chuangjian_hl_cjqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{215,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,50}}</string>
                <key>sourceSize</key>
                <string>{215,50}</string>
            </dict>
            <key>chuangjian_input_daili.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>chuangjian_pnl_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{486,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,541}}</string>
                <key>sourceSize</key>
                <string>{486,541}</string>
            </dict>
            <key>chuangjian_pnl_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,541}}</string>
                <key>sourceSize</key>
                <string>{486,541}</string>
            </dict>
            <key>chuangjian_txt_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,41},{173,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,33}}</string>
                <key>sourceSize</key>
                <string>{173,33}</string>
            </dict>
            <key>chuangjian_txt_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,216},{174,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,32}}</string>
                <key>sourceSize</key>
                <string>{174,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_club.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7de438dc7659071ab507ac9aceaa5f5:1/1$</string>
            <key>textureFileName</key>
            <string>create_club.png</string>
        </dict>
    </dict>
</plist>
