<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_hehuo_btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,425},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>club_hehuo_btn_jiantou_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,372},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>club_hehuo_btn_jiantou_xiala_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,367},{14,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,66}}</string>
                <key>sourceSize</key>
                <string>{14,66}</string>
            </dict>
            <key>club_hehuo_btn_jiantou_xiala_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,248},{14,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,66}}</string>
                <key>sourceSize</key>
                <string>{14,66}</string>
            </dict>
            <key>club_img_dayingjia_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,194},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,25}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>club_img_fangzhu_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,328},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>club_img_lianxukaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{136,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,37}}</string>
                <key>sourceSize</key>
                <string>{136,37}</string>
            </dict>
            <key>club_img_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,372},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>club_img_xuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{98,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,51}}</string>
                <key>sourceSize</key>
                <string>{102,55}</string>
            </dict>
            <key>club_zhanji_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{107,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,46}}</string>
                <key>sourceSize</key>
                <string>{107,46}</string>
            </dict>
            <key>club_zhanji_btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,328},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>club_zhanji_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,479},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>club_zhanji_btx_shouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,247},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>club_zhanji_btx_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,316},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_zhanji_btx_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,221},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,24}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>club_zhanji_btx_xiangqing_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>club_zhanji_img_lianxudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,178},{62,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,14}}</string>
                <key>sourceSize</key>
                <string>{62,14}</string>
            </dict>
            <key>club_zhanji_input_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,383},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>club_zhanji_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,302},{24,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,109}}</string>
                <key>sourceSize</key>
                <string>{24,109}</string>
            </dict>
            <key>club_zhanji_list_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,276},{24,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,109}}</string>
                <key>sourceSize</key>
                <string>{24,109}</string>
            </dict>
            <key>club_zhanji_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{216,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,86}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>club_zhanji_tab_qyqzj_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{150,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,29}}</string>
                <key>sourceSize</key>
                <string>{150,29}</string>
            </dict>
            <key>club_zhanji_tab_qyqzj_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{150,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,31}}</string>
                <key>sourceSize</key>
                <string>{150,31}</string>
            </dict>
            <key>club_zhanji_tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,86}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>club_zhanji_tab_wdzj_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>club_zhanji_tab_wdzj_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,154},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_even_open_record.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c103cdf21567c9fbea36a1c5e5f663:1/1$</string>
            <key>textureFileName</key>
            <string>guild_even_open_record.png</string>
        </dict>
    </dict>
</plist>
