<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_summury_di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{985,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,329}}</string>
                <key>sourceSize</key>
                <string>{985,329}</string>
            </dict>
            <key>wheel_summury_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>wheel_summury_di3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,333},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>wheel_summury_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,388},{448,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,52}}</string>
                <key>sourceSize</key>
                <string>{448,52}</string>
            </dict>
            <key>wheel_summurybtx_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,333},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLPopupItem.png</string>
            <key>size</key>
            <string>{989,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2be7b50abeb18af1ccc4a69cac89ea56:1/1$</string>
            <key>textureFileName</key>
            <string>XLPopupItem.png</string>
        </dict>
    </dict>
</plist>
