<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achi2_2weimaditiao_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,887},{3,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,40}}</string>
                <key>sourceSize</key>
                <string>{3,40}</string>
            </dict>
            <key>achi2_chengjiu_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{675,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,93}}</string>
                <key>sourceSize</key>
                <string>{675,93}</string>
            </dict>
            <key>achi2_chengjiu_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,835},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>achi2_ditiao_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,233},{6,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,444}}</string>
                <key>sourceSize</key>
                <string>{6,444}</string>
            </dict>
            <key>achi_2weima.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>achi_2weimaditiao_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,883},{3,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,40}}</string>
                <key>sourceSize</key>
                <string>{3,40}</string>
            </dict>
            <key>achi_LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,705},{208,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,129}}</string>
                <key>sourceSize</key>
                <string>{208,129}</string>
            </dict>
            <key>achi_chengjiu_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{675,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,93}}</string>
                <key>sourceSize</key>
                <string>{675,93}</string>
            </dict>
            <key>achi_chengjiu_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,835},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>achi_ditiao_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,233},{6,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,444}}</string>
                <key>sourceSize</key>
                <string>{6,444}</string>
            </dict>
            <key>achi_juese1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{359,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,702}}</string>
                <key>sourceSize</key>
                <string>{359,702}</string>
            </dict>
            <key>achi_juese2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,702}}</string>
                <key>sourceSize</key>
                <string>{423,702}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement.pvr.ccz</string>
            <key>size</key>
            <string>{1018,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:040744f05297d0a5f8b8455bc956bc96:1/1$</string>
            <key>textureFileName</key>
            <string>achievement.pvr.ccz</string>
        </dict>
    </dict>
</plist>
