<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>90</real>
    <key>angleVariance</key>
    <real>0</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <real>-1</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <real>0.3</real>
    <key>finishColorAlpha</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>0</real>
    <key>finishColorGreen</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>0</real>
    <key>finishColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>rotationStart</key>
    <real>0</real>
    <key>rotationStartVariance</key>
    <real>0</real>
    <key>rotationEnd</key>
    <real>0</real>
    <key>rotationEndVariance</key>
    <real>0</real>
    <key>finishParticleSize</key>
    <real>-1</real>
    <key>finishParticleSizeVariance</key>
    <real>0</real>
    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>0</real>
    <key>maxParticles</key>
    <real>3</real>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>10</real>
    <key>particleLifespanVariance</key>
    <real>4</real>
    <key>radialAcceleration</key>
    <real>0</real>
    <key>radialAccelVariance</key>
    <real>0</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>sourcePositionVariancex</key>
    <real>600</real>
    <key>sourcePositionVariancey</key>
    <real>20</real>
    <key>speed</key>
    <real>40</real>
    <key>speedVariance</key>
    <real>20</real>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>1</real>
    <key>startColorGreen</key>
    <real>1</real>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startParticleSize</key>
    <real>54</real>
    <key>startParticleSizeVariance</key>
    <real>25</real>
    <key>tangentialAcceleration</key>
    <real>0</real>
    <key>tangentialAccelVariance</key>
    <real>0</real>
    <key>textureFileName</key>
    <string>gt6jbdt_star05.png</string>
    <key>textureImageData</key>
    <string>eJzrDPBz5+WS4mJgYOD19HAJAtKaIMzBDCTn7/twBEgFBviEuALpuua5cHRo3ztk7t7dL4Bkfct8ILlh/a0d2x7v2v5s766XWzbd37P7EZAEim/b8hAku+7mkiWn1629XrcmbRvQUOmSIL9gBlZOftFISRU503AtF/1AT/8Q35BQGyd7iwAzbd6fXQwMjM6eLo4hFqf3Xrk4qVmBh/XCuqakJQ5bl5b9/+9s3hmxYWaXf3V8VNq5FoGLp/c/Sff1VQ0/ziPl1ap2fVvuJvdJMu0vGVWWa6Tsv7x10SuNrLVVDFNfJXEolnmlan1Py9hzzUpCZ/Z38ePL5vq+N31xQfqwiLKsU8lfi5eSh25899k89cOpT1oZeYXNzYvvtrt83qDisvJrrcAWmf7EHwUMD+R8zh7fsOOJtJ3u05NfYrfo3DwqzZaXsHPZ3I/2asuCp6oWPmC4sWhv8Hyxa0uXL3I6ZOM8bY/IpsSdx3apaOrM5t9ZYe87ufjb0znVkc8Lnv6d9PTlZvXIoHt7W1rv9M97WvdBx1trXjXn+fuqlRPdp1j1/F6tozn16fbkt4FOcblTnrLpG1Wu2294rDUxuPL+xugilv2nXUKbnOb91vM8tbL+tUWnp0Zh0dU5qT/DX2z+yTxLRtRuGq+OOTDUGTxd/VzWOSU0AQC2L++r</string>
  </dict>
</plist>