<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>PT_UIFX_HaoYouYinDaoDongHua_Sheet3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,31},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_HaoYouYinDaoDongHua_Sheet3.png</string>
            <key>size</key>
            <string>{562,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7549c77b05a4f3dd9004808f3b788fc5$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_HaoYouYinDaoDongHua_Sheet3.png</string>
        </dict>
    </dict>
</plist>
