<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_list_btn_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1476},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>clublist_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1041},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>clublist_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>clublist_btn_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1363},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>clublist_btn_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1538},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>clublist_btn_huangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1137},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>clublist_btn_huixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>clublist_btn_huzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{111,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,42}}</string>
                <key>sourceSize</key>
                <string>{111,42}</string>
            </dict>
            <key>clublist_btn_online_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{158,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,54}}</string>
                <key>sourceSize</key>
                <string>{158,54}</string>
            </dict>
            <key>clublist_btn_shenqinjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1250},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>clublist_btn_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,718},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>clublist_btn_yinsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,26}</string>
            </dict>
            <key>clublist_btx_dianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1354},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>clublist_btx_guanzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1528},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>clublist_btx_jiaguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>clublist_btx_qaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{76,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,21}}</string>
                <key>sourceSize</key>
                <string>{76,21}</string>
            </dict>
            <key>clublist_btx_shangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1354},{77,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,21}}</string>
                <key>sourceSize</key>
                <string>{77,21}</string>
            </dict>
            <key>clublist_btx_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,341},{76,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,22}}</string>
                <key>sourceSize</key>
                <string>{76,22}</string>
            </dict>
            <key>clublist_btx_xiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1476},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>clublist_btx_yidianzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1574},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>clublist_btx_yiguanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,75},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
            <key>clublist_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,259},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>clublist_head01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,648},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>clublist_head02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,578},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>clublist_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,508},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>clublist_hl_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>clublist_hl_img_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,718},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>clublist_hl_paiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>clublist_hl_wanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>clublist_hl_wodexx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{174,48}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>clublist_hl_yinksi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,177},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,48}}</string>
                <key>sourceSize</key>
                <string>{173,50}</string>
            </dict>
            <key>clublist_img_chaohuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,839},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>clublist_img_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1433},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>clublist_img_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1164},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>clublist_img_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1618},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>clublist_img_henhuoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,768},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>clublist_img_huo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>clublist_img_huoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1476},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>clublist_img_lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1572},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>clublist_img_paiju.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1336},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>clublist_img_zaixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1633},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>clublist_ioc_hongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1398},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>clublist_ioc_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1547},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>clublist_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,438},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>clublist_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1620},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>clublist_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1041},{121,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,28}}</string>
                <key>sourceSize</key>
                <string>{121,28}</string>
            </dict>
            <key>clublist_my_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1427},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>clublist_redpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,134},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>clublist_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1250},{84,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{84,39}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>clublist_tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,352},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>clublist_yikai.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,177},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>img_hengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{144,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,87}}</string>
                <key>sourceSize</key>
                <string>{144,87}</string>
            </dict>
            <key>ioc_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1199},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>ioc_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1572},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendlist.png</string>
            <key>size</key>
            <string>{128,1679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b52ef99e6f6a1a0f31d98dde845975:1/1$</string>
            <key>textureFileName</key>
            <string>friendlist.png</string>
        </dict>
    </dict>
</plist>
