<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>xiaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>xiaodai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>xiaodai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>xiaodai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>xiaodai06.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>xiaodai07.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>xiaodai08.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{93,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,106}}</string>
                <key>sourceSize</key>
                <string>{93,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BQ_xiaodai.png</string>
            <key>size</key>
            <string>{796,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25b0c964c2307d1d5670c4bc33422ab2:1/1$</string>
            <key>textureFileName</key>
            <string>BQ_xiaodai.png</string>
        </dict>
    </dict>
</plist>
