<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fa_bq_baituo_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fa_bq_baituo_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{21,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,7}}</string>
                <key>sourceSize</key>
                <string>{21,7}</string>
            </dict>
            <key>fa_bq_baituo_meimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>fa_bq_baituo_yanlei.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,85},{17,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,7}}</string>
                <key>sourceSize</key>
                <string>{17,7}</string>
            </dict>
            <key>fa_bq_baituo_yanlei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,85},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>fa_bq_baituo_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,85},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>fa_bq_baituo_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>fa_bq_baituo_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,85},{9,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,4}}</string>
                <key>sourceSize</key>
                <string>{9,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fa_bq_baituo_xl.png</string>
            <key>size</key>
            <string>{120,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9604472f107a14899c4f80179ca4d66a$</string>
            <key>textureFileName</key>
            <string>fa_bq_baituo_xl.png</string>
        </dict>
    </dict>
</plist>
