<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fa_bq_lve_L_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>fa_bq_lve_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fa_bq_lve_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>fa_bq_lve_shetou.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,85},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>fa_bq_lve_yanpi.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,85},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>fa_bq_lve_yanpi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,85},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>fa_bq_lve_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,85},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fa_bq_lve_xl.png</string>
            <key>size</key>
            <string>{121,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5008ca6abba81fafd8a4077ba211d31$</string>
            <key>textureFileName</key>
            <string>fa_bq_lve_xl.png</string>
        </dict>
    </dict>
</plist>
