<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fa_bq_xianqi_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fa_bq_xianqi_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>fa_bq_xianqi_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{19,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,2}}</string>
                <key>sourceSize</key>
                <string>{19,2}</string>
            </dict>
            <key>fa_bq_xianqi_mm_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,85},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>fa_bq_xianqi_mm_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,85},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>fa_bq_xianqi_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,85},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fa_bq_xianqi_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,85},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>fa_bq_xianqi_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fa_bq_xianqi_xl.png</string>
            <key>size</key>
            <string>{107,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bd7b2e214ea3b7ecfc8b2447a246fd8$</string>
            <key>textureFileName</key>
            <string>fa_bq_xianqi_xl.png</string>
        </dict>
    </dict>
</plist>
