<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_reward_notic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{1176,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1176,452}}</string>
                <key>sourceSize</key>
                <string>{1176,452}</string>
            </dict>
            <key>guild_reward_notic_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1358},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>guild_reward_notic_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,176}}</string>
                <key>sourceSize</key>
                <string>{504,176}</string>
            </dict>
            <key>guild_reward_notic_sp_hbtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,270},{134,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,33}}</string>
                <key>sourceSize</key>
                <string>{134,33}</string>
            </dict>
            <key>guild_reward_notic_sp_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,180},{88,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,39}}</string>
                <key>sourceSize</key>
                <string>{88,39}</string>
            </dict>
            <key>guild_reward_notic_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{593,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,119}}</string>
                <key>sourceSize</key>
                <string>{593,119}</string>
            </dict>
            <key>guild_reward_notic_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1953},{307,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,83}}</string>
                <key>sourceSize</key>
                <string>{307,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rewardnotic.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc44977a7af266949c38b660d4b4341:1/1$</string>
            <key>textureFileName</key>
            <string>rewardnotic.png</string>
        </dict>
    </dict>
</plist>
