<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
            <key>bjDT_UIFX_Icon_HongBaoFangRuKou_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,2},{95,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,59}}</string>
                <key>sourceSize</key>
                <string>{95,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DT_UIFX_Icon_HongBaoFangRuKou.png</string>
            <key>size</key>
            <string>{1942,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22034191633a50b675e0851bcaac27c3$</string>
            <key>textureFileName</key>
            <string>DT_UIFX_Icon_HongBaoFangRuKou.png</string>
        </dict>
    </dict>
</plist>
