<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xing_fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,78},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>xing_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,159},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>xing_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{75,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,85}}</string>
                <key>sourceSize</key>
                <string>{75,85}</string>
            </dict>
            <key>xing_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>xing_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>xing_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,78},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>xing_xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>xing_zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{76,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanxingAnimation.png</string>
            <key>size</key>
            <string>{249,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907ad26aef5b40be7a3ff8da2cc9d8bd:1/1$</string>
            <key>textureFileName</key>
            <string>fanxingAnimation.png</string>
        </dict>
    </dict>
</plist>
