<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xddz_jingbaodeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{188,118}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{188,118}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,130},{166,126}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{166,126}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,270},{132,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,392},{132,112}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{132,112}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,258},{132,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{166,126}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{166,126}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,118}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{188,118}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{166,126}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,4},{166,126}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,136},{132,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,392},{132,112}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,4},{132,112}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,5},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>Xddz_jingbaodeng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{166,126}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{166,126}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xnddz_jingbaodeng.png</string>
            <key>size</key>
            <string>{494,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1854413c6b18dd0c5dacb93d5ecc134c$</string>
            <key>textureFileName</key>
            <string>Xnddz_jingbaodeng.png</string>
        </dict>
    </dict>
</plist>
