<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanhua01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua05.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,170},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua08.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,170},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,170},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,170},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,338},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>yanhua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,338},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanhua.png</string>
            <key>size</key>
            <string>{852,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e5075b391f68b3cdf126b76a4616eb:bc6e048662fe95ddcc3ba4183e492cf3:35c8e0881dbfde96856b912f529c83cc$</string>
            <key>textureFileName</key>
            <string>yanhua.png</string>
        </dict>
    </dict>
</plist>
