<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-ldl.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,168},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>btn-mw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>btn-wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>btn-yn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>hl-szkjtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,43}}</string>
                <key>sourceSize</key>
                <string>{258,43}</string>
            </dict>
            <key>icon-ldl.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,199},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>icon-mw.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,332},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>icon-wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>icon-yndl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>tc-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>xzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{166,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,164}}</string>
                <key>sourceSize</key>
                <string>{166,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_quickjump.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40ba38ca056ef148fddb349194c89eef:1/1$</string>
            <key>textureFileName</key>
            <string>guild_quickjump.png</string>
        </dict>
    </dict>
</plist>
