<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/feedback_btx_tijiao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,43}</string>
			<key>spriteSourceSize</key>
			<string>{100,43}</string>
			<key>textureRect</key>
			<string>{{1,542},{100,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>xl/feedback_hl_tucao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,43}</string>
			<key>spriteSourceSize</key>
			<string>{94,43}</string>
			<key>textureRect</key>
			<string>{{1,644},{94,43}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>xl/kf_btn_jixu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{272,73}</string>
			<key>spriteSourceSize</key>
			<string>{272,73}</string>
			<key>textureRect</key>
			<string>{{46,621},{272,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xl/kf_btn_x.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,77}</string>
			<key>spriteSourceSize</key>
			<string>{77,77}</string>
			<key>textureRect</key>
			<string>{{46,542},{77,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xl/kf_img_diban.png</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{802,539}</string>
			<key>spriteSourceSize</key>
			<string>{836,553}</string>
			<key>textureRect</key>
			<string>{{1,1},{802,539}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>xlv3.png</string>
		<key>size</key>
		<string>{804,804}</string>
		<key>textureFileName</key>
		<string>xlv3.png</string>
	</dict>
</dict>
</plist>
