<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_IconFX_NianMe_sheet01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,67},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>PT_IconFX_NianMe_sheet01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,132},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_IconFX_NianMe.png</string>
            <key>size</key>
            <string>{499,197}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1c54ba1c8c6db67485454b95013512d$</string>
            <key>textureFileName</key>
            <string>PT_IconFX_NianMe.png</string>
        </dict>
    </dict>
</plist>
