<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paifaguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,144}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,144}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{128,142}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{128,142}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,148},{130,140}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{130,140}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{128,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{128,142}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,138}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{134,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,290},{126,138}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{126,138}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>paifaguang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,290},{126,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{126,136}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paifaguang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c444397683f829c407efbabe240787$</string>
            <key>textureFileName</key>
            <string>paifaguang.png</string>
        </dict>
    </dict>
</plist>
