<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dmajiang_touxiangkuang_lucky_choudai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{113,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,55}}</string>
                <key>sourceSize</key>
                <string>{113,55}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_choudai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{88,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,54}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,59},{135,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,128}}</string>
                <key>sourceSize</key>
                <string>{135,128}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_starbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_starsmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>2dmajiang_touxiangkuang_lucky_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,59},{130,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,72}}</string>
                <key>sourceSize</key>
                <string>{130,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2dmajiang_touxiangkuang_lucky.png</string>
            <key>size</key>
            <string>{337,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc185569bf2b76ad65b5ec188d3a6db$</string>
            <key>textureFileName</key>
            <string>2dmajiang_touxiangkuang_lucky.png</string>
        </dict>
    </dict>
</plist>
