<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2DMJ_ClickFX_glow_sprite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{762,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,636}}</string>
                <key>sourceSize</key>
                <string>{762,636}</string>
            </dict>
            <key>2DMJ_ClickFX_glow_sprite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{679,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,669}}</string>
                <key>sourceSize</key>
                <string>{679,669}</string>
            </dict>
            <key>2DMJ_ClickFX_stars_sprite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2},{106,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,113}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>2DMJ_ClickFX_stars_sprite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>2DMJ_ClickFX_yuan_sprite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,673},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>2dmajiang_ruchang_star__light.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,673},{606,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,601}}</string>
                <key>sourceSize</key>
                <string>{606,601}</string>
            </dict>
            <key>2dmajiang_ruchang_star__light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,673},{470,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,470}}</string>
                <key>sourceSize</key>
                <string>{470,470}</string>
            </dict>
            <key>2dmajiang_ruchang_star_stars1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,673},{311,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,311}}</string>
                <key>sourceSize</key>
                <string>{311,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2dmajiang_ruchang_star.png</string>
            <key>size</key>
            <string>{1555,1276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f431346455c2003511e1e214111916de$</string>
            <key>textureFileName</key>
            <string>2dmajiang_ruchang_star.png</string>
        </dict>
    </dict>
</plist>
