<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
            <key>2dmajiang_lucky_gerenxinxi_luckys_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,106},{247,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,102}}</string>
                <key>sourceSize</key>
                <string>{247,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2dmajiang_lucky_gerenxinxi_luckys.png</string>
            <key>size</key>
            <string>{1994,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d25c64fdac66549dcd363aeffcec12a$</string>
            <key>textureFileName</key>
            <string>2dmajiang_lucky_gerenxinxi_luckys.png</string>
        </dict>
    </dict>
</plist>
