<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,214},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,426},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,638},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,850},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1062},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1274},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1516},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1758},{160,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DG_shaizhi_xl.png</string>
            <key>size</key>
            <string>{1276,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d3f521abb6d835884c421985410160d$</string>
            <key>textureFileName</key>
            <string>DG_shaizhi_xl.png</string>
        </dict>
    </dict>
</plist>
