<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_chicken_L_Wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,639},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>P_chicken_L_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,239},{121,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,86}}</string>
                <key>sourceSize</key>
                <string>{121,86}</string>
            </dict>
            <key>P_chicken_R_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,593},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>P_chicken_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{211,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,130}}</string>
                <key>sourceSize</key>
                <string>{211,130}</string>
            </dict>
            <key>P_chicken_body_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,362},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
            <key>P_chicken_comb.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,540},{108,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>P_chicken_down_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,466},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>P_chicken_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{166,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,138}}</string>
                <key>sourceSize</key>
                <string>{166,138}</string>
            </dict>
            <key>P_chicken_up_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,654},{80,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,47}</string>
            </dict>
            <key>P_chicken_up_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,304},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,121}}</string>
                <key>sourceSize</key>
                <string>{306,121}</string>
            </dict>
            <key>chicken_L_Wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{180,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,103}}</string>
                <key>sourceSize</key>
                <string>{180,103}</string>
            </dict>
            <key>chicken_L_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,737},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>chicken_R_Wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,484},{115,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,107}}</string>
                <key>sourceSize</key>
                <string>{115,107}</string>
            </dict>
            <key>chicken_R_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,125},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>chicken_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{174,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,142}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>chicken_comb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>chicken_down_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,353},{52,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>chicken_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,408},{167,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,130}}</string>
                <key>sourceSize</key>
                <string>{167,130}</string>
            </dict>
            <key>chicken_tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,646},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>chicken_tongue.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,257},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>chicken_up_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,408},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>chicken_up_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>chicken_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,501},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>hand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,208},{204,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>hand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{204,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>hand_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,540},{97,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,139}}</string>
                <key>sourceSize</key>
                <string>{97,139}</string>
            </dict>
            <key>hand_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,650},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>jm_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,699},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuDongAnim3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a3f14d25fc6d6d688c39fb2f1920ee:1/1$</string>
            <key>textureFileName</key>
            <string>HuDongAnim3.png</string>
        </dict>
    </dict>
</plist>
