<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sheet01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sprite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>PT_HeadFrameFX_FanTanDun_Sprite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_HeadFrameFX_FanTanDun.png</string>
            <key>size</key>
            <string>{912,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d78c8f08df3c1f1785b35ff1199ec487$</string>
            <key>textureFileName</key>
            <string>PT_HeadFrameFX_FanTanDun.png</string>
        </dict>
    </dict>
</plist>
