<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TXK31_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>TXK31_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,204},{250,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,200}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>queshenwangzuo_txk_31.png</string>
            <key>size</key>
            <string>{2018,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c8f5c37116a858ecd5f0ba19dea66a9$</string>
            <key>textureFileName</key>
            <string>queshenwangzuo_txk_31.png</string>
        </dict>
    </dict>
</plist>
