<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TF_tx_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>TF_tx_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TF_tx.png</string>
            <key>size</key>
            <string>{54,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e336ef8400d83effda25a9c3a7172dcc$</string>
            <key>textureFileName</key>
            <string>TF_tx.png</string>
        </dict>
    </dict>
</plist>
