<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dmajiang_shangshengguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
            <key>2dmajiang_shangshengguang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{156,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,424}}</string>
                <key>sourceSize</key>
                <string>{156,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TY_ClickFX_XingYunXingpeng.png</string>
            <key>size</key>
            <string>{1898,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bbc1a49e3cfdf36f6939b0d63fd7be$</string>
            <key>textureFileName</key>
            <string>TY_ClickFX_XingYunXingpeng.png</string>
        </dict>
    </dict>
</plist>
