<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,680}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,680}}</string>
                <key>sourceSize</key>
                <string>{232,680}</string>
            </dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{189,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,503}}</string>
                <key>sourceSize</key>
                <string>{189,503}</string>
            </dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{6,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,453}}</string>
                <key>sourceSize</key>
                <string>{6,453}</string>
            </dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{2,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,323}}</string>
                <key>sourceSize</key>
                <string>{2,323}</string>
            </dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{531,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,104}}</string>
                <key>sourceSize</key>
                <string>{531,104}</string>
            </dict>
            <key>TY_EmoticonFX_ChuanYunJian_Sheet01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{636,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,110}}</string>
                <key>sourceSize</key>
                <string>{636,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TY_EmoticonFX_ChuanYunJian.png</string>
            <key>size</key>
            <string>{640,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:506a2b6c5c6ff5295673dd590358934f$</string>
            <key>textureFileName</key>
            <string>TY_EmoticonFX_ChuanYunJian.png</string>
        </dict>
    </dict>
</plist>
