<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_hua01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{236,232}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{236,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,704},{242,238}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{242,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,472},{236,242}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{236,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,228}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{242,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{242,232}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{242,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{238,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{238,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,236},{240,234}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{240,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,710},{246,236}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{246,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{230,242}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{230,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,468},{234,244}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{234,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,472},{238,234}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{238,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{238,234}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{238,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{232,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{232,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,234},{232,244}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{232,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_hua01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,236},{232,232}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{232,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_hua01.png</string>
            <key>size</key>
            <string>{972,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfb4150b2c0a0e4008ee568eb501936$</string>
            <key>textureFileName</key>
            <string>Xgd_hua01.png</string>
        </dict>
    </dict>
</plist>
