<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_meilik01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{130,82}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,72},{130,82}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,332},{136,112}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{136,112}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,126},{138,118}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{138,118}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,116},{138,120}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{138,120}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,122}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{140,122}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,124}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{140,124}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{140,112}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{138,106}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{138,106}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{138,100}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{138,100}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,238},{136,92}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{136,92}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,246},{134,84}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{134,84}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,332},{134,114}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{134,114}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>Xgd_meilik01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,338},{134,122}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{134,122}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_meilik01.png</string>
            <key>size</key>
            <string>{470,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9d04e2f9d2929e68dd2b2506aa1d73$</string>
            <key>textureFileName</key>
            <string>Xgd_meilik01.png</string>
        </dict>
    </dict>
</plist>
