<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_meilik04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,136},{48,43}}</string>
                <key>offset</key>
                <string>{15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{48,43}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,327},{52,51}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{52,51}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,327},{62,51}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{62,51}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,264},{68,61}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{68,61}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,253},{70,65}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{70,65}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,250},{72,75}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{72,75}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,136},{72,85}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{72,85}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,62},{72,95}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{72,95}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{66,113}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{66,113}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{70,123}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{70,123}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,121}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{72,121}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,121}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{74,121}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,125},{74,119}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{74,119}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{68,115}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{68,115}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{68,113}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{68,113}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,117},{68,103}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,36},{68,103}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,187},{64,103}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,39},{64,103}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{58,99}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,44},{58,99}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,210},{50,77}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,66},{50,77}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,262},{58,71}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,72},{58,71}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,322},{56,63}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,82},{56,63}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,327},{52,57}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,89},{52,57}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,210},{52,55}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,92},{52,55}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,322},{42,31}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,116},{42,31}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,117},{20,15}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,126},{20,15}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
            <key>Xgd_meilik04_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,117},{8,9}}</string>
                <key>offset</key>
                <string>{-18,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,134},{8,9}}</string>
                <key>sourceSize</key>
                <string>{88,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_meilik04.png</string>
            <key>size</key>
            <string>{391,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2646589837d91cf0418b140d118dc57d$</string>
            <key>textureFileName</key>
            <string>Xgd_meilik04.png</string>
        </dict>
    </dict>
</plist>
