<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_feixin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,640},{143,112}}</string>
                <key>offset</key>
                <string>{254,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{528,15},{143,112}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,894},{175,114}}</string>
                <key>offset</key>
                <string>{234,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,11},{175,114}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,778},{209,114}}</string>
                <key>offset</key>
                <string>{214,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,9},{209,114}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,778},{239,114}}</string>
                <key>offset</key>
                <string>{195,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,9},{239,114}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,778},{273,118}}</string>
                <key>offset</key>
                <string>{175,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,10},{273,118}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,755},{305,124}}</string>
                <key>offset</key>
                <string>{156,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,10},{305,124}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,506},{355,132}}</string>
                <key>offset</key>
                <string>{127,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,12},{355,132}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,640},{389,136}}</string>
                <key>offset</key>
                <string>{108,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,13},{389,136}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,614},{423,140}}</string>
                <key>offset</key>
                <string>{89,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,14},{423,140}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,600},{459,142}}</string>
                <key>offset</key>
                <string>{70,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,13},{459,142}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{493,140}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,14},{493,140}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{491,138}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,16},{491,138}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{499,126}}</string>
                <key>offset</key>
                <string>{-39,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,26},{499,126}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,128}}</string>
                <key>offset</key>
                <string>{-53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{499,128}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,256},{493,128}}</string>
                <key>offset</key>
                <string>{-56,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{493,128}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,130},{495,124}}</string>
                <key>offset</key>
                <string>{-56,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{495,124}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,386},{479,118}}</string>
                <key>offset</key>
                <string>{-63,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{479,118}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{479,110}}</string>
                <key>offset</key>
                <string>{-73,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{479,110}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,614},{431,68}}</string>
                <key>offset</key>
                <string>{-91,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,45},{431,68}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{441,74}}</string>
                <key>offset</key>
                <string>{-101,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{441,74}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{299,72}}</string>
                <key>offset</key>
                <string>{-167,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{299,72}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,297},{315,72}}</string>
                <key>offset</key>
                <string>{-172,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{315,72}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,526},{299,64}}</string>
                <key>offset</key>
                <string>{-177,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,43},{299,64}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{293,58}}</string>
                <key>offset</key>
                <string>{-182,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{293,58}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,614},{139,54}}</string>
                <key>offset</key>
                <string>{-244,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{139,54}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
            <key>Xgd_feixin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,506},{121,26}}</string>
                <key>offset</key>
                <string>{-250,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,45},{121,26}}</string>
                <key>sourceSize</key>
                <string>{691,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_feixin.png</string>
            <key>size</key>
            <string>{1066,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a4fa103e4a5dfb700b9d1ce19c5edcc$</string>
            <key>textureFileName</key>
            <string>Xgd_feixin.png</string>
        </dict>
    </dict>
</plist>
