<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_kuang01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,249},{227,225}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,13},{227,225}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,283},{281,271}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{281,271}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,287}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{299,287}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,558},{285,253}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{285,253}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{295,269}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{295,269}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{299,281}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{299,281}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,279},{287,277}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{287,277}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,813},{241,239}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,6},{241,239}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,556},{243,237}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,13},{243,237}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,813},{267,245}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{267,245}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{295,275}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{295,275}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{289,259}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{289,259}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{245,225}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{245,225}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,556},{255,241}}</string>
                <key>offset</key>
                <string>{23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,5},{255,241}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,813},{279,275}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{279,275}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
            <key>Xgd_kuang01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{279,281}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{279,281}}</string>
                <key>sourceSize</key>
                <string>{305,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_kuang01.png</string>
            <key>size</key>
            <string>{1110,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdeca8fd0bc15aee588a95ff0c8fc80a$</string>
            <key>textureFileName</key>
            <string>Xgd_kuang01.png</string>
        </dict>
    </dict>
</plist>
