<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_hua03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{94,124}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,43},{94,124}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,130},{98,142}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{98,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,140},{118,126}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{118,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,140},{130,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{130,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,154},{120,130}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{120,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,154},{126,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{126,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{136,126}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{136,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,130},{126,144}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{126,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{122,148}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{122,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{130,150}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{130,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{130,150}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{130,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,130},{114,144}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{114,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,154}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{134,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{136,142}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{136,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{126,154}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{126,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_hua03.png</string>
            <key>size</key>
            <string>{998,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c6ec70c042d1839347d18bfeee9a7a$</string>
            <key>textureFileName</key>
            <string>Xgd_hua03.png</string>
        </dict>
    </dict>
</plist>
