<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_hua02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,154},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,69},{64,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,398},{76,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,63},{76,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,58},{86,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,474},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{98,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{108,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{108,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,596},{118,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{118,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,706},{128,116}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,38},{128,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{140,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{140,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{152,136}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{152,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{166,146}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{166,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{180,154}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{180,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_hua02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,150}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{194,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_hua02.png</string>
            <key>size</key>
            <string>{256,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f573acebce9417d13e812f256d0e229$</string>
            <key>textureFileName</key>
            <string>Xgd_hua02.png</string>
        </dict>
    </dict>
</plist>
