<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_xin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,128},{14,14}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{14,14}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,88},{18,16}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{18,16}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,108},{20,18}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{20,18}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,66},{24,20}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{24,20}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,38},{26,22}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{26,22}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{30,24}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{30,24}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,38},{34,26}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{34,26}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,130},{36,28}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{36,28}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,128},{40,30}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,30}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{42,32}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{42,32}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{44,32}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{44,32}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,84},{44,34}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{44,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{46,34}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{46,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{46,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,34}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{48,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{48,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{48,32}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,38},{44,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{44,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{44,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{44,34}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,88},{26,28}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{26,28}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>Xgd_xin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,134},{24,26}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{24,26}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_xin.png</string>
            <key>size</key>
            <string>{160,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c90ce7a403203dd90e598be0661a03$</string>
            <key>textureFileName</key>
            <string>Xgd_xin.png</string>
        </dict>
    </dict>
</plist>
