<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_yinghuochong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,202},{75,62}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{75,62}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,208},{75,58}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{75,58}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{75,60}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{75,60}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,268},{73,62}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{73,62}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,268},{73,58}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{73,58}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{75,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{75,54}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,266},{73,52}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{73,52}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{77,60}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{77,60}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,74},{77,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{77,66}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,70}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{81,70}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{79,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{79,68}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,72},{79,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{79,66}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{79,70}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{77,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{77,68}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,142},{75,64}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{75,64}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>Xgd_yinghuochong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{75,62}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{75,62}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_yinghuochong.png</string>
            <key>size</key>
            <string>{247,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e2ef6c43292d47e6d720f378c00cde8$</string>
            <key>textureFileName</key>
            <string>Xgd_yinghuochong.png</string>
        </dict>
    </dict>
</plist>
