<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_WC02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{80,80}}</string>
                <key>offset</key>
                <string>{42,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{80,80}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,954},{110,108}}</string>
                <key>offset</key>
                <string>{38,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,30},{110,108}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,908},{130,126}}</string>
                <key>offset</key>
                <string>{32,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,21},{130,126}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,908},{140,136}}</string>
                <key>offset</key>
                <string>{28,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{140,136}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,768},{150,142}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,13},{150,142}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,620},{162,146}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{162,146}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,632},{168,148}}</string>
                <key>offset</key>
                <string>{13,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{168,148}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,480},{172,150}}</string>
                <key>offset</key>
                <string>{10,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{172,150}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,460},{178,158}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{178,158}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,444},{180,170}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{180,170}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,546},{180,180}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{180,180}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,362},{182,192}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{182,192}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,180},{180,200}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{180,200}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,230},{176,212}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{176,212}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,250},{172,228}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{172,228}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,244},{168,238}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{168,238}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{164,244}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{164,244}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{160,246}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{160,246}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{156,246}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{156,246}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{160,246}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{160,246}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,244}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{164,244}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{168,240}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{168,240}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{172,234}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,48},{172,234}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{178,226}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,57},{178,226}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,238},{178,220}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{178,220}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{176,216}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,66},{176,216}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,742},{172,210}}</string>
                <key>offset</key>
                <string>{9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{172,210}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,494},{170,202}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,78},{170,202}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,782},{166,162}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,117},{166,162}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,626},{160,148}}</string>
                <key>offset</key>
                <string>{12,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,129},{160,148}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,728},{156,144}}</string>
                <key>offset</key>
                <string>{13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,131},{156,144}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,776},{148,130}}</string>
                <key>offset</key>
                <string>{15,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,143},{148,130}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,912},{142,122}}</string>
                <key>offset</key>
                <string>{17,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,148},{142,122}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
            <key>Xgd_WC02_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,954},{134,116}}</string>
                <key>offset</key>
                <string>{18,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,151},{134,116}}</string>
                <key>sourceSize</key>
                <string>{206,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_WC02.png</string>
            <key>size</key>
            <string>{1072,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5277bd65521d7731d3159bdf38df5e$</string>
            <key>textureFileName</key>
            <string>Xgd_WC02.png</string>
        </dict>
    </dict>
</plist>
