<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_zhinv4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,459},{73,56}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{73,56}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,362},{91,62}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{91,62}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,201},{99,66}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{99,66}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,154},{103,70}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{103,70}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,86},{107,72}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{107,72}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,90},{109,70}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{109,70}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{111,72}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{111,72}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,90},{111,74}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{111,74}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,107},{99,76}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{99,76}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,76},{101,76}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{101,76}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{103,80}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{103,80}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{103,82}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{103,82}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{103,84}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{103,84}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,86}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{105,86}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{103,86}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{103,86}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{103,88}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{103,88}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,318},{87,88}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{87,88}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,226},{87,90}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{87,90}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,365},{87,92}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{87,92}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,269},{87,94}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{87,94}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{89,96}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{89,96}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{89,96}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{89,96}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,363},{89,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{89,94}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,267},{89,94}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{89,94}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,459},{87,56}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{87,56}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,408},{87,60}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{87,60}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,290},{89,62}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{89,62}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,226},{89,62}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{89,62}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,269},{91,62}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{91,62}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,203},{91,62}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{91,62}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,455},{89,60}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{89,60}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>Xgd_zhinv4_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,354},{89,58}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{89,58}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_zhinv4.png</string>
            <key>size</key>
            <string>{517,517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c7871edaead8754f6de153c6a5f3eda$</string>
            <key>textureFileName</key>
            <string>Xgd_zhinv4.png</string>
        </dict>
    </dict>
</plist>
