<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Smoke00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,114},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,114},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,114},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,114},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,226},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,226},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
            <key>Smoke00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,226},{360,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,110}}</string>
                <key>sourceSize</key>
                <string>{360,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yan.png</string>
            <key>size</key>
            <string>{1812,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d084ea54e8a64d2afd2cbdb35988a888$</string>
            <key>textureFileName</key>
            <string>yan.png</string>
        </dict>
    </dict>
</plist>
