<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/diamre_board_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1280,720}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,720}}</string>
			<key>sourceSize</key>
			<string>{1280,720}</string>
		</dict>
		<key>xl/diamre_board_down_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{1280,0},{39,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,34}}</string>
			<key>sourceSize</key>
			<string>{39,34}</string>
		</dict>
		<key>xl/diamre_board_paper_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1319,0},{127,425}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,425}}</string>
			<key>sourceSize</key>
			<string>{127,425}</string>
		</dict>
		<key>xl/diamre_board_paper_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,720},{127,350}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,350}}</string>
			<key>sourceSize</key>
			<string>{127,350}</string>
		</dict>
		<key>xl/diamre_board_tittle_little.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,720},{43,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,46}}</string>
			<key>sourceSize</key>
			<string>{43,46}</string>
		</dict>
		<key>xl/diamre_board_tittle_words.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,720},{458,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{458,66}}</string>
			<key>sourceSize</key>
			<string>{458,66}</string>
		</dict>
		<key>xl/diamre_board_up_words.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,720},{29,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,38}}</string>
			<key>sourceSize</key>
			<string>{29,38}</string>
		</dict>
		<key>xl/diamre_btn_chose_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,720},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>xl/diamre_btn_chose_liang.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,720},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>xl/diamre_btn_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,720},{70,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,58}}</string>
			<key>sourceSize</key>
			<string>{70,58}</string>
		</dict>
		<key>xl/diamre_gundongtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,720},{11,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,77}}</string>
			<key>sourceSize</key>
			<string>{11,77}</string>
		</dict>
		<key>xl/diamre_gundongtiao_.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,720},{9,295}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,295}}</string>
			<key>sourceSize</key>
			<string>{9,295}</string>
		</dict>
		<key>xl/diamre_hongbao_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,720},{160,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,197}}</string>
			<key>sourceSize</key>
			<string>{160,197}</string>
		</dict>
		<key>xl/diamre_hongbao_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,720},{185,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,252}}</string>
			<key>sourceSize</key>
			<string>{185,252}</string>
		</dict>
		<key>xl/diamre_light_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1070},{352,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{352,320}}</string>
			<key>sourceSize</key>
			<string>{352,320}</string>
		</dict>
		<key>xl/diamre_light_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,1070},{240,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,216}}</string>
			<key>sourceSize</key>
			<string>{240,216}</string>
		</dict>
		<key>xl/diamre_light_up_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,1070},{446,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,86}}</string>
			<key>sourceSize</key>
			<string>{446,86}</string>
		</dict>
		<key>xl/diamre_star_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{1038,1070},{99,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,59}}</string>
			<key>sourceSize</key>
			<string>{99,59}</string>
		</dict>
		<key>xl/diamre_tittle_fangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,1070},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>xl/diamre_tittle_jinbijiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1174,1070},{236,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,57}}</string>
			<key>sourceSize</key>
			<string>{236,57}</string>
		</dict>
		<key>xl/diamre_txt_cancel.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1390},{119,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,40}}</string>
			<key>sourceSize</key>
			<string>{119,40}</string>
		</dict>
		<key>xl/diamre_txt_next.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,1390},{160,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,40}}</string>
			<key>sourceSize</key>
			<string>{160,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>diamreback.png</string>
		<key>size</key>
		<string>{1446,1446}</string>
		<key>textureFileName</key>
		<string>diamreback.png</string>
	</dict>
</dict>
</plist>
