<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/et_btn_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{240,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{240,88}}</string>
			<key>sourceSize</key>
			<string>{242,88}</string>
		</dict>
		<key>xl/et_btn_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1},{240,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{240,88}}</string>
			<key>sourceSize</key>
			<string>{242,88}</string>
		</dict>
		<key>xl/et_num_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,252},{87,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>sourceSize</key>
			<string>{87,89}</string>
		</dict>
		<key>xl/et_txt_delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,252},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
		<key>xl/et_txt_reedit.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,345},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
		<key>xl/et_txt_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,91},{159,44}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{159,44}}</string>
			<key>sourceSize</key>
			<string>{173,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>enterroom.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>enterroom.png</string>
	</dict>
</dict>
</plist>
