<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/guide_actor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{322,622}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,622}}</string>
			<key>sourceSize</key>
			<string>{322,622}</string>
		</dict>
		<key>xl/guide_btnhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,739},{150,98}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{150,98}}</string>
			<key>sourceSize</key>
			<string>{156,106}</string>
		</dict>
		<key>xl/guide_haoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,96},{328,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,416}}</string>
			<key>sourceSize</key>
			<string>{328,416}</string>
		</dict>
		<key>xl/guide_pipei.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,96},{328,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,416}}</string>
			<key>sourceSize</key>
			<string>{328,416}</string>
		</dict>
		<key>xl/guide_txt_btnhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,626},{135,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,46}}</string>
			<key>sourceSize</key>
			<string>{135,46}</string>
		</dict>
		<key>xl/guide_txt_chuangjianjiaru.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,514},{639,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{639,105}}</string>
			<key>sourceSize</key>
			<string>{639,105}</string>
		</dict>
		<key>xl/guide_txt_gameselect.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,2},{692,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{692,92}}</string>
			<key>sourceSize</key>
			<string>{692,92}</string>
		</dict>
		<key>xl/guide_txt_gametype.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,912},{336,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,94}}</string>
			<key>sourceSize</key>
			<string>{336,94}</string>
		</dict>
		<key>xl/guide_txt_gengduo.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,621},{506,64}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{506,64}}</string>
			<key>sourceSize</key>
			<string>{516,64}</string>
		</dict>
		<key>xl/guide_txt_gunpin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,846},{742,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{742,64}}</string>
			<key>sourceSize</key>
			<string>{742,64}</string>
		</dict>
		<key>xl/guide_txt_kehuadong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,739},{750,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{750,105}}</string>
			<key>sourceSize</key>
			<string>{750,105}</string>
		</dict>
		<key>xl/guide_txt_qinyouquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,912},{452,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{452,64}}</string>
			<key>sourceSize</key>
			<string>{452,64}</string>
		</dict>
		<key>xl/guide_txt_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,687},{856,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{856,50}}</string>
			<key>sourceSize</key>
			<string>{856,50}</string>
		</dict>
		<key>xl/guide_txt_tiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,621},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>guide.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>guide.png</string>
	</dict>
</dict>
</plist>
