<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/hpasset_i_mbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,230},{108,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,112}}</string>
			<key>sourceSize</key>
			<string>{108,112}</string>
		</dict>
		<key>xl/hpasset_i_txtbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,944},{74,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,77}}</string>
			<key>sourceSize</key>
			<string>{74,77}</string>
		</dict>
		<key>xl/hpasset_txt_biangeng.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,926},{106,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,26}}</string>
			<key>sourceSize</key>
			<string>{106,26}</string>
		</dict>
		<key>xl/hpasset_txt_leixing.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,944},{67,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,26}}</string>
			<key>sourceSize</key>
			<string>{67,26}</string>
		</dict>
		<key>xl/hpasset_txt_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,954},{104,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,26}}</string>
			<key>sourceSize</key>
			<string>{104,26}</string>
		</dict>
		<key>xl/hpbase_btn_bangding.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,116},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_bangding_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,2},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_chuiniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,812},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_chuiniu_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,698},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_dingding.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,830},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_dingding_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,716},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_huantoux.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,926},{96,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,25}}</string>
			<key>sourceSize</key>
			<string>{96,25}</string>
		</dict>
		<key>xl/hpbase_btn_kaitong.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,344},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{108,108}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,842},{143,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{143,45}}</string>
			<key>sourceSize</key>
			<string>{145,47}</string>
		</dict>
		<key>xl/hpbase_btn_mowang.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,830},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_mowang_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,550},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_qingliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,436},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_qingliao_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,716},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_shiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,566},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_shiming_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,322},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,452},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_btn_weixin_o.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,718},{110,112}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{110,112}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>xl/hpbase_i_hicobg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{268,318}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{268,318}}</string>
			<key>sourceSize</key>
			<string>{278,330}</string>
		</dict>
		<key>xl/hpbase_i_sp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,842},{2,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,168}}</string>
			<key>sourceSize</key>
			<string>{2,168}</string>
		</dict>
		<key>xl/hpbase_i_touxiangbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,832},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>xl/hpcell_btn_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,582},{258,64}}</string>
			<key>offset</key>
			<string>{0,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,64}}</string>
			<key>sourceSize</key>
			<string>{258,96}</string>
		</dict>
		<key>xl/hpcell_btn_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{258,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,96}}</string>
			<key>sourceSize</key>
			<string>{258,96}</string>
		</dict>
		<key>xl/hpcell_i_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,962},{65,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,41}}</string>
			<key>sourceSize</key>
			<string>{65,41}</string>
		</dict>
		<key>xl/hpcell_txt_assetlistn.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,452},{128,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,34}}</string>
			<key>sourceSize</key>
			<string>{128,34}</string>
		</dict>
		<key>xl/hpcell_txt_assetlistp.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,322},{128,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,34}</string>
		</dict>
		<key>xl/hpcell_txt_basen.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,322},{128,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,34}}</string>
			<key>sourceSize</key>
			<string>{128,34}</string>
		</dict>
		<key>xl/hpcell_txt_basep.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,582},{128,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{128,32}}</string>
			<key>sourceSize</key>
			<string>{128,34}</string>
		</dict>
		<key>xl/hpcell_txt_dingwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,967},{18,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{18,27}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>xl/hpcell_txt_dressn.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,832},{133,33}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{133,33}}</string>
			<key>sourceSize</key>
			<string>{135,35}</string>
		</dict>
		<key>xl/hpcell_txt_dressp.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,582},{134,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{134,34}}</string>
			<key>sourceSize</key>
			<string>{138,34}</string>
		</dict>
		<key>xl/hpcell_txt_propn.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,832},{133,35}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,35}}</string>
			<key>sourceSize</key>
			<string>{135,35}</string>
		</dict>
		<key>xl/hpcell_txt_propp.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,842},{136,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,34}}</string>
			<key>sourceSize</key>
			<string>{138,34}</string>
		</dict>
		<key>xl/hpcell_txt_settingn.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,926},{88,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,32}}</string>
			<key>sourceSize</key>
			<string>{88,32}</string>
		</dict>
		<key>xl/hpcell_txt_settingp.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,664},{88,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,32}}</string>
			<key>sourceSize</key>
			<string>{88,32}</string>
		</dict>
		<key>xl/hpcell_txt_shouquanxinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{6,987},{135,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,35}}</string>
			<key>sourceSize</key>
			<string>{135,35}</string>
		</dict>
		<key>xl/hpcell_txt_shouquanxinxi_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,962},{128,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,34}}</string>
			<key>sourceSize</key>
			<string>{128,34}</string>
		</dict>
		<key>xl/hpcell_txt_wode.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,967},{78,41}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{78,41}}</string>
			<key>sourceSize</key>
			<string>{86,47}</string>
		</dict>
		<key>xl/xlprop_prop_word.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,680},{90,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,34}}</string>
			<key>sourceSize</key>
			<string>{90,36}</string>
		</dict>
		<key>xl/xlprop_use_word_gray.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,680},{90,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{90,34}}</string>
			<key>sourceSize</key>
			<string>{90,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>headpop.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>headpop.png</string>
	</dict>
</dict>
</plist>
