<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/bisaichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/hayoufan.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,0},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/icon_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,0},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>xl/jinbichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,429},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/xlhall_ani_wait_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,429},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>xl/xlhall_ani_wait_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,429},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>xl/xlhall_intro_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,858},{856,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{856,50}}</string>
			<key>sourceSize</key>
			<string>{856,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>intro.png</string>
		<key>size</key>
		<string>{908,908}</string>
		<key>textureFileName</key>
		<string>intro.png</string>
	</dict>
</dict>
</plist>
