<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/xlacts_hl_huodongzhongxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,105},{174,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,49}}</string>
			<key>sourceSize</key>
			<string>{174,49}</string>
		</dict>
		<key>xl/xlacts_hl_jingcaihuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{233,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{233,101}}</string>
			<key>sourceSize</key>
			<string>{235,103}</string>
		</dict>
		<key>xl/xlacts_img_grayScale.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,105},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>xl/xlacts_img_grayScaleTop.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,159},{37,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,32}}</string>
			<key>sourceSize</key>
			<string>{37,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xlacts.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>textureFileName</key>
		<string>xlacts.png</string>
	</dict>
</dict>
</plist>
