<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/xiazai_btn_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,300},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>xl/xiazai_btn_lijidakai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,300},{308,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,118}}</string>
			<key>sourceSize</key>
			<string>{308,118}</string>
		</dict>
		<key>xl/xiazai_btn_lijitiyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{308,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,118}}</string>
			<key>sourceSize</key>
			<string>{308,118}</string>
		</dict>
		<key>xl/xiazai_btn_yixiazai.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,2},{296,106}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{296,106}}</string>
			<key>sourceSize</key>
			<string>{308,118}</string>
		</dict>
		<key>xl/xiazai_ico_xing1.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,266},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>xl/xiazai_ico_xing2.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,266},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>xl/xiazai_icon_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{142,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,142}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>xl/xiazai_img_doudizhu_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>xl/xiazai_pnl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,122},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xlapk.png</string>
		<key>size</key>
		<string>{420,420}</string>
		<key>textureFileName</key>
		<string>xlapk.png</string>
	</dict>
</dict>
</plist>
