<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/aler_pnl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,261},{44,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,128}}</string>
			<key>sourceSize</key>
			<string>{44,128}</string>
		</dict>
		<key>xl/btn_txt_lijixiazai.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,541},{119,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,31}}</string>
			<key>sourceSize</key>
			<string>{119,31}</string>
		</dict>
		<key>xl/game_icon_chuiniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,662},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/game_icon_mowang.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,816},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/game_icon_qingliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,816},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/game_icon_shouji.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,184},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/game_icon_weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/login_btn_chuiniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,391},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/login_btn_gengduofangshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,2},{88,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{88,94}}</string>
			<key>sourceSize</key>
			<string>{90,94}</string>
		</dict>
		<key>xl/login_btn_qingliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,525},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/login_btn_shoujidenglu.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,175},{285,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,84}}</string>
			<key>sourceSize</key>
			<string>{285,84}</string>
		</dict>
		<key>xl/login_btn_shoujihao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,391},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>xl/login_btn_weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,662},{152,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,152}}</string>
			<key>sourceSize</key>
			<string>{152,152}</string>
		</dict>
		<key>xl/login_btn_weixindenglu.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,98},{285,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,84}}</string>
			<key>sourceSize</key>
			<string>{285,84}</string>
		</dict>
		<key>xl/login_btn_yonghuxieyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,358},{185,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,36}}</string>
			<key>sourceSize</key>
			<string>{185,36}</string>
		</dict>
		<key>xl/login_btn_youkedenglu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{285,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,84}}</string>
			<key>sourceSize</key>
			<string>{285,84}</string>
		</dict>
		<key>xl/login_btn_zaixiankefu.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,220},{93,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,88}}</string>
			<key>sourceSize</key>
			<string>{93,88}</string>
		</dict>
		<key>xl/login_check.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,545},{29,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,26}}</string>
			<key>sourceSize</key>
			<string>{29,26}</string>
		</dict>
		<key>xl/login_check1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,576},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>xl/login_hl_qhdlfs.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,261},{238,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,41}}</string>
			<key>sourceSize</key>
			<string>{238,41}</string>
		</dict>
		<key>xl/login_hl_yhxy.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,98},{174,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,50}}</string>
			<key>sourceSize</key>
			<string>{174,50}</string>
		</dict>
		<key>xl/tongyiyonghuxieyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,354},{185,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,36}}</string>
			<key>sourceSize</key>
			<string>{185,36}</string>
		</dict>
		<key>xl/xllogin_changebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,92},{93,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,88}}</string>
			<key>sourceSize</key>
			<string>{93,88}</string>
		</dict>
		<key>xl/xllogin_cknormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,541},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>xl/xllogin_ckselect.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,310},{46,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>xl/xllogin_guest.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,89},{285,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,84}}</string>
			<key>sourceSize</key>
			<string>{285,84}</string>
		</dict>
		<key>xl/xllogin_guest_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,2},{285,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,85}}</string>
			<key>sourceSize</key>
			<string>{285,85}</string>
		</dict>
		<key>xl/xllogin_inputbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,310},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>xl/xllogin_phone_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
		<key>xl/xllogin_topwbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,182},{102,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{102,36}}</string>
			<key>sourceSize</key>
			<string>{104,36}</string>
		</dict>
		<key>xl/xllogin_wx_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,94}}</string>
			<key>sourceSize</key>
			<string>{317,94}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xllogin.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>xllogin.png</string>
	</dict>
</dict>
</plist>
