<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/aler_btn2_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,902},{120,76}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{120,76}}</string>
			<key>sourceSize</key>
			<string>{124,82}</string>
		</dict>
		<key>xl/aler_btn2_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,902},{120,76}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{120,76}}</string>
			<key>sourceSize</key>
			<string>{124,82}</string>
		</dict>
		<key>xl/denglu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,853},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>xl/denglu_bg_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,822},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>xl/denglu_btn3_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,397},{150,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{150,100}}</string>
			<key>sourceSize</key>
			<string>{156,106}</string>
		</dict>
		<key>xl/denglu_btn3_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{150,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{150,100}}</string>
			<key>sourceSize</key>
			<string>{156,106}</string>
		</dict>
		<key>xl/denglu_btn_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,902},{34,36}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{34,36}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>xl/denglu_btn_guanbi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,822},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>xl/denglu_btn_shuaxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,870},{87,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,87}}</string>
			<key>sourceSize</key>
			<string>{87,87}</string>
		</dict>
		<key>xl/denglu_btx_hqdxyzm.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,397},{263,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,39}}</string>
			<key>sourceSize</key>
			<string>{263,39}</string>
		</dict>
		<key>xl/denglu_btx_hqdxyzm_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,675},{263,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,39}}</string>
			<key>sourceSize</key>
			<string>{263,39}</string>
		</dict>
		<key>xl/denglu_button_fanhui.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,853},{33,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,47}}</string>
			<key>sourceSize</key>
			<string>{33,47}</string>
		</dict>
		<key>xl/denglu_hl_qsrtxyzm.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,397},{276,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,34}}</string>
			<key>sourceSize</key>
			<string>{276,34}</string>
		</dict>
		<key>xl/denglu_hl_qtxdxyzm.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,54},{341,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{341,49}}</string>
			<key>sourceSize</key>
			<string>{341,51}</string>
		</dict>
		<key>xl/denglu_hl_shoujihaodenglu.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,637},{214,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{214,49}}</string>
			<key>sourceSize</key>
			<string>{216,49}</string>
		</dict>
		<key>xl/denglu_i_tou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{806,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{806,86}}</string>
			<key>sourceSize</key>
			<string>{806,86}</string>
		</dict>
		<key>xl/denglu_img_yanzhengma.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{271,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,112}}</string>
			<key>sourceSize</key>
			<string>{271,112}</string>
		</dict>
		<key>xl/denglu_jiazai.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,2},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>xl/denglu_pnl_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,549},{75,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,72}}</string>
			<key>sourceSize</key>
			<string>{75,72}</string>
		</dict>
		<key>xl/denglu_pnl_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,940},{82,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,80}}</string>
			<key>sourceSize</key>
			<string>{82,80}</string>
		</dict>
		<key>xl/denglu_shuru_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,635},{92,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,87}}</string>
			<key>sourceSize</key>
			<string>{92,87}</string>
		</dict>
		<key>xl/denglu_shuru_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,549},{84,87}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,87}}</string>
			<key>sourceSize</key>
			<string>{92,87}</string>
		</dict>
		<key>xl/denglu_shuru_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,2},{79,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,5}}</string>
			<key>sourceSize</key>
			<string>{79,5}</string>
		</dict>
		<key>xl/denglu_shuru_qingchu.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,488},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>xl/et_btn_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,397},{238,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{238,86}}</string>
			<key>sourceSize</key>
			<string>{242,88}</string>
		</dict>
		<key>xl/et_btn_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,662},{238,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{238,86}}</string>
			<key>sourceSize</key>
			<string>{242,88}</string>
		</dict>
		<key>xl/et_num_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,397},{87,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>sourceSize</key>
			<string>{87,89}</string>
		</dict>
		<key>xl/et_txt_delete.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,729},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
		<key>xl/et_txt_reedit.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,729},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xlphonelogin.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>xlphonelogin.png</string>
	</dict>
</dict>
</plist>
