<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aler_btn1_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,58},{90,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{90,48}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>aler_txt_fzwxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{120,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,25}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
            <key>club_btn_lxxm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>club_hl_zhuanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>qipao_btn_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,96},{102,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,39}}</string>
                <key>sourceSize</key>
                <string>{102,39}</string>
            </dict>
            <key>qipao_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{18,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{18,20}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qipao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>qipao_jiantou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_personalsecretary.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a06904d4bf6814ed4856827d527b15:1/1$</string>
            <key>textureFileName</key>
            <string>guild_personalsecretary.png</string>
        </dict>
    </dict>
</plist>
