<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojingdeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>baojingdeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>baojingdeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>baojingdeng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baojingdeng.png</string>
            <key>size</key>
            <string>{530,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86e918eb9b19e178af9b32823d3334e2$</string>
            <key>textureFileName</key>
            <string>baojingdeng.png</string>
        </dict>
    </dict>
</plist>
