<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhayan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,354},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,354},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>baozhayan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,354},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozhayan.png</string>
            <key>size</key>
            <string>{2012,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5825236fd245cc3034d63f86d648e74f$</string>
            <key>textureFileName</key>
            <string>baozhayan.png</string>
        </dict>
    </dict>
</plist>
