<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhayan201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan202.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan203.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan205.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,228},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan206.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,228},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan207.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan208.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,454},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan209.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,454},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
            <key>baozhayan210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{160,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{160,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozhayan2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bcd3bd36f7635a9ebe794edb2925649$</string>
            <key>textureFileName</key>
            <string>baozhayan2.png</string>
        </dict>
    </dict>
</plist>
