<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S_xian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
            <key>S_xian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{128,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,235}}</string>
                <key>sourceSize</key>
                <string>{128,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S_xian.png</string>
            <key>size</key>
            <string>{1952,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17672fbc13328db8accb73e9c76186e3$</string>
            <key>textureFileName</key>
            <string>S_xian.png</string>
        </dict>
    </dict>
</plist>
