<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_sandaiyi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
            <key>saoguang_sandaiyi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{247,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,104}}</string>
                <key>sourceSize</key>
                <string>{247,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saoguang_sandaiyi.png</string>
            <key>size</key>
            <string>{1994,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:009c14441e9595d91e6ee02380ae1eea$</string>
            <key>textureFileName</key>
            <string>saoguang_sandaiyi.png</string>
        </dict>
    </dict>
</plist>
