<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saoguang_liandui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_liandui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{177,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,107}}</string>
                <key>sourceSize</key>
                <string>{177,107}</string>
            </dict>
            <key>saoguang_sandaier01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,2},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier06.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_sandaier10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,111},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_shunzi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_shunzi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,220},{193,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,94}}</string>
                <key>sourceSize</key>
                <string>{193,94}</string>
            </dict>
            <key>saoguang_tonghuashun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,220},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,220},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
            <key>saoguang_tonghuashun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,329},{250,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,107}}</string>
                <key>sourceSize</key>
                <string>{250,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saoguang_zi.png</string>
            <key>size</key>
            <string>{2018,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f94987aa6cff512305ab05cf286acd6$</string>
            <key>textureFileName</key>
            <string>saoguang_zi.png</string>
        </dict>
    </dict>
</plist>
