<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dimianhuo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo06.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,154},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo07.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,154},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,154},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,306},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,306},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>dimianhuo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,306},{230,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,150}}</string>
                <key>sourceSize</key>
                <string>{230,150}</string>
            </dict>
            <key>huoyan-zhadan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>huoyan-zhadan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,458},{100,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{100,180}</string>
            </dict>
            <key>zhongxinguang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>zhongxinguang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,640},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>zhongxinguang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,640},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>zhongxinguang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,640},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhadan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63580bb9aeec407cab0a519134336ce4$</string>
            <key>textureFileName</key>
            <string>zhadan.png</string>
        </dict>
    </dict>
</plist>
