<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_ZhuanShangJin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,68},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,68},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,68},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,6}}</string>
                <key>sourceSize</key>
                <string>{11,6}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,68},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>PT_UIFX_ZhuanShangJin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,68},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_ZhuanShangJin.png</string>
            <key>size</key>
            <string>{181,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f917da3d725696db1d89c9a2919efb3b$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_ZhuanShangJin.png</string>
        </dict>
    </dict>
</plist>
