<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btx-qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,88},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>btx-xyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{54,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>deskguide0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,57},{29,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,90},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguide3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,57},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguide4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguide5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,51},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>deskguidedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{32,58}</string>
            </dict>
            <key>deskguideduihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,96},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>deskguidehl.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
            <key>deskguidekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,96},{22,21}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{22,21}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>deskguideuse_btx.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,62},{46,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,25}}</string>
                <key>sourceSize</key>
                <string>{46,25}</string>
            </dict>
            <key>deskguideyellowbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLDeskGuide.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4befb5d698cef0b0a97289bd873260a6:1/1$</string>
            <key>textureFileName</key>
            <string>XLDeskGuide.png</string>
        </dict>
    </dict>
</plist>
