<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-ljdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>jb-ycz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{124,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,31}}</string>
                <key>sourceSize</key>
                <string>{124,31}</string>
            </dict>
            <key>oneBuyCardBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{930,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,70}}</string>
                <key>sourceSize</key>
                <string>{930,70}</string>
            </dict>
            <key>oneBuyCardIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>oneBuyDiomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{930,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,70}}</string>
                <key>sourceSize</key>
                <string>{930,70}</string>
            </dict>
            <key>oneBuyDiomIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>oneBuyValueBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{930,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{930,70}}</string>
                <key>sourceSize</key>
                <string>{930,70}</string>
            </dict>
            <key>oneBuyValueIconBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>onebuycosthx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{116,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,2}}</string>
                <key>sourceSize</key>
                <string>{116,2}</string>
            </dict>
            <key>onebuytimeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,194},{60,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,17}}</string>
                <key>sourceSize</key>
                <string>{60,17}</string>
            </dict>
            <key>onebuyydb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>onebuyydh.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLOneBuyAct.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175195645a5d82fbf653eeed7f5fc7b0:1/1$</string>
            <key>textureFileName</key>
            <string>XLOneBuyAct.png</string>
        </dict>
    </dict>
</plist>
