<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/other_award_btn_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,203},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>xl/other_award_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{448,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,52}}</string>
                <key>sourceSize</key>
                <string>{448,52}</string>
            </dict>
            <key>xl/other_award_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{199,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,53}}</string>
                <key>sourceSize</key>
                <string>{199,53}</string>
            </dict>
            <key>xl/other_award_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{332,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,119}}</string>
                <key>sourceSize</key>
                <string>{332,119}</string>
            </dict>
            <key>xl/xlprop_img_gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{453,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,103}}</string>
                <key>sourceSize</key>
                <string>{453,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLOther.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0897ef6eb57991b53c8feca95e0e36f5:1/1$</string>
            <key>textureFileName</key>
            <string>XLOther.png</string>
        </dict>
    </dict>
</plist>
