<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/task_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,67}}</string>
                <key>sourceSize</key>
                <string>{212,67}</string>
            </dict>
            <key>xl/task_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,380},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>xl/task_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,185},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>xl/task_guankan.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,344},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>xl/task_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{294,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,128}}</string>
                <key>sourceSize</key>
                <string>{294,128}</string>
            </dict>
            <key>xl/task_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{340,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{340,25}}</string>
                <key>sourceSize</key>
                <string>{344,29}</string>
            </dict>
            <key>xl/task_huiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>xl/task_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,234},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>xl/task_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{96,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,109}}</string>
                <key>sourceSize</key>
                <string>{96,109}</string>
            </dict>
            <key>xl/task_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,71},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>xl/task_lingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,150},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>xl/task_prgzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{344,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,29}}</string>
                <key>sourceSize</key>
                <string>{344,29}</string>
            </dict>
            <key>xl/task_quzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,230},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>xl/task_taitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,458},{1122,110}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{1122,110}}</string>
                <key>sourceSize</key>
                <string>{1124,122}</string>
            </dict>
            <key>xl/task_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{161,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,78}}</string>
                <key>sourceSize</key>
                <string>{161,78}</string>
            </dict>
            <key>xl/task_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,624},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>xl/task_yiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{182,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{182,77}}</string>
                <key>sourceSize</key>
                <string>{208,109}</string>
            </dict>
            <key>xl/task_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,260},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XLTask.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf73fd0ff7a4011d719ebcf17df50f38:1/1$</string>
            <key>textureFileName</key>
            <string>XLTask.png</string>
        </dict>
    </dict>
</plist>
