<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinque_DeSe.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{66,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,121}}</string>
                <key>sourceSize</key>
                <string>{66,121}</string>
            </dict>
            <key>jinque_KaiXin.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>jinque_KeLian.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{61,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,111}}</string>
                <key>sourceSize</key>
                <string>{61,111}</string>
            </dict>
            <key>jinque_Ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{78,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{82,127}</string>
            </dict>
            <key>jinque_ShengQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,122}}</string>
                <key>sourceSize</key>
                <string>{69,122}</string>
            </dict>
            <key>jinque_TanQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>jinque_WuNai.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{79,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,121}}</string>
                <key>sourceSize</key>
                <string>{79,121}</string>
            </dict>
            <key>jinque_XianMei.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{80,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,121}}</string>
                <key>sourceSize</key>
                <string>{80,121}</string>
            </dict>
            <key>jinque_ZhuaKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{61,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{61,120}}</string>
                <key>sourceSize</key>
                <string>{79,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinque_bq.png</string>
            <key>size</key>
            <string>{768,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b2cf0d3d4d2a7da3f9eb2c4fc94fb7d:1/1$</string>
            <key>textureFileName</key>
            <string>jinque_bq.png</string>
        </dict>
    </dict>
</plist>
