<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_ShouZhiDianJi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,103}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>PT_UIFX_ShouZhiDianJi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>PT_UIFX_ShouZhiDianJi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{228,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,229}}</string>
                <key>sourceSize</key>
                <string>{228,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_ShouZhiDianJi_Sprite1.png</string>
            <key>size</key>
            <string>{433,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:307d00b35b0eaeeb917b1d766ee7a271$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_ShouZhiDianJi_Sprite1.png</string>
        </dict>
    </dict>
</plist>
