<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>QYQ_UIFX_HongBao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{7,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,135}}</string>
                <key>sourceSize</key>
                <string>{7,135}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,2},{91,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,134}}</string>
                <key>sourceSize</key>
                <string>{91,134}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{57,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,134}}</string>
                <key>sourceSize</key>
                <string>{57,134}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{400,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,192}}</string>
                <key>sourceSize</key>
                <string>{400,192}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{400,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,419}}</string>
                <key>sourceSize</key>
                <string>{400,419}</string>
            </dict>
            <key>QYQ_UIFX_HongBao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{400,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,546}}</string>
                <key>sourceSize</key>
                <string>{400,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QYQ_UIFX_HongBaoHuoDong.png</string>
            <key>size</key>
            <string>{404,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0adf54ecc7715c998ddd30fe1a6314$</string>
            <key>textureFileName</key>
            <string>QYQ_UIFX_HongBaoHuoDong.png</string>
        </dict>
    </dict>
</plist>
