<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_v2_iconjulebu_tubiao_zlyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,267},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>guild_zhanji_hl_zhuliyeji.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,796},{216,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,50}}</string>
                <key>sourceSize</key>
                <string>{216,50}</string>
            </dict>
            <key>guild_zhanji_zuijiazhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,592},{202,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,96}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>guild_zhuli_Icon_zhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,366},{67,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,48}}</string>
                <key>sourceSize</key>
                <string>{67,48}</string>
            </dict>
            <key>guild_zhuli_Img_dierming.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,677},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>guild_zhuli_Img_disanming.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,740},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>guild_zhuli_Img_diyiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,677},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>guild_zhuli_Img_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,442},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>guild_zhuli_Img_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,409},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>guild_zhuli_Img_zhulibangdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{339,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,68}}</string>
                <key>sourceSize</key>
                <string>{339,68}</string>
            </dict>
            <key>guild_zhuli_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,628},{59,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>guild_zhuli_btn_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,471},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>guild_zhuli_btn_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,201},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>guild_zhuli_btx_chongfayanzhengma.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{149,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,31}}</string>
                <key>sourceSize</key>
                <string>{149,31}</string>
            </dict>
            <key>guild_zhuli_btx_jinru.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,164},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>guild_zhuli_btx_jjtc.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,376},{134,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,33}}</string>
                <key>sourceSize</key>
                <string>{134,33}</string>
            </dict>
            <key>guild_zhuli_btx_quyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>guild_zhuli_btx_rhyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,411},{215,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,62}}</string>
                <key>sourceSize</key>
                <string>{215,62}</string>
            </dict>
            <key>guild_zhuli_btx_sheweizhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,512},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>guild_zhuli_btx_tianjiazhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,632},{199,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,40}}</string>
                <key>sourceSize</key>
                <string>{199,40}</string>
            </dict>
            <key>guild_zhuli_btx_tybqbjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,674},{199,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,31}}</string>
                <key>sourceSize</key>
                <string>{199,31}</string>
            </dict>
            <key>guild_zhuli_btx_tybqbtc.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,707},{198,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,31}}</string>
                <key>sourceSize</key>
                <string>{198,31}</string>
            </dict>
            <key>guild_zhuli_btx_tytcbqbjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{301,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,34}}</string>
                <key>sourceSize</key>
                <string>{301,34}</string>
            </dict>
            <key>guild_zhuli_btx_tytcbqbtc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{300,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,34}}</string>
                <key>sourceSize</key>
                <string>{300,34}</string>
            </dict>
            <key>guild_zhuli_btx_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,740},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>guild_zhuli_btx_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,131},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>guild_zhuli_btx_yishezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,241},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>guild_zhuli_btx_yjdr.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,416},{214,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,65}}</string>
                <key>sourceSize</key>
                <string>{214,65}</string>
            </dict>
            <key>guild_zhuli_btx_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,792},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>guild_zhuli_btx_zlqxsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,239},{239,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,37}}</string>
                <key>sourceSize</key>
                <string>{239,37}</string>
            </dict>
            <key>guild_zhuli_hl_qrqyqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{299,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,50}}</string>
                <key>sourceSize</key>
                <string>{299,50}</string>
            </dict>
            <key>guild_zhuli_hl_tianjiazhuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,796},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{216,49}</string>
            </dict>
            <key>guild_zhuli_hl_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,411},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>guild_zhuli_hl_yaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,740},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>guild_zhuli_hl_zhuligerenziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{216,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,50}}</string>
                <key>sourceSize</key>
                <string>{216,50}</string>
            </dict>
            <key>guild_zhuli_hl_zhuligonglue.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,411},{216,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,49}}</string>
                <key>sourceSize</key>
                <string>{216,49}</string>
            </dict>
            <key>guild_zhuli_hl_zhulipaimingguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{298,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,49}}</string>
                <key>sourceSize</key>
                <string>{298,49}</string>
            </dict>
            <key>guild_zhuli_hl_zhuliquanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,796},{216,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,49}}</string>
                <key>sourceSize</key>
                <string>{216,49}</string>
            </dict>
            <key>guild_zhuli_hl_zhulixiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,796},{216,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,49}}</string>
                <key>sourceSize</key>
                <string>{216,49}</string>
            </dict>
            <key>guild_zhuli_img_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,376},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>guild_zhuli_input_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,195},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>guild_zhuli_input_di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,39},{91,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,2}}</string>
                <key>sourceSize</key>
                <string>{91,2}</string>
            </dict>
            <key>guild_zhuli_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{35,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,3}}</string>
                <key>sourceSize</key>
                <string>{35,3}</string>
            </dict>
            <key>guild_zhuli_line_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,127}}</string>
                <key>sourceSize</key>
                <string>{418,127}</string>
            </dict>
            <key>guild_zhuli_line_xinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{588,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,81}}</string>
                <key>sourceSize</key>
                <string>{588,81}</string>
            </dict>
            <key>guild_zhuli_pnl_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,629},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>guild_zhuli_tab_zl_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>guild_zhuli_tab_zl_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,376},{95,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,31}}</string>
                <key>sourceSize</key>
                <string>{95,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_partner.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdfec2f88d8679fdd22f092b03c45aa4:1/1$</string>
            <key>textureFileName</key>
            <string>guild_partner.png</string>
        </dict>
    </dict>
</plist>
