<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alerl_img_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,237},{127,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,120}}</string>
                <key>sourceSize</key>
                <string>{127,120}</string>
            </dict>
            <key>club_hehuo_btx_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,65},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>club_hehuo_btx_jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,237},{99,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,38}}</string>
                <key>sourceSize</key>
                <string>{99,38}</string>
            </dict>
            <key>club_hehuo_btx_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,179},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>club_hehuo_btx_sousuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,467},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_hehuo_btx_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,179},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>club_hehuo_btx_yaoqingquanbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,236},{92,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,25}}</string>
                <key>sourceSize</key>
                <string>{92,25}</string>
            </dict>
            <key>club_hehuo_hl_qyqyqxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{300,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,50}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>club_hehuo_hl_yaoqingwanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{175,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,51}}</string>
                <key>sourceSize</key>
                <string>{175,51}</string>
            </dict>
            <key>club_hehuo_img_guanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{165,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,23}}</string>
                <key>sourceSize</key>
                <string>{165,23}</string>
            </dict>
            <key>club_hehuo_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,304},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>club_hehuo_input_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,166},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>club_hehuo_pnl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>club_hehuo_pnl_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,463}}</string>
                <key>sourceSize</key>
                <string>{237,463}</string>
            </dict>
            <key>club_hehuo_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,359},{233,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,117}}</string>
                <key>sourceSize</key>
                <string>{233,117}</string>
            </dict>
            <key>club_hehuo_tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{233,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,117}}</string>
                <key>sourceSize</key>
                <string>{233,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>partner_invite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6916945c8d6882c3ba49c77b8031198:1/1$</string>
            <key>textureFileName</key>
            <string>partner_invite.png</string>
        </dict>
    </dict>
</plist>
