<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GD_ClickFX_HuaBan_Sheet01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{53,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,240},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,240},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{194,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,128}}</string>
                <key>sourceSize</key>
                <string>{194,128}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>GD_ClickFX_HuaBan_Sheet01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{234,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,236}}</string>
                <key>sourceSize</key>
                <string>{234,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GD_ClickFX_HuaBan.png</string>
            <key>size</key>
            <string>{776,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5261227fe5d22f86989537b0c1710f99$</string>
            <key>textureFileName</key>
            <string>GD_ClickFX_HuaBan.png</string>
        </dict>
    </dict>
</plist>
