<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgdhb_shandian01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,648},{194,312}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{194,312}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,650},{186,322}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,322}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{188,316}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{188,316}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,330}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{184,330}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{184,328}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{184,328}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,326},{186,322}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,322}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{190,322}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{190,322}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{196,326}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{196,326}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
            <key>Xgdhb_shandian01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,326},{186,320}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{186,320}}</string>
                <key>sourceSize</key>
                <string>{200,338}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_shandian_huaban.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d73ba763781ac929250c52ce166776:1/1$</string>
            <key>textureFileName</key>
            <string>Xgd_shandian_huaban.png</string>
        </dict>
    </dict>
</plist>
