<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_card_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,227},{22,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,107}}</string>
                <key>sourceSize</key>
                <string>{22,107}</string>
            </dict>
            <key>pdk_card_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,238},{10,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,45}}</string>
                <key>sourceSize</key>
                <string>{10,45}</string>
            </dict>
            <key>pdk_card_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{22,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,107}}</string>
                <key>sourceSize</key>
                <string>{22,107}</string>
            </dict>
            <key>pdk_card_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,227},{10,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,45}}</string>
                <key>sourceSize</key>
                <string>{10,45}</string>
            </dict>
            <key>pdk_card_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{177,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,224}}</string>
                <key>sourceSize</key>
                <string>{177,224}</string>
            </dict>
            <key>pdk_card_bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{177,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,224}}</string>
                <key>sourceSize</key>
                <string>{177,224}</string>
            </dict>
            <key>pdk_card_bg_samll.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,155},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>pdk_card_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>pdk_card_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>pdk_card_c_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{117,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,155}}</string>
                <key>sourceSize</key>
                <string>{117,155}</string>
            </dict>
            <key>pdk_card_c_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,193},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>pdk_card_c_21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{117,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,155}}</string>
                <key>sourceSize</key>
                <string>{117,155}</string>
            </dict>
            <key>pdk_card_c_21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,132},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>pdk_card_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,158},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>pdk_card_c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,158},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>pdk_card_c_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,158},{86,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{86,78}</string>
            </dict>
            <key>pdk_card_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,224}}</string>
                <key>sourceSize</key>
                <string>{177,224}</string>
            </dict>
            <key>pdk_card_p_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,89},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,82}}</string>
                <key>sourceSize</key>
                <string>{65,82}</string>
            </dict>
            <key>pdk_card_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,197},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,132},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,67},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,154},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,89},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,154},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,89},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>pdk_card_y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,155},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_card.pvr.ccz</string>
            <key>size</key>
            <string>{1512,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4936ae59ce29e42b9dc2049642cf855:1/1$</string>
            <key>textureFileName</key>
            <string>pdk_card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
