<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yan_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,84},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,84},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,84},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,84},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,166},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,166},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
            <key>yan_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,166},{170,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,80}}</string>
                <key>sourceSize</key>
                <string>{170,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qc_yan_01.png</string>
            <key>size</key>
            <string>{862,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f0ff4370a42d6faea17971bd147e15$</string>
            <key>textureFileName</key>
            <string>qc_yan_01.png</string>
        </dict>
    </dict>
</plist>
