<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HN_UIFX_LiHeHuangDong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{147,160}</string>
            </dict>
            <key>HN_UIFX_LiHeHuangDong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{127,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,112}}</string>
                <key>sourceSize</key>
                <string>{127,112}</string>
            </dict>
            <key>HN_UIFX_LiHeHuangDong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{145,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,93}}</string>
                <key>sourceSize</key>
                <string>{147,93}</string>
            </dict>
            <key>HN_UIFX_LiHeHuangDong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{236,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HN_UIFX_LiHeHuangDong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,164},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HN_UIFX_LiHeHuangDong.png</string>
            <key>size</key>
            <string>{498,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0de0ec1ec2f79bf552423cbe6e91990a$</string>
            <key>textureFileName</key>
            <string>HN_UIFX_LiHeHuangDong.png</string>
        </dict>
    </dict>
</plist>
