<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengyuan_btx_yc.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,28},{60,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,24}}</string>
                <key>sourceSize</key>
                <string>{60,24}</string>
            </dict>
            <key>chengyuan_btx_ytj_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>chengyuan_hl_tianjiachengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,49}}</string>
                <key>sourceSize</key>
                <string>{174,49}</string>
            </dict>
            <key>chenyaung_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_banotherinroom.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00694d32a4c83dfb64e3919366d1c729:1/1$</string>
            <key>textureFileName</key>
            <string>guild_banotherinroom.png</string>
        </dict>
    </dict>
</plist>
