<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fan_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,856},{67,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,85}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>fan_btn_lingqu_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,524},{190,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{190,108}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>fan_btn_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,578},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>fan_btn_wodejiangl.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,711},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>fan_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{363,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,84}}</string>
                <key>sourceSize</key>
                <string>{363,84}</string>
            </dict>
            <key>fan_btn_ylq_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,408},{190,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,110}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>fan_btx_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,447},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>fan_header_bantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,722},{1280,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,85}}</string>
                <key>sourceSize</key>
                <string>{1280,85}</string>
            </dict>
            <key>fan_hl_xshkfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,178},{206,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,40}}</string>
                <key>sourceSize</key>
                <string>{206,40}</string>
            </dict>
            <key>fan_ima_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,88},{88,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,254}}</string>
                <key>sourceSize</key>
                <string>{88,254}</string>
            </dict>
            <key>fan_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,925},{58,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,16},{58,63}}</string>
                <key>sourceSize</key>
                <string>{146,97}</string>
            </dict>
            <key>fan_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,865},{84,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{84,59}}</string>
                <key>sourceSize</key>
                <string>{146,97}</string>
            </dict>
            <key>fan_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,792},{94,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{94,71}}</string>
                <key>sourceSize</key>
                <string>{146,97}</string>
            </dict>
            <key>fan_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,612},{146,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,97}}</string>
                <key>sourceSize</key>
                <string>{146,97}</string>
            </dict>
            <key>fan_img_fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,918},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>fan_img_fk1hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,856},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>fan_img_fk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,786},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>fan_img_fk2hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,722},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>fan_img_fk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,318},{117,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,88}}</string>
                <key>sourceSize</key>
                <string>{117,88}</string>
            </dict>
            <key>fan_img_fk3hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,228},{117,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,88}}</string>
                <key>sourceSize</key>
                <string>{117,88}</string>
            </dict>
            <key>fan_img_fk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,354},{195,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,132}}</string>
                <key>sourceSize</key>
                <string>{195,132}</string>
            </dict>
            <key>fan_img_fk4hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,220},{195,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,132}}</string>
                <key>sourceSize</key>
                <string>{195,132}</string>
            </dict>
            <key>fan_img_jpjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,224},{179,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,44}}</string>
                <key>sourceSize</key>
                <string>{179,44}</string>
            </dict>
            <key>fan_img_xiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,634},{186,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,86}}</string>
                <key>sourceSize</key>
                <string>{186,86}</string>
            </dict>
            <key>fan_img_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,88},{107,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,56}}</string>
                <key>sourceSize</key>
                <string>{107,56}</string>
            </dict>
            <key>fan_img_zegui.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,182},{100,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,44}}</string>
                <key>sourceSize</key>
                <string>{100,44}</string>
            </dict>
            <key>fan_img_zhuangshidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,488},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>fan_list_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,146},{34,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,107}}</string>
                <key>sourceSize</key>
                <string>{34,107}</string>
            </dict>
            <key>fan_pnl2_erjidb.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,178},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>fan_pnl2_erjidb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,405},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>fan_pnl_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1133},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>fan_pnl_diban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1055,631}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1055,631}}</string>
                <key>sourceSize</key>
                <string>{1055,631}</string>
            </dict>
            <key>fan_prg_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{1129,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1129,15}}</string>
                <key>sourceSize</key>
                <string>{1129,15}</string>
            </dict>
            <key>fan_prg_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,600},{1129,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1129,13}}</string>
                <key>sourceSize</key>
                <string>{1129,15}</string>
            </dict>
            <key>fan_tbn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,543},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_activities_returncard.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4917150c64762431bf99f929e4bc7b8c:1/1$</string>
            <key>textureFileName</key>
            <string>guild_activities_returncard.png</string>
        </dict>
    </dict>
</plist>
