<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xl/menu_btn_huiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{56,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{56,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>xl/vip_bg_huanyinghuiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,332}}</string>
                <key>sourceSize</key>
                <string>{392,332}</string>
            </dict>
            <key>xl/vip_ico_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,703},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,681},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,664},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,664},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,663},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,663},{48,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,641},{48,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,609},{48,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,592},{48,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,592},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,569},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,569},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,542},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,542},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>xl/vip_ico_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_baofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,538},{101,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,115}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_lianghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,336},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_libao.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,336},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,641},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>xl/vip_ico_v0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,659},{42,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v0_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,619},{42,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,496},{38,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{38,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,696},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v10_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,691},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,718},{48,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v11_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,713},{48,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v12.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,659},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v12_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,642},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,642},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v13_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v14.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,641},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v14_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,641},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v15.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,619},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v15_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,619},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v1_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,474},{38,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{38,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,757},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v2_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,753},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,753},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v3_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,750},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,733},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v4_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,733},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,715},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v5_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,710},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v6_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,710},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,728},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v7_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,711},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,711},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v8_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,740},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,718},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v9_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,735},{42,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{42,20}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>xl/vip_ico_v_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,40},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>xl/vip_ico_v_bg_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>xl/vip_ico_v_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,542},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>xl/vip_ico_v_bg_small_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,542},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>xl/vip_ico_v_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,554},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>xl/vip_ico_v_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,518},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl/vip_ico_v_small_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,436},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>xl/vip_ico_wodezhanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,316},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_xuanzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,439},{101,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,115}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_year.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,386},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>xl/vip_ico_year_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,336},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>xl/vip_ico_year_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,689},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>xl/vip_ico_year_small_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,663},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>xl/vip_ico_youxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,439},{101,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,115}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_zengsongvip.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,197},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_zengsongzhuangban.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,435},{101,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,115}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
            <key>xl/vip_ico_zhuanshuzhuangban.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,78},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vipicon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4fd27fcc136b6d2a1e9d0f023c9a2ff:1/1$</string>
            <key>textureFileName</key>
            <string>vipicon.png</string>
        </dict>
    </dict>
</plist>
