<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dmajiang_ruchang_reqiqiufier_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>2dmajiang_ruchang_reqiqiufier_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,114},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2dmajiang_ruchang_reqiqiufier.png</string>
            <key>size</key>
            <string>{1252,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e1ffd4f83ac26c09ed7c0b6c93cb45d$</string>
            <key>textureFileName</key>
            <string>2dmajiang_ruchang_reqiqiufier.png</string>
        </dict>
    </dict>
</plist>
