<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>L_hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>L_hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>R_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{143,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,137}}</string>
                <key>sourceSize</key>
                <string>{143,137}</string>
            </dict>
            <key>bufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{55,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,100}}</string>
                <key>sourceSize</key>
                <string>{55,100}</string>
            </dict>
            <key>bufugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{66,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,11}}</string>
                <key>sourceSize</key>
                <string>{66,11}</string>
            </dict>
            <key>denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{51,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,94}}</string>
                <key>sourceSize</key>
                <string>{51,94}</string>
            </dict>
            <key>erduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{82,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,57}}</string>
                <key>sourceSize</key>
                <string>{82,57}</string>
            </dict>
            <key>gan.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>glow_hot_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,545},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{175,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,124}}</string>
                <key>sourceSize</key>
                <string>{175,124}</string>
            </dict>
            <key>jq_txk_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,343},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jq_txk_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,141},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>maozi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{215,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,68}}</string>
                <key>sourceSize</key>
                <string>{215,68}</string>
            </dict>
            <key>maozi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{108,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{108,44}</string>
            </dict>
            <key>yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>yueliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,545},{388,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,334}}</string>
                <key>sourceSize</key>
                <string>{388,334}</string>
            </dict>
            <key>zhaocaitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,545},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JQ_tuzi.png</string>
            <key>size</key>
            <string>{1416,881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f7fe2086a72d85bc7406f1671e1ed8$</string>
            <key>textureFileName</key>
            <string>JQ_tuzi.png</string>
        </dict>
    </dict>
</plist>
