<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1335},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>bar_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{171,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,547}}</string>
                <key>sourceSize</key>
                <string>{171,547}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,892},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1850},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>btn_d_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1156},{177,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,56}}</string>
                <key>sourceSize</key>
                <string>{177,56}</string>
            </dict>
            <key>btn_d_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,977},{177,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,56}}</string>
                <key>sourceSize</key>
                <string>{177,56}</string>
            </dict>
            <key>btn_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1592},{208,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,74}}</string>
                <key>sourceSize</key>
                <string>{208,74}</string>
            </dict>
            <key>btn_gouxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1894},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>btn_gouxuandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1894},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>btn_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,782},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1055},{378,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,71}}</string>
                <key>sourceSize</key>
                <string>{378,71}</string>
            </dict>
            <key>btn_hytq.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,859},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>btn_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,892},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>btn_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1953},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btn_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1957},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>btn_jljc.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,749},{229,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,64}}</string>
                <key>sourceSize</key>
                <string>{229,64}</string>
            </dict>
            <key>btn_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,980},{378,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,73}}</string>
                <key>sourceSize</key>
                <string>{378,73}</string>
            </dict>
            <key>btn_tyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,977},{403,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,88}}</string>
                <key>sourceSize</key>
                <string>{403,88}</string>
            </dict>
            <key>btn_wdsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,936},{102,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,73}}</string>
                <key>sourceSize</key>
                <string>{102,73}</string>
            </dict>
            <key>btn_wfgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,782},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>btn_xypp.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1011},{102,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{102,72}</string>
            </dict>
            <key>btn_z_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1198},{170,38}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>btn_z_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,808},{170,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,114}}</string>
                <key>sourceSize</key>
                <string>{170,114}</string>
            </dict>
            <key>btn_zdzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,642},{229,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,64}}</string>
                <key>sourceSize</key>
                <string>{229,64}</string>
            </dict>
            <key>btn_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1382},{208,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,74}}</string>
                <key>sourceSize</key>
                <string>{208,74}</string>
            </dict>
            <key>btx_fkb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1232},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>btx_fkb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1202},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>btx_jrphb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,859},{149,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,31}}</string>
                <key>sourceSize</key>
                <string>{149,31}</string>
            </dict>
            <key>btx_jrphb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1802},{149,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,29}}</string>
                <key>sourceSize</key>
                <string>{149,29}</string>
            </dict>
            <key>btx_kqzdzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,895},{223,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,38}}</string>
                <key>sourceSize</key>
                <string>{223,38}</string>
            </dict>
            <key>btx_lghytyyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1159},{290,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,37}}</string>
                <key>sourceSize</key>
                <string>{290,37}</string>
            </dict>
            <key>btx_qxzdzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,708},{236,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,39}}</string>
                <key>sourceSize</key>
                <string>{236,39}</string>
            </dict>
            <key>btx_zrphb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,859},{148,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,32}}</string>
                <key>sourceSize</key>
                <string>{148,32}</string>
            </dict>
            <key>btx_zrphb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2012},{148,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,30}}</string>
                <key>sourceSize</key>
                <string>{148,30}</string>
            </dict>
            <key>btx_zsb_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1172},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>btx_zsb_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1142},{87,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,28}}</string>
                <key>sourceSize</key>
                <string>{87,28}</string>
            </dict>
            <key>hl_hytq.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1229},{165,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,42}}</string>
                <key>sourceSize</key>
                <string>{165,42}</string>
            </dict>
            <key>hl_hyzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{683,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,25}}</string>
                <key>sourceSize</key>
                <string>{683,25}</string>
            </dict>
            <key>hl_wdsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,842},{164,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,41}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>hl_wfgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1396},{163,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,42}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>hl_xypm.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,885},{163,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,43}}</string>
                <key>sourceSize</key>
                <string>{163,43}</string>
            </dict>
            <key>hl_zhdjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1802},{153,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,30}}</string>
                <key>sourceSize</key>
                <string>{153,30}</string>
            </dict>
            <key>ico_fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,892},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>ico_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,892},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>ico_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1395},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>img_fk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,597},{91,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,57}}</string>
                <key>sourceSize</key>
                <string>{91,57}</string>
            </dict>
            <key>img_fk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>img_fk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,669},{122,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,111}}</string>
                <key>sourceSize</key>
                <string>{122,111}</string>
            </dict>
            <key>img_hb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,935},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>img_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1539},{251,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,70}}</string>
                <key>sourceSize</key>
                <string>{251,70}</string>
            </dict>
            <key>img_thfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1384},{255,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,153}}</string>
                <key>sourceSize</key>
                <string>{255,153}</string>
            </dict>
            <key>img_thzs.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1229},{255,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,153}}</string>
                <key>sourceSize</key>
                <string>{255,153}</string>
            </dict>
            <key>img_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1208},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>img_y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,815},{248,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,78}}</string>
                <key>sourceSize</key>
                <string>{248,78}</string>
            </dict>
            <key>img_y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1128},{298,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,29}}</string>
                <key>sourceSize</key>
                <string>{298,29}</string>
            </dict>
            <key>img_y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1457},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>img_zhcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1262},{255,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,75}}</string>
                <key>sourceSize</key>
                <string>{255,75}</string>
            </dict>
            <key>img_zhcgdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,930},{299,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,297}}</string>
                <key>sourceSize</key>
                <string>{299,297}</string>
            </dict>
            <key>img_zhsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1286},{255,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,75}}</string>
                <key>sourceSize</key>
                <string>{255,75}</string>
            </dict>
            <key>img_zs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1085},{101,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{101,55}}</string>
                <key>sourceSize</key>
                <string>{115,55}</string>
            </dict>
            <key>img_zs1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>img_zs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,895},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>img_zs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,656},{150,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{150,103}}</string>
                <key>sourceSize</key>
                <string>{156,103}</string>
            </dict>
            <key>input_jiajiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,842},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>list_gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,78},{35,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,98}}</string>
                <key>sourceSize</key>
                <string>{35,98}</string>
            </dict>
            <key>pnl_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{918,638}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{918,638}}</string>
                <key>sourceSize</key>
                <string>{918,664}</string>
            </dict>
            <key>pnl_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,115},{96,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,480}}</string>
                <key>sourceSize</key>
                <string>{96,480}</string>
            </dict>
            <key>pnl_tanchuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1802},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>pnl_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1128},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>pnl_ty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>pop_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1198},{273,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,64}}</string>
                <key>sourceSize</key>
                <string>{273,64}</string>
            </dict>
            <key>tit_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{1052,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,87}}</string>
                <key>sourceSize</key>
                <string>{1052,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vacrowdfunding.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5e518adac13d801e898573ae7b00a9:1/1$</string>
            <key>textureFileName</key>
            <string>vacrowdfunding.png</string>
        </dict>
    </dict>
</plist>
