<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,101}}</string>
                <key>sourceSize</key>
                <string>{334,101}</string>
            </dict>
            <key>createroom_moreplayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,89},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
            <key>createroom_xuanxiagndi.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,48},{25,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,66}}</string>
                <key>sourceSize</key>
                <string>{25,66}</string>
            </dict>
            <key>ctroom_btx_bcsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,48},{156,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,39}}</string>
                <key>sourceSize</key>
                <string>{156,39}</string>
            </dict>
            <key>ctroom_btx_cjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{169,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,44}}</string>
                <key>sourceSize</key>
                <string>{169,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xlCreateRoom.png</string>
            <key>size</key>
            <string>{523,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4412e9dd0132da755385ad62aea4dc5:1/1$</string>
            <key>textureFileName</key>
            <string>xlCreateRoom.png</string>
        </dict>
    </dict>
</plist>
