<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_JiaoZi_smoke_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,304},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,304},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,304},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,304},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,606},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,606},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,606},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,606},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,908},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,908},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,908},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,908},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1210},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1210},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1210},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>PT_UIFX_JiaoZi_smoke_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1210},{400,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,300}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_JiaoZi_Smoke.png</string>
            <key>size</key>
            <string>{2012,1512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b246cfb0b41fde1cb1160f96566c8fcf$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_JiaoZi_Smoke.png</string>
        </dict>
    </dict>
</plist>
