<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{64,70}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{64,70}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{82,94}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,14},{82,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{112,92}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{112,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{122,84}}</string>
                <key>offset</key>
                <string>{-29,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{124,84}}</string>
                <key>offset</key>
                <string>{-28,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{124,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,98},{120,88}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{120,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,98},{102,96}}</string>
                <key>offset</key>
                <string>{-33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{102,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,98},{72,100}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{72,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>ZZ_UIFX_TouXiang_QianShui_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_Public_ShuiHua01.png</string>
            <key>size</key>
            <string>{428,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70bec19fae4150e012abfb2c021ec8cc$</string>
            <key>textureFileName</key>
            <string>ZZ_Public_ShuiHua01.png</string>
        </dict>
    </dict>
</plist>
