<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_Public_Feng01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,12}}</string>
                <key>offset</key>
                <string>{81,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,15},{26,12}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{44,14}}</string>
                <key>offset</key>
                <string>{64,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,19},{44,14}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{60,10}}</string>
                <key>offset</key>
                <string>{48,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,23},{60,10}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{68,26}}</string>
                <key>offset</key>
                <string>{39,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,8},{68,26}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,18},{56,28}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,6},{56,28}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,18},{30,26}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,4},{30,26}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{54,22}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,6},{54,22}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,48},{82,22}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{82,22}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{98,18}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{98,18}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{90,12}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{90,12}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{72,16}}</string>
                <key>offset</key>
                <string>{-55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{72,16}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,106},{56,14}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{56,14}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
            <key>ZZ_Public_Feng01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,106},{14,6}}</string>
                <key>offset</key>
                <string>{-83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{14,6}}</string>
                <key>sourceSize</key>
                <string>{190,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_Public_Feng01.png</string>
            <key>size</key>
            <string>{162,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c17a032659fdb9de2672554b84420c40$</string>
            <key>textureFileName</key>
            <string>ZZ_Public_Feng01.png</string>
        </dict>
    </dict>
</plist>
