<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Images_wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,88},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,24}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>Images_zi_jiangma.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,932},{239,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{239,132}}</string>
                <key>sourceSize</key>
                <string>{239,140}</string>
            </dict>
            <key>Images_zi_longqiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{342,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{342,134}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>Images_zi_qifengdaowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{451,136}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>Images_zi_qiqiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{342,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{342,132}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>Images_zi_shisanlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{348,118}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{348,118}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>Images_zi_shuangwangguiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{451,132}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{451,132}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>Images_zi_sidatianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{431,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{431,126}}</string>
                <key>sourceSize</key>
                <string>{453,140}</string>
            </dict>
            <key>Images_zi_wangba.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{36,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,85}}</string>
                <key>sourceSize</key>
                <string>{36,89}</string>
            </dict>
            <key>Images_zi_wangchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,725},{206,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,138}}</string>
                <key>sourceSize</key>
                <string>{206,140}</string>
            </dict>
            <key>Images_zi_wangchuangwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,399},{325,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{325,138}}</string>
                <key>sourceSize</key>
                <string>{327,140}</string>
            </dict>
            <key>Images_zi_wangdiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1065},{221,126}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{221,126}}</string>
                <key>sourceSize</key>
                <string>{239,140}</string>
            </dict>
            <key>Images_zi_wangdiaowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,932},{312,126}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{312,126}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>Images_zi_wangguiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{330,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{330,132}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>Images_zi_yingqiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{348,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{348,132}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>King.pvr.ccz</string>
            <key>size</key>
            <string>{503,1251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f4ff444606f92386422f07e825e767:1/1$</string>
            <key>textureFileName</key>
            <string>King.pvr.ccz</string>
        </dict>
    </dict>
</plist>
