<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playtype_ddz_rn_doudizhu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1446},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>playtype_ddz_rn_doudizhu_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1446},{101,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,35}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>playtype_phz_rn_changdeduohongdui_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,209},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdeduohongdui_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,712},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changdehongheidian_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,378},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdehongheidian_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,711},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changdequanmingtang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,40},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdequanmingtang_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,547},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changsha_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,209},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_changsha_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,547},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_chenzhoumaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_chenzhoumaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,710},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_guilinzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1847},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_phz_rn_guilinzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1147},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>playtype_phz_rn_guiyangzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1012},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_guiyangzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1711},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_phz_rn_hanshou_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{167,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,35}}</string>
                <key>sourceSize</key>
                <string>{167,35}</string>
            </dict>
            <key>playtype_phz_rn_hanshou_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,546},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_hengyangliuhuqiang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,209},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_hengyangliuhuqiang_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,875},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_huaihuahongguaiwan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,37}}</string>
                <key>sourceSize</key>
                <string>{168,37}</string>
            </dict>
            <key>playtype_phz_rn_huaihuahongguaiwan_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,876},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_leiyangzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1040},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_leiyangzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1675},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_phz_rn_loudifangpaofa_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1561},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>playtype_phz_rn_loudifangpaofa_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1548},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,35}}</string>
                <key>sourceSize</key>
                <string>{162,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangbopi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1179},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangbopi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1807},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangpaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangpaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1384},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangtan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangtan_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,714},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangxiangghz_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,40},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_xiangxiangghz_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,879},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_yongxingmaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>playtype_phz_rn_yongxingmaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1220},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_phz_rn_yueyangwaihuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{169,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,35}}</string>
                <key>sourceSize</key>
                <string>{169,35}</string>
            </dict>
            <key>playtype_phz_rn_yueyangwaihuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,549},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>playtype_phz_rn_yxpenghuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_yxpenghuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,370},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_roomname_liang_15zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,407},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>playtype_roomname_liang_15zhang_bxp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{164,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,36}}</string>
                <key>sourceSize</key>
                <string>{164,36}</string>
            </dict>
            <key>playtype_roomname_liang_2ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1808},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_liang_2renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,943},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>playtype_roomname_liang_2renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1044},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_2renzhuanzhuan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,378},{167,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,36}}</string>
                <key>sourceSize</key>
                <string>{167,36}</string>
            </dict>
            <key>playtype_roomname_liang_3renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1837},{118,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,35}}</string>
                <key>sourceSize</key>
                <string>{118,35}</string>
            </dict>
            <key>playtype_roomname_liang_3renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1210},{118,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>playtype_roomname_liang_4ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1175},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_changde.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,676},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_changsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,876},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_chenxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,537},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_chenzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,407},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_errenyifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1147},{133,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,35}}</string>
                <key>sourceSize</key>
                <string>{133,35}</string>
            </dict>
            <key>playtype_roomname_liang_hengyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,272},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,272},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,811},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_jingdian_bxp.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,40},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_roomname_liang_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,542},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_shaoyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,137},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_xiangtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,137},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_xiangyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>playtype_roomname_liang_yiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1871},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_yongzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_yueyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1893},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_zhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_zhuaxiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>playtype_roomname_putong_15zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1591},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>playtype_roomname_putong_15zhang_bxp.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1711},{159,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,34}}</string>
                <key>sourceSize</key>
                <string>{159,34}</string>
            </dict>
            <key>playtype_roomname_putong_2ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1413},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_putong_2renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1676},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_2renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1460},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_2renzhuanzhuan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>playtype_roomname_putong_3renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1983},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>playtype_roomname_putong_3renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1717},{119,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,36}}</string>
                <key>sourceSize</key>
                <string>{119,36}</string>
            </dict>
            <key>playtype_roomname_putong_4ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1412},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_putong_changde.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1676},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_changsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1543},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_chenxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,672},{135,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,35}}</string>
                <key>sourceSize</key>
                <string>{135,35}</string>
            </dict>
            <key>playtype_roomname_putong_chenzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1544},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_errenyifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,808},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>playtype_roomname_putong_hengyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1548},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1544},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1808},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_jingdian_bxp.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,205},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_roomname_putong_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1329},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_shaoyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1280},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_xiangtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1281},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_xiangyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1056},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_roomname_putong_yiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1309},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_yongzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1314},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_yueyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,945},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>playtype_roomname_putong_zhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1078},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_zhuaxiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,40},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playtype_items.png</string>
            <key>size</key>
            <string>{260,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2632222b85b8d7dc57d54d2fa168e35:1/1$</string>
            <key>textureFileName</key>
            <string>playtype_items.png</string>
        </dict>
    </dict>
</plist>
