<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xty_qinyouquan01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,530},{246,130}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,398},{246,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,496},{244,128}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{244,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{246,132}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{246,132}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,538},{246,130}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,742},{244,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{244,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,662},{244,128}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{244,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{244,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{244,132}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,250},{244,130}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{244,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,662},{244,130}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{244,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,268},{246,128}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{246,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{246,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,406},{246,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{246,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,670},{246,128}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{246,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,682},{246,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{246,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,670},{248,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{248,128}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,138},{248,134}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{248,134}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{248,134}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{248,134}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{248,134}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{248,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{248,136}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{248,138}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{248,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{248,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,136},{246,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
            <key>Xty_qinyouquan01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,274},{246,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{246,130}}</string>
                <key>sourceSize</key>
                <string>{254,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xty_qinyouquan01.png</string>
            <key>size</key>
            <string>{988,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b939a0ef15d69f9cf69b622a30066e0$</string>
            <key>textureFileName</key>
            <string>Xty_qinyouquan01.png</string>
        </dict>
    </dict>
</plist>
