<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xty_3tb02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,146},{23,22}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{23,22}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,168},{23,30}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{23,30}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,88},{23,30}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{23,30}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,122},{23,28}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{23,28}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,170},{21,22}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{21,22}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,89},{29,32}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{29,32}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,88},{29,32}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{29,32}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,89},{27,30}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{27,30}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,120},{25,26}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{25,26}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{47,28}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{47,28}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{47,28}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{47,28}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{45,28}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,28}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,60},{27,28}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{27,28}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{33,44}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{33,44}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,86},{31,42}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{31,42}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,42},{31,42}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{31,42}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,175},{15,16}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{15,16}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,132},{27,34}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{27,34}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,60},{27,34}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{27,34}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,130},{27,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{27,32}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,118},{23,24}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{23,24}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,152},{27,24}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{27,24}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,164},{27,24}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{27,24}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,148},{25,24}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{25,24}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,170},{21,22}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{21,22}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,60},{47,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{47,26}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,32},{47,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{47,26}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,32},{47,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{47,26}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,120},{23,24}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{23,24}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{41,40}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{41,40}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,40}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{41,40}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>Xty_3tb02_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{41,38}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{41,38}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xty_3tb02.png</string>
            <key>size</key>
            <string>{193,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87aa25ef4233d8215472a9da4a3f94ce$</string>
            <key>textureFileName</key>
            <string>Xty_3tb02.png</string>
        </dict>
    </dict>
</plist>
