<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,286},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>btn_lianxifangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,86},{213,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,53}}</string>
                <key>sourceSize</key>
                <string>{213,53}</string>
            </dict>
            <key>btn_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,435},{158,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,53}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>
            </dict>
            <key>btn_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{158,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,53}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>
            </dict>
            <key>btx_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>btx_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,225},{63,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>btx_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,256},{63,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,28}}</string>
                <key>sourceSize</key>
                <string>{63,28}</string>
            </dict>
            <key>club_btx_baocun.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,292},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>club_btx_buxiangql.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,482},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
            <key>club_btx_jvjuecl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{160,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>club_btx_quedingsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
            <key>club_btx_xianzailx.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,385},{159,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,40}}</string>
                <key>sourceSize</key>
                <string>{159,40}</string>
            </dict>
            <key>hl_lianxifangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,49}}</string>
                <key>sourceSize</key>
                <string>{258,49}</string>
            </dict>
            <key>hl_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{174,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,49}}</string>
                <key>sourceSize</key>
                <string>{174,49}</string>
            </dict>
            <key>hl_zhaoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{176,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,49}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>huoyue_btn_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>huoyue_btn_yiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,385},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>huoyue_btn_zixun.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,490},{154,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,64}}</string>
                <key>sourceSize</key>
                <string>{154,64}</string>
            </dict>
            <key>huoyue_btx_qianw.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,586},{110,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{110,28}</string>
            </dict>
            <key>huoyue_btx_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>huoyue_btx_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,265},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>huoyue_btx_yiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,163},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>huoyue_btx_zixun.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,556},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>huoyue_hl_jianglilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,245},{175,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,49}}</string>
                <key>sourceSize</key>
                <string>{175,49}</string>
            </dict>
            <key>huoyue_hl_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,193},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>huoyue_hl_yaoqingdap.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,141},{176,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,50}}</string>
                <key>sourceSize</key>
                <string>{176,50}</string>
            </dict>
            <key>huoyue_hl_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{175,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,49}}</string>
                <key>sourceSize</key>
                <string>{175,49}</string>
            </dict>
            <key>huoyue_hl_zhaoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{176,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,49}}</string>
                <key>sourceSize</key>
                <string>{176,49}</string>
            </dict>
            <key>huoyue_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,153},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>huoyue_jianglilignqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{224,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,82}}</string>
                <key>sourceSize</key>
                <string>{224,82}</string>
            </dict>
            <key>huoyue_pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>huoyue_pop_jianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,316},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>huoyue_yaoqingjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,427},{158,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,53}}</string>
                <key>sourceSize</key>
                <string>{158,53}</string>
            </dict>
            <key>img_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,319},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>img_hengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,524},{144,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,87}}</string>
                <key>sourceSize</key>
                <string>{144,87}</string>
            </dict>
            <key>img_hengkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,296},{165,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,87}}</string>
                <key>sourceSize</key>
                <string>{165,87}</string>
            </dict>
            <key>img_hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,222},{64,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,1}}</string>
                <key>sourceSize</key>
                <string>{64,1}</string>
            </dict>
            <key>img_liaotiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{257,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,98}}</string>
                <key>sourceSize</key>
                <string>{257,98}</string>
            </dict>
            <key>ioc_hongdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,135},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>ioc_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,86},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>ioc_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,367},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>ioc_zixun.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,190},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_recommendqinyou.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff201d5c3437156520aa3ae9e3b45dc5:1/1$</string>
            <key>textureFileName</key>
            <string>guild_recommendqinyou.png</string>
        </dict>
    </dict>
</plist>
