<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playtype_phz_rn_changdeduohongdui_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdeduohongdui_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,670},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changdehongheidian_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,171},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdehongheidian_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,507},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changdequanmingtang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_changdequanmingtang_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,506},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>playtype_phz_rn_changsha_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_changsha_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_chenzhoumaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_chenzhoumaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_guilinzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,970},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_phz_rn_guilinzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1341},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>playtype_phz_rn_guiyangzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_guiyangzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,943},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_phz_rn_hanshou_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{167,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,35}}</string>
                <key>sourceSize</key>
                <string>{167,35}</string>
            </dict>
            <key>playtype_phz_rn_hanshou_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_hengyangliuhuqiang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_hengyangliuhuqiang_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_huaihuahongguaiwan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,37}}</string>
                <key>sourceSize</key>
                <string>{168,37}</string>
            </dict>
            <key>playtype_phz_rn_huaihuahongguaiwan_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{163,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,35}}</string>
                <key>sourceSize</key>
                <string>{163,35}</string>
            </dict>
            <key>playtype_phz_rn_leiyangzipai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_leiyangzipai_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1739},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_phz_rn_loudifangpaofa_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,340},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>playtype_phz_rn_loudifangpaofa_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,35}}</string>
                <key>sourceSize</key>
                <string>{162,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangbopi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1214},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangbopi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1811},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangpaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_shaoyangpaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangtan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangtan_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>playtype_phz_rn_xiangxiangghz_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>playtype_phz_rn_xiangxiangghz_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_phz_rn_yongxingmaohuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>playtype_phz_rn_yongxingmaohuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_phz_rn_yueyangwaihuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{169,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,35}}</string>
                <key>sourceSize</key>
                <string>{169,35}</string>
            </dict>
            <key>playtype_phz_rn_yueyangwaihuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{164,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,34}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>playtype_phz_rn_yxpenghuzi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{168,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,36}}</string>
                <key>sourceSize</key>
                <string>{168,36}</string>
            </dict>
            <key>playtype_phz_rn_yxpenghuzi_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
            <key>playtype_roomname_liang_15zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1612},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>playtype_roomname_liang_2ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_liang_2renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1305},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>playtype_roomname_liang_2renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1106},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_2renzhuanzhuan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,171},{167,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,36}}</string>
                <key>sourceSize</key>
                <string>{167,36}</string>
            </dict>
            <key>playtype_roomname_liang_3renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{118,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,35}}</string>
                <key>sourceSize</key>
                <string>{118,35}</string>
            </dict>
            <key>playtype_roomname_liang_3renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1627},{118,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>playtype_roomname_liang_4ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1241},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_changde.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_changsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,834},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_chenzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_hengyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1240},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1106},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>playtype_roomname_liang_shaoyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1079},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_xiangtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_xiangyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,339},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>playtype_roomname_liang_yiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,807},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_yongzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_yueyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,671},{135,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,36}}</string>
                <key>sourceSize</key>
                <string>{135,36}</string>
            </dict>
            <key>playtype_roomname_liang_zhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>playtype_roomname_liang_zhuaxiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>playtype_roomname_putong_15zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1746},{125,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>playtype_roomname_putong_2ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1742},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_putong_2renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_2renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1506},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_2renzhuanzhuan_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>playtype_roomname_putong_3renchangsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1768},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>playtype_roomname_putong_3renzhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1507},{119,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,36}}</string>
                <key>sourceSize</key>
                <string>{119,36}</string>
            </dict>
            <key>playtype_roomname_putong_4ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1637},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>playtype_roomname_putong_changde.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_changsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_chenzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1631},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_hengyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1377},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_jingdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1481},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1375},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>playtype_roomname_putong_shaoyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_xiangtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1523},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_xiangyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>playtype_roomname_putong_yiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_yongzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>playtype_roomname_putong_yueyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1374},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>playtype_roomname_putong_zhuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1349},{131,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,36}}</string>
                <key>sourceSize</key>
                <string>{131,36}</string>
            </dict>
            <key>playtype_roomname_putong_zhuaxiazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{164,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,35}}</string>
                <key>sourceSize</key>
                <string>{164,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playtype_items.png</string>
            <key>size</key>
            <string>{249,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65dc92335f14f40e64b73ad5840177e:1/1$</string>
            <key>textureFileName</key>
            <string>playtype_items.png</string>
        </dict>
    </dict>
</plist>
