<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_shandian02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,798},{98,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{98,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,600},{202,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,402},{202,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,204},{202,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,608},{202,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,410},{202,196}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{202,200}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{204,204}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{204,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,646},{202,198}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,442},{202,202}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{202,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,208},{202,200}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{202,202}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{202,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,228},{202,212}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{202,216}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,224}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{202,226}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{202,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xgd_shandian02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,226}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{202,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_shandian02.png</string>
            <key>size</key>
            <string>{894,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95185e624133382d43199e9de13f2602$</string>
            <key>textureFileName</key>
            <string>Xgd_shandian02.png</string>
        </dict>
    </dict>
</plist>
