<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_shandian04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{164,176}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{164,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{170,164}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{170,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{168,182}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{168,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,180},{156,168}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{156,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{148,176}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{148,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,338},{160,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{160,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,336},{168,164}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{168,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Xgd_shandian04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,190}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{178,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_shandian04.png</string>
            <key>size</key>
            <string>{528,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903e548de1b6f01f8f18bee46ff57f0e$</string>
            <key>textureFileName</key>
            <string>Xgd_shandian04.png</string>
        </dict>
    </dict>
</plist>
