<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_shandian05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{274,286}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{274,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,546},{262,274}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{262,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{270,278}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{270,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{260,268}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{260,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,274},{260,278}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{260,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{266,264}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{266,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,554},{266,274}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{266,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,274},{272,270}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{272,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Xgd_shandian05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,290}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{276,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_shandian05.png</string>
            <key>size</key>
            <string>{832,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e2fc2177cacc5da51d6b682da8daebc$</string>
            <key>textureFileName</key>
            <string>Xgd_shandian05.png</string>
        </dict>
    </dict>
</plist>
