<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PT_UIFX_GongXiHuoDe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{333,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,333}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,133},{507,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,104}}</string>
                <key>sourceSize</key>
                <string>{507,104}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{258,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,74}}</string>
                <key>sourceSize</key>
                <string>{258,74}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,239},{399,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,402}}</string>
                <key>sourceSize</key>
                <string>{399,402}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{196,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,17}}</string>
                <key>sourceSize</key>
                <string>{196,17}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{196,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,17}}</string>
                <key>sourceSize</key>
                <string>{196,17}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,6}}</string>
                <key>sourceSize</key>
                <string>{40,6}</string>
            </dict>
            <key>PT_UIFX_GongXiHuoDe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_UIFX_GongXiHuoDe_Sprite1.png</string>
            <key>size</key>
            <string>{808,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de7fdca0444285bae4a9e3cc6122fe24$</string>
            <key>textureFileName</key>
            <string>PT_UIFX_GongXiHuoDe_Sprite1.png</string>
        </dict>
    </dict>
</plist>
