<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongbao_01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>hongbao_01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,234},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hb_golw1.png</string>
            <key>size</key>
            <string>{1858,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a97c4d5293a5272ffb20bd3bfacb1ce$</string>
            <key>textureFileName</key>
            <string>hb_golw1.png</string>
        </dict>
    </dict>
</plist>
