<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phb_1_xl_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>phb_1_xl_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>phb_1_fx.png</string>
            <key>size</key>
            <string>{1982,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08dd36b6efdbf6360f4eae4eb536cdaf$</string>
            <key>textureFileName</key>
            <string>phb_1_fx.png</string>
        </dict>
    </dict>
</plist>
