<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengyuan_btn_lijifuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,304},{95,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,25}}</string>
                <key>sourceSize</key>
                <string>{95,25}</string>
            </dict>
            <key>chengyuan_btn_pingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,338},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>chengyuan_btn_pingbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,401},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>chengyuan_btn_qianwangweixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,548},{159,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,39}}</string>
                <key>sourceSize</key>
                <string>{159,39}</string>
            </dict>
            <key>chengyuan_btn_xiugai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>chengyuan_btn_yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,399},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>chengyuan_btx_henxintuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{158,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,40}}</string>
                <key>sourceSize</key>
                <string>{158,40}</string>
            </dict>
            <key>chengyuan_btx_jf.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,406},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>chengyuan_btx_jrxhw.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,204},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>chengyuan_btx_jrxhw_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{200,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>chengyuan_btx_qxpb.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,206},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>chengyuan_btx_tcqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,608},{197,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,40}}</string>
                <key>sourceSize</key>
                <string>{197,40}</string>
            </dict>
            <key>chengyuan_btx_tcqyq_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,602},{197,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,40}}</string>
                <key>sourceSize</key>
                <string>{197,40}</string>
            </dict>
            <key>chengyuan_btx_tianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,349},{76,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>chengyuan_btx_tianjia_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,338},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>chengyuan_btx_zaixiangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,41},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
            <key>chengyuan_hl_chengyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,349},{87,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,48}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>chengyuan_hl_gerenziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,427},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{173,48}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>chengyuan_hl_tjpbyqcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{342,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,50}}</string>
                <key>sourceSize</key>
                <string>{342,50}</string>
            </dict>
            <key>chengyuan_hl_wodeziliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,454},{175,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,50}}</string>
                <key>sourceSize</key>
                <string>{175,50}</string>
            </dict>
            <key>chengyuan_ico_huiliu.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,119},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>chengyuan_ico_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,172},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>chengyuan_img_jinggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,93},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>chengyuan_img_pingbifenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,454},{155,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,5}}</string>
                <key>sourceSize</key>
                <string>{155,5}</string>
            </dict>
            <key>chengyuan_img_zaixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chengyuan_input_xinxidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,401},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>chengyuan_left_chengyuanliebiao_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,316},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>chengyuan_left_chengyuanliebiao_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,283},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>chengyuan_left_lihuishenpi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,115},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>chengyuan_left_lihuishenpi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,81},{118,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,32}}</string>
                <key>sourceSize</key>
                <string>{118,32}</string>
            </dict>
            <key>chengyuan_left_pingbiyaoqing_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,250},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>chengyuan_left_pingbiyaoqing_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,217},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>chengyuan_left_ruhuishenpi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,183},{119,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,32}}</string>
                <key>sourceSize</key>
                <string>{119,32}</string>
            </dict>
            <key>chengyuan_left_ruhuishenpi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,149},{119,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,32}}</string>
                <key>sourceSize</key>
                <string>{119,32}</string>
            </dict>
            <key>chengyuan_touxiang_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,226}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>chengyuan_touxiang_big_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{243,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,313}}</string>
                <key>sourceSize</key>
                <string>{243,313}</string>
            </dict>
            <key>chengyuan_txt_xindaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,37}}</string>
                <key>sourceSize</key>
                <string>{462,37}</string>
            </dict>
            <key>com_btx_jztz_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,506},{159,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,40}}</string>
                <key>sourceSize</key>
                <string>{159,40}</string>
            </dict>
            <key>guild_icon_mowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,807},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>guild_icon_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,566},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>yaoqing_img_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{194,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,24}}</string>
                <key>sourceSize</key>
                <string>{194,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_member.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080f053bb0c3e6a14d286dec3807f30e:1/1$</string>
            <key>textureFileName</key>
            <string>guild_member.png</string>
        </dict>
    </dict>
</plist>
