<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_alerl_bg_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,86},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>guild_dayang_btn_fuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,76},{120,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,41}}</string>
                <key>sourceSize</key>
                <string>{120,41}</string>
            </dict>
            <key>guild_dayang_btn_shenqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,965},{51,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,170}}</string>
                <key>sourceSize</key>
                <string>{51,172}</string>
            </dict>
            <key>guild_dayang_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,55},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>guild_dayang_btx_jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,965},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>guild_dayang_btx_ljcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,35},{160,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>guild_dayang_btx_tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>guild_dayang_btx_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,171},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>guild_dayang_img_dayangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{961,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{961,59}}</string>
                <key>sourceSize</key>
                <string>{961,59}</string>
            </dict>
            <key>guild_dayang_img_xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,35},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>guild_dayang_line_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,119},{50,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,118}}</string>
                <key>sourceSize</key>
                <string>{50,118}</string>
            </dict>
            <key>guild_dayang_tab_xiuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,156},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>guild_guanli_hl_jrfjsq.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{190,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,31}}</string>
                <key>sourceSize</key>
                <string>{190,31}</string>
            </dict>
            <key>guild_guanli_hl_xxmssm.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,212},{257,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,50}}</string>
                <key>sourceSize</key>
                <string>{257,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leisure_close.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d86f5bcba2c74f565a654670366c08:1/1$</string>
            <key>textureFileName</key>
            <string>leisure_close.png</string>
        </dict>
    </dict>
</plist>
