<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,70}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,99},{89,70}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{149,106}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,72},{149,106}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{203,146}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{203,146}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{223,182}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{223,182}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,936},{225,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,188}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,936},{223,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,188}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,936},{225,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,188}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,742},{211,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{211,188}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,936},{225,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,186}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_BeiPengPai_XueHua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,742},{205,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{205,188}}</string>
                <key>sourceSize</key>
                <string>{225,188}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{164,128}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{164,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{144,184}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{144,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{162,188}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{162,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,556},{192,184}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,556},{198,184}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,374},{198,178}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{196,186}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,556},{196,180}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,742},{196,192}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,192},{194,176}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{194,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,374},{192,180}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{192,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChiPengGang_XueHua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,556},{194,184}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{194,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,374},{194,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{194,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{196,176}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{196,176}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,192},{190,180}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{190,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{196,180}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{184,176}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{184,176}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{178,178}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{178,178}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,192},{184,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{184,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,192},{184,180}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{184,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,192},{182,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{182,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,374},{196,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_XueHua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,742},{208,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,180}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_CardFX_XueHua.png</string>
            <key>size</key>
            <string>{1133,1126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd2f1d3ce6a045cf000bb51fd718594$</string>
            <key>textureFileName</key>
            <string>ZZ_CardFX_XueHua.png</string>
        </dict>
    </dict>
</plist>
