<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_CardFX_ChuPai_Public_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{76,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,92},{80,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,92},{76,90}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,90}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,92},{80,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ZZ_CardFX_ChuPai_Public_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,92},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_CardFX_ChuPai_Public.png</string>
            <key>size</key>
            <string>{412,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e1a362608c67ff6d207d8687f8291c$</string>
            <key>textureFileName</key>
            <string>ZZ_CardFX_ChuPai_Public.png</string>
        </dict>
    </dict>
</plist>
