<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_CardFX_CaiShen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,49},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>ZZ_CardFX_CaiShen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>ZZ_CardFX_CaiShen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>ZZ_CardFX_CaiShen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{57,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>ZZ_CardFX_CaiShen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ZZ_CardFX_CaiShen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_CardFX_CaiShen.png</string>
            <key>size</key>
            <string>{186,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:130476033239c319d4e2de225cc9a1aa$</string>
            <key>textureFileName</key>
            <string>ZZ_CardFX_CaiShen.png</string>
        </dict>
    </dict>
</plist>
