<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DT_SceneFX_ChunJie_Logo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>DT_SceneFX_ChunJie_Logo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,80},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DT_SceneFX_ChunJie_Logo.png</string>
            <key>size</key>
            <string>{1464,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37902651bc098ea6a1b47dae032e5dc9$</string>
            <key>textureFileName</key>
            <string>DT_SceneFX_ChunJie_Logo.png</string>
        </dict>
    </dict>
</plist>
