<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bg_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{422,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,422}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>xing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XL_ButtonFX_TongYongTanChuang.png</string>
            <key>size</key>
            <string>{802,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e1d6cd773d98013b9543ff650ebe8d$</string>
            <key>textureFileName</key>
            <string>XL_ButtonFX_TongYongTanChuang.png</string>
        </dict>
    </dict>
</plist>
