<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZZ_UIFX_GeRenXinXi_GuoQing_Small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
            <key>ZZ_UIFX_GeRenXinXi_GuoQing_Small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_GuoQing_Small_Sprite1.png</string>
            <key>size</key>
            <string>{406,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9de86f357fb524e76d094b15b06093d$</string>
            <key>textureFileName</key>
            <string>ZZ_UIFX_GeRenXinXi_GuoQing_Small_Sprite1.png</string>
        </dict>
    </dict>
</plist>
