<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xgd_feng06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,987},{313,313}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{313,313}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,319},{331,315}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{331,315}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,961},{333,313}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{333,313}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,337},{333,311}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{333,311}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,961},{313,317}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{313,317}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,636},{331,313}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{331,313}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,319},{333,315}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{333,315}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{333,317}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{333,317}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,672},{313,321}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{313,321}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{331,317}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{331,317}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{333,315}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{333,315}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{333,313}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{333,313}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,642},{313,317}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{313,317}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{331,315}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{331,315}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,319}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{333,319}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
            <key>Xgd_feng06_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{333,311}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{333,311}}</string>
                <key>sourceSize</key>
                <string>{347,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xgd_feng06.png</string>
            <key>size</key>
            <string>{1318,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01b0df48c437a49cec57d64114ccb60a$</string>
            <key>textureFileName</key>
            <string>Xgd_feng06.png</string>
        </dict>
    </dict>
</plist>
