<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guid_sp_huawen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,200},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>guild_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,193},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>guild_my_red_packet_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,116},{138,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,75}}</string>
                <key>sourceSize</key>
                <string>{138,75}</string>
            </dict>
            <key>my_red_packet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1196,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1196,702}}</string>
                <key>sourceSize</key>
                <string>{1196,702}</string>
            </dict>
            <key>my_red_packet_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,172},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>my_red_packet_bg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{268,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,36}}</string>
                <key>sourceSize</key>
                <string>{268,36}</string>
            </dict>
            <key>my_red_packet_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{270,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,75}}</string>
                <key>sourceSize</key>
                <string>{270,75}</string>
            </dict>
            <key>my_red_packet_btn_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,193},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>my_red_packet_recordtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,79},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>my_red_packet_time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,172},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>my_red_packet_time_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,220},{472,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,54}}</string>
                <key>sourceSize</key>
                <string>{472,54}</string>
            </dict>
            <key>my_red_packet_tixian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,141},{115,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,29}}</string>
                <key>sourceSize</key>
                <string>{115,29}</string>
            </dict>
            <key>my_red_packet_tixian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,110},{115,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,29}}</string>
                <key>sourceSize</key>
                <string>{115,29}</string>
            </dict>
            <key>my_red_packet_tixian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,79},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>my_red_packet_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,226},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_my_red_packet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7d302ff95d6a1d147611a8660b89be0:1/1$</string>
            <key>textureFileName</key>
            <string>guild_my_red_packet.png</string>
        </dict>
    </dict>
</plist>
