<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongbao_btn_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,351},{70,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,33}}</string>
                <key>sourceSize</key>
                <string>{70,33}</string>
            </dict>
            <key>hongbao_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,90},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>hongbao_btn_shut.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,352},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>hongbao_btn_tixianjilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,254},{127,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>hongbao_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>hongbao_btx_1yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,283},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>hongbao_btx_30yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,178},{149,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,36}}</string>
                <key>sourceSize</key>
                <string>{149,36}</string>
            </dict>
            <key>hongbao_btx_5yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,216},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>hongbao_img_di0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1166,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1166,706}}</string>
                <key>sourceSize</key>
                <string>{1166,706}</string>
            </dict>
            <key>hongbao_img_huanwen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,324},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>hongbao_img_huawen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,321},{47,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,29}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>hongbao_img_kongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,178},{144,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,148}}</string>
                <key>sourceSize</key>
                <string>{144,148}</string>
            </dict>
            <key>hongbao_tips_xianyici.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,321},{93,28}}</string>
                <key>offset</key>
                <string>{-90,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{93,28}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_red_packet_des.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a626f8c2152f6e841c38beb1e652fe8c:1/1$</string>
            <key>textureFileName</key>
            <string>guild_red_packet_des.png</string>
        </dict>
    </dict>
</plist>
