<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,195},{513,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,213}}</string>
                <key>sourceSize</key>
                <string>{513,213}</string>
            </dict>
            <key>btn_help_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,137},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>btn_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,40},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>guil_btn_task_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>guild_red_packet_red_point_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,137},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>guild_red_packet_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{226,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,57}}</string>
                <key>sourceSize</key>
                <string>{226,57}</string>
            </dict>
            <key>guild_redpacket_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,36}}</string>
                <key>sourceSize</key>
                <string>{447,36}</string>
            </dict>
            <key>guild_redpacket_create_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,393},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>guild_redpacket_info_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{89,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,77}}</string>
                <key>sourceSize</key>
                <string>{89,77}</string>
            </dict>
            <key>guild_redpacket_info_tips_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,373},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>guild_redpacket_slected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,116}}</string>
                <key>sourceSize</key>
                <string>{232,116}</string>
            </dict>
            <key>guild_redpacket_unslect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{232,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,116}}</string>
                <key>sourceSize</key>
                <string>{232,116}</string>
            </dict>
            <key>red_packe_sp_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{365,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,95}}</string>
                <key>sourceSize</key>
                <string>{365,95}</string>
            </dict>
            <key>red_packe_sp_open1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,673},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>red_packe_sp_open2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,553},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>red_packe_sp_openb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,391},{160,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,41}}</string>
                <key>sourceSize</key>
                <string>{160,41}</string>
            </dict>
            <key>red_packe_sp_openb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,230},{159,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,42}}</string>
                <key>sourceSize</key>
                <string>{159,42}</string>
            </dict>
            <key>red_packe_sp_opens.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{220,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,75}}</string>
                <key>sourceSize</key>
                <string>{220,75}</string>
            </dict>
            <key>sp_jiaobiao_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,126},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_red_packet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2766d7ff5c2c7c0c3a57fc77f49de1ee:1/1$</string>
            <key>textureFileName</key>
            <string>guild_red_packet.png</string>
        </dict>
    </dict>
</plist>
