<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_ico_tuijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>guild_tuijian_btn_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,96},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>guild_tuijian_btn_kaifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>guild_tuijian_btn_kaifang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,38},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>guild_tuijian_btn_shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,251},{77,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,108}}</string>
                <key>sourceSize</key>
                <string>{77,108}</string>
            </dict>
            <key>guild_tuijian_btx_cktjgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{166,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,28}}</string>
                <key>sourceSize</key>
                <string>{166,28}</string>
            </dict>
            <key>guild_tuijian_btx_yjkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{111,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,27}}</string>
                <key>sourceSize</key>
                <string>{111,27}</string>
            </dict>
            <key>guild_tuijian_hl_qyqfjtj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{299,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{299,49}}</string>
                <key>sourceSize</key>
                <string>{301,51}</string>
            </dict>
            <key>guild_tuijian_hl_tjgz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>guild_tuijian_hl_yjkfsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,251},{256,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,50}}</string>
                <key>sourceSize</key>
                <string>{256,50}</string>
            </dict>
            <key>guild_tuijian_img_xiaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,146},{120,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,103}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>guild_tuijian_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{9,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,2}}</string>
                <key>sourceSize</key>
                <string>{9,2}</string>
            </dict>
            <key>guild_tuijian_pnt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_recommend_room.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b1f9727287d149852caa96d262c784:1/1$</string>
            <key>textureFileName</key>
            <string>guild_recommend_room.png</string>
        </dict>
    </dict>
</plist>
