<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HD_UIFX_ZhuanPanChouJiang_Zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,212}}</string>
                <key>sourceSize</key>
                <string>{188,212}</string>
            </dict>
            <key>HD_UIFX_ZhuanPanChouJiang_Zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{55,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,87}}</string>
                <key>sourceSize</key>
                <string>{55,87}</string>
            </dict>
            <key>HD_UIFX_ZhuanPanChouJiang_Zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HD_UIFX_ZhuanPanChouJiang_Zi_Sprite_1.png</string>
            <key>size</key>
            <string>{433,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b4c631f04d1dfe1ddd94222f69398b7$</string>
            <key>textureFileName</key>
            <string>HD_UIFX_ZhuanPanChouJiang_Zi_Sprite_1.png</string>
        </dict>
    </dict>
</plist>
