<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xbsc_loading_lizi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,222},{120,72}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{120,72}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{126,74}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{126,74}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,74}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{136,74}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{140,66}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{140,66}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,296},{118,70}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{118,70}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,148},{122,72}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{122,72}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{130,68}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{130,68}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,78},{98,68}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,15},{98,68}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{108,66}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{108,66}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{106,66}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{106,66}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,164},{94,68}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,18},{94,68}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,70},{92,74}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,14},{92,74}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,260},{96,78}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,11},{96,78}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,238},{100,82}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{100,82}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
            <key>Xbsc_loading_lizi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,148},{104,88}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{104,88}}</string>
                <key>sourceSize</key>
                <string>{162,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Xbsc_loading_lizi.png</string>
            <key>size</key>
            <string>{378,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27c10cfa7656d601e07cc5bfc7c193eb$</string>
            <key>textureFileName</key>
            <string>Xbsc_loading_lizi.png</string>
        </dict>
    </dict>
</plist>
